---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
import {
    CartData,
    PricingSummary,
} from "../../../shared/data/dashboards/ecommerce/cartdata";
const basePath = import.meta.env.BASE_URL;
---

<Layout Seo="Cart">
    <Pageheader
        title="Dashboards"
        subtitle="Ecommerce"
        currentpage="Cart"
        activepage="Cart"
    />
    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-xl-9">
            <div class="card custom-card overflow-hidden">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <tbody>
                                {
                                    CartData.map((product) => (
                                        <tr class="ecommerce-cart" >
                                            <td class={product.borderClass}>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-xxl">
                                                            <Image
                                                                src={
                                                                    product.image
                                                                }
                                                                alt={
                                                                    product.name
                                                                }
                                                            />
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="d-block text-muted mb-1">
                                                            {product.brand}
                                                        </span>
                                                        <h6 class="fw-semibold">
                                                            {product.name}
                                                        </h6>
                                                        <div class="d-flex align-items-center gap-2 fs-13">
                                                            <div>
                                                                Color :{" "}
                                                                <span class="fw-medium text-muted">
                                                                    {
                                                                        product.color
                                                                    }
                                                                </span>
                                                            </div>
                                                            <div class="vr" />
                                                            <div class="">
                                                                Size :{" "}
                                                                <span class="fw-medium text-muted">
                                                                    {
                                                                        product.size
                                                                    }
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class={product.borderClass}>
                                                <span
                                                    class={`badge ${product.stockStatus === "In Stock" ? "bg-success-transparent" : "bg-danger-transparent"} fs-13`}
                                                >
                                                    {product.stockStatus}
                                                </span>
                                            </td>
                                            <td class={product.borderClass}>
                                                <div class="fw-medium">
                                                    ${product.price.toFixed(2)}
                                                </div>
                                            </td>
                                            <td class={product.borderClass}>
                                                <div class="d-inline-flex rounded align-items-center flex-nowrap order-qnt gap-2 p-1 bg-light">
                                                    <a
                                                        href="javascript:void(0);"
                                                        class="badge bg-white p-2 border text-muted fs-13 product-quantity-minus"
                                                    >
                                                        <i class="ri-subtract-line" />
                                                    </a>
                                                    <input
                                                        type="text"
                                                        class="form-control form-control-cart border-0 text-center w-100 shadow-none"
                                                        aria-label="quantity"
                                                        id="product-qty1"
                                                        value={product.quantity}
                                                    />
                                                    <a
                                                        href="javascript:void(0);"
                                                        class="badge bg-white p-2 border text-muted fs-13 product-quantity-plus"
                                                    >
                                                        <i class="ri-add-line" />
                                                    </a>
                                                </div>
                                            </td>
                                            <td class={product.borderClass}>
                                                <div class="fw-medium">
                                                    $
                                                    {(
                                                        product.price *
                                                        product.quantity
                                                    ).toFixed(2)}
                                                </div>
                                            </td>
                                            <td class={product.borderClass}>
                                                <div class="d-flex align-items-center gap-2 lh-1">
                                                    <div>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="text-muted d-inline-flex align-items-center justify-content-center cart-delete"
                                                        >
                                                            <i class="ti ti-trash me-1" />
                                                            Delete
                                                        </a>
                                                    </div>
                                                    <div class="vr" />
                                                    <div>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="text-muted d-inline-flex align-items-center justify-content-center"
                                                        >
                                                            <i class="ti ti-heart me-1" />
                                                            Save For Later
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    ))
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Order Summary</div>
                    <div class="text-end">
                        <span class="text-muted fs-13">Estimated Delivery</span>
                        <span class="d-block fw-medium">13,Apr 2025</span>
                    </div>
                </div>
                <div class="card-header">
                    <span class="d-block fs-14 fw-medium mb-1"
                        >Have a coupon?</span
                    >
                    <div class="input-group mb-1">
                        <input
                            type="text"
                            class="form-control form-control-sm"
                            placeholder="Coupon Code"
                            aria-label="coupon-code"
                            aria-describedby="coupons"
                        />
                        <button
                            class="btn btn-primary input-group-text"
                            id="coupons">Apply</button
                        >
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled cart-order-summary-list">
                        {
                            PricingSummary.map((item) => (
                                <li>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>{item.label}</div>
                                        <div
                                            class={`fw-medium ${item.isDiscount ? "text-danger" : item.isFree ? "text-success" : ""}`}
                                        >
                                            {item.value}
                                        </div>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
                <div class="card-footer d-grid">
                    <a
                        href={`${basePath}dashboards/ecommerces/checkout`}
                        class="btn btn-primary d-inline-flex align-items-center justify-content-center"
                        >Proceed to checkout<i
                            class="ti ti-arrow-narrow-right ms-1"></i></a
                    >
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->
    <script>
        import "../../../scripts/js/custom.js"; 
        import "../../../scripts/js/ecommerces-cart.js"; 
    </script>
</Layout>
