---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
import { OrdersCard } from "../../../shared/data/dashboards/ecommerce/ordersdata";
import "../../../scripts/libs/gridjs/theme/mermaid.min.css";
import "../../../scripts/libs/sweetalert2/sweetalert2.min.css";
---

<Layout Seo="Order-Details">
    <Pageheader
        title="Dashboards"
        subtitle="Ecommerce"
        currentpage="Orders"
        activepage="Orders"
    />

    <!-- Start::row-1 -->
    <div class="row row-cols-xxl-5">
        {
            OrdersCard.map((idx) => (
                <div class="col">
                    <div
                        class={`card custom-card dashboard-main-card overflow-hidden ${idx.priceColor}`}
                    >
                        <div class="card-body">
                            <div class="d-flex align-items-start gap-3">
                                <div class="flex-fill">
                                    <span class="fs-13 fw-medium">
                                        {idx.titles}
                                    </span>
                                    <h4 class="fw-semibold my-2 lh-1">
                                        {idx.count}
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="fs-12 d-block text-muted">
                                            <span class={`text-${idx.iconColor} d-inline-flex align-items-center me-1 fw-semibold`}>
                                                <i class={idx.icon} />
                                                {idx.percent}
                                            </span>
                                            this month
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <span class={`avatar avatar-md bg-${idx.priceColor}-transparent svg-${idx.priceColor}`} set:html={idx.svgIcon}>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
    <!--End::row-1 -->

    <!-- Start::row-2 -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div
                    class="card-header justify-content-between border-bottom-0"
                >
                    <!-- Search Bar -->
                    <div class="w-sm-25">
                        <input
                            class="form-control"
                            type="search"
                            id="search-input"
                            placeholder="Search Product"
                            aria-label="search-product"
                        />
                    </div>

                    <!-- Filters Section -->
                    <div
                        class="d-flex gap-4 flex-wrap w-sm-50 justify-content-end"
                    >
                        <!-- Category Filter -->
                        <div>
                            <div class="dropdown d-grid">
                                <button
                                    class="btn btn-primary-light dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <i class="ri-upload-2-line me-1"></i>Export
                                </button>
                                <ul
                                    class="dropdown-menu"
                                    aria-labelledby="dropdownMenuButton1"
                                >
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i
                                                class="bi bi-file-earmark-excel me-2"
                                            ></i>Excel</a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i
                                                class="bi bi-file-earmark-excel me-2"
                                            ></i>Csv</a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="bi bi-filetype-pdf me-2"
                                            ></i>PDF</a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="bi bi-file-zip me-2"
                                            ></i>Zip</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Status Filter -->
                        <div>
                            <select
                                class="form-control"
                                data-trigger
                                name="choices-single-default"
                                id="payment-status-filter"
                            >
                                <option value="">Payment Status</option>
                                <option value="all">All Status</option>
                                <option value="pending">Pending</option>
                                <option value="completed">Completed</option>
                                <option value="failed">Failed</option>
                                <option value="refunded">Refunded</option>
                                <option value="cancelled">Cancelled</option>
                            </select>
                        </div>

                        <!-- Stock Filter -->
                        <div>
                            <select
                                class="form-control"
                                data-trigger
                                name="choices-single-default"
                                id="delivery-status-filter"
                            >
                                <option value="">Delivery Status</option>
                                <option value="all">All Status</option>
                                <option value="pending">Pending</option>
                                <option value="shipped">Shipped</option>
                                <option value="delivered">Delivered</option>
                                <option value="cancelled">Cancelled</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Table inside the card-body -->
                <div class="card-body p-0">
                    <div id="orders-table" class="grid-card-table"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End::row-2 -->

    <script>
        import "../../../scripts/js/custom.js";
        import "../../../scripts/js/orders.js";
    </script>
</Layout>
