---
import { Image } from "astro:assets";
const { member } = Astro.props;
const Icons = [
    {
        platform: "facebook",
        icon: "facebook-circle",
        url: member.socials?.facebook,
    },
    { platform: "twitter", icon: "twitter-x", url: member.socials?.twitter },
    {
        platform: "linkedin",
        icon: "linkedin-box",
        url: member.socials?.linkedin,
    },
];
---

<div class="card custom-card">
    <img
        src={member.imgSrc.src}
        alt={member.name}
        class="card-img-top"
    />
    <div class="card-body text-center">
        <h6 class="fw-semibold mb-0">{member.name}</h6>
        <span class="text-muted fs-13">{member.role}</span>
        <div class="mt-3 justify-content-center d-flex gap-2">
            {
                Icons.map((idx, index) =>
                    idx.url ? (
                        <button class="btn btn-light btn-icon rounded-circle border">
                            <i class={`ri-${idx.icon}-fill lh-1`} />
                        </button>
                    ) : null,
                )
            }
        </div>
    </div>
</div>
