---
import { Image } from "astro:assets";
const { cardClass, style } = Astro.props;
---

<div class={`card custom-card testimonial-style-2-card ${cardClass}`}>
    <div class="card-body p-5">
        <h5 class="fw-semibold mb-3">{style.title}</h5>
        <div class="mb-3 text-muted">
            {style.description}
        </div>
        <div
            class="d-flex align-items-end justify-content-between flex-wrap gap-2"
        >
            <div class="lh-1">
                <span class="avatar rounded-circle me-2">
                    <Image
                        src={style.imgSrc}
                        alt=""
                        class="img-fluid rounded-circle object-fit-cover"
                    />
                </span>
            </div>
            <div class="flex-fill">
                <span class="d-block fw-semibold">{style.name}</span>
                <span>{style.role}</span>
            </div>
            <div class="text-warning d-block ms-1" set:html={style.stars} />
        </div>
    </div>
</div>
