---
const { price, cardClass } = Astro.props;
---

<div
    class={`card custom-card dashboard-main-card pricing-card pricing-${price.color} ${cardClass}`}
>
    <div class="card-body p-4">
        {
            price.badge && (
                <span class="badge bg-dark text-white pricing-recommended-badge">
                    Recommended
                </span>
            )
        }
        <div class="lh-1 mb-3">
            <span
                class={`avatar avatar-lg avatar-rounded bg-${price.color}-transparent svg-${price.color}`}
                set:html={price.svgIcon}
            />
        </div>
        <h5 class="fw-semibold">{price.title}</h5>
        <p class="text-muted">
            {price.description}
        </p>
        <div class="pricing-count">
            <span class="fs-13 d-block mb-1">Start at</span>
            <div class="d-flex align-items-end gap-2">
                <h2 class="fw-semibold mb-0 lh-1">{price.price}</h2>
                <span class="fs-13">/ {price.user} per user</span>
            </div>
        </div>
        <hr class="section-devider my-4" />
        <ul class="list-unstyled pricing-features-list">
            {
                price.features.map((item, index) => (
                    <li>
                        {typeof item === "string" ? (
                            item
                        ) : (
                            <>
                                <span class="fw-medium">{item.label}</span>{" "}
                                {item.value}
                            </>
                        )}
                    </li>
                ))
            }
        </ul>
        <div class="d-grid mt-4">
            <button class={`btn btn-lg btn-${price.btnColor}`}
                >Get Started</button
            >
        </div>
    </div>
</div>
