---
import { Image } from "astro:assets";
const { cardClass, bodyClass, profile } = Astro.props;
---

<div class={`card custom-card ${cardClass}`}>
    <div class={`card-body ${bodyClass}`}>
        <div class="d-flex align-items-center gap-2 flex-wrap">
            <div class="lh-1">
                <span class="avatar avatar-lg avatar-rounded">
                    <Image src={profile.imgSrc} alt={profile.name} />
                </span>
            </div>
            <div class="flex-fill">
                <span class="fw-semibold d-block">{profile.name}</span>
                <span class="text-muted fs-13">{profile.mail}</span>
            </div>
            <div>
                <button class={`btn btn-${profile.color}-ghost`}
                    ><i class={`ri-user-${profile.icon}-line me-1`}></i>{
                        profile.followers
                    }</button
                >
            </div>
        </div>
    </div>
</div>
