---
const { timeline } = Astro.props;
---

<div class="timeline-step">
    <div
        class="timeline-content"
        data-toggle="popover"
        data-placement="top"
        title=""
        data-content="And here's some amazing content. It's very engaging. Right?"
        data-original-title="2003"
    >
        <div class="timeline-date_time-container">
            <span class={`badge bg-${timeline.bgColor}`}>{timeline.date}</span>
        </div>
        <div class={`inner-circle ${timeline.bgColor}`}></div>
        <p class="fw-medium mt-3 mb-1">{timeline.title}</p>
        <p class="text-muted mb-0 mb-lg-0">
            {timeline.description}
        </p>
    </div>
</div>
