---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
import {
    Invoicedata,
    Invoices,
} from "../../../shared/data/pages/invoice/invoicelistdata";
import SpkInvoicelistcard from "../../../shared/@spk-reusable-components/reusable-pages/invoice/spk-invoicelistcard.astro";
const basePath = import.meta.env.BASE_URL;
---

<Layout Seo="Invoice-List">
    <Pageheader
        title="Pages"
        subtitle="Invoice"
        currentpage="Invoice List"
        activepage="Invoice List"
    />

    <!-- Start::row-1 -->
    <div class="row">
        {
            Invoicedata.map((idx) => (
                <div class="col-xxl-3 col-xl-6">
                    <SpkInvoicelistcard list={idx} />
                </div>
            ))
        }
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Manage Invoices</div>
                    <div class="d-flex">
                        <a
                            href={`${basePath}pages/invoice/create-invoice`}
                            class="btn btn-sm btn-primary btn-wave waves-light"
                            ><i class="ri-add-line fw-medium align-middle me-1"
                            ></i> Create Invoice</a
                        >
                        <div class="dropdown ms-2">
                            <button
                                class="btn btn-icon btn-secondary-light btn-sm btn-wave waves-light"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <i class="ti ti-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);"
                                        >All Invoices</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);"
                                        >Paid Invoices</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);"
                                        >Pending Invoices</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);"
                                        >Overdue Invoices</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">Client</th>
                                    <th scope="col">Invoice ID</th>
                                    <th scope="col">Issued Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {
                                    Invoices.map((invoice) => (
                                        <tr class="invoice-list">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 lh-1">
                                                        <span class="avatar avatar-sm avatar-rounded">
                                                            <Image
                                                                src={
                                                                    invoice.avatar
                                                                }
                                                                alt={
                                                                    invoice.name
                                                                }
                                                            />
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0 fw-medium">
                                                            {invoice.name}
                                                        </p>
                                                        <p class="mb-0 fs-11 text-muted">
                                                            {invoice.email}
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a
                                                    href="javascript:void(0);"
                                                    class="fw-medium text-primary"
                                                >
                                                    {invoice.invoiceId}
                                                </a>
                                            </td>
                                            <td>{invoice.issueDate}</td>
                                            <td>{invoice.amount}</td>
                                            <td>
                                                <span
                                                    class={`badge bg-${invoice.statusColor}-transparent`}
                                                >
                                                    {invoice.status}
                                                </span>
                                            </td>
                                            <td>{invoice.dueDate}</td>
                                            <td>
                                                <button class="btn btn-primary-light btn-icon btn-sm">
                                                    <i class="ri-printer-line" />
                                                </button>
                                                <button class="btn btn-danger-light btn-icon ms-1 btn-sm invoice-btn">
                                                    <i class="ri-delete-bin-5-line" />
                                                </button>
                                            </td>
                                        </tr>
                                    ))
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer border-top-0">
                    <div class="ms-auto">
                        <nav
                            aria-label="Page navigation"
                            class="pagination-style-2"
                        >
                            <ul
                                class="pagination mb-0 flex-wrap justify-content-end"
                            >
                                <li class="page-item disabled">
                                    <a
                                        class="page-link"
                                        href="javascript:void(0);"
                                    >
                                        Prev
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a
                                        class="page-link"
                                        href="javascript:void(0);">1</a
                                    >
                                </li>
                                <li class="page-item active">
                                    <a
                                        class="page-link"
                                        href="javascript:void(0);">2</a
                                    >
                                </li>
                                <li class="page-item">
                                    <a
                                        class="page-link"
                                        href="javascript:void(0);"
                                    >
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a
                                        class="page-link"
                                        href="javascript:void(0);">17</a
                                    >
                                </li>
                                <li class="page-item">
                                    <a
                                        class="page-link text-primary"
                                        href="javascript:void(0);"
                                    >
                                        next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->

    <script>
        import "../../../scripts/js/custom.js";
        import "../../../scripts/js/invoice-list.js";
    </script>
</Layout>
