---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Pageheader from "../../components/Pageheader.astro";
import {
    AnalyticData,
    Devices,
    CountryData,
    InfluencerData,
    Engagementdata,
    BrowsersData,
    ListItemsData,
} from "../../shared/data/dashboards/analyticsdata";
import SpkAnalyticscard from "../../shared/@spk-reusable-components/dashboards-reusable/spk-analyticscard.astro";
---

<Layout Seo="Analytics">
    <!-- Start::page-header -->
    <Pageheader
        title="Dashboards"
        currentpage="Analytics"
        activepage="Analytics"
    />
    <!-- End::page-header -->

    <!-- Start:: row-1 -->
    <div class="row">
        <div class="col-xxl-9">
            <div class="row">
                {
                    AnalyticData.map((idx) => (
                        <div class="col-xxl-3 col-lg-6">
                            <SpkAnalyticscard analytic={idx} />
                        </div>
                    ))
                }
                <div class="col-xxl-4">
                    <div class="card custom-card">
                        <div class="card-header justify-content-between">
                            <div class="card-title">Sessions By Device</div>
                            <div class="dropdown">
                                <a
                                    href="javascript:void(0);"
                                    class="p-2 fs-12 text-muted"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    View All<i
                                        class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"
                                    ></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);">Day</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);">Month</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);">Year</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="sessions-device"></div>
                        </div>
                        <div class="card-footer p-0">
                            <div class="row">
                                {
                                    Devices.map((device) => (
                                        <div class="col">
                                            <div
                                                class={`p-3 text-center ${device.border ? "border-end" : ""}`}
                                            >
                                                <h5 class="fw-semibold mb-1">
                                                    {device.percentage}
                                                </h5>
                                                <span class="fs-12 d-block">
                                                    {device.label}
                                                </span>
                                            </div>
                                        </div>
                                    ))
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-8">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">Audience Metrics</div>
                        </div>
                        <div class="card-body">
                            <div id="audience-metrics"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <div class="card custom-card overflow-hidden">
                        <div class="card-header">
                            <div class="card-title">Visitors By Countries</div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Country</th>
                                            <th>Visitors</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {
                                            CountryData.map((data) => (
                                                <tr>
                                                    <td class="border-bottom-0">
                                                        {data.rank}
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <div class="d-flex align-items-center gap-2">
                                                            <div class="lh-1">
                                                                <span class="avatar avatar-xs">
                                                                    <Image
                                                                        src={
                                                                            data.flagUrl
                                                                        }
                                                                        alt={
                                                                            data.country
                                                                        }
                                                                    />
                                                                </span>
                                                            </div>
                                                            <div class="fw-semibold">
                                                                {data.country}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <span class="fs-12 text-muted me-2">
                                                            (
                                                            <i
                                                                class={`ti ti-arrow-${data.percentageChange.startsWith("-") ? "down text-danger" : "up text-success"} fs-16 align-middle`}
                                                            />
                                                            {
                                                                data.percentageChange
                                                            }
                                                            )
                                                        </span>
                                                        {data.count.toLocaleString()}
                                                    </td>
                                                </tr>
                                            ))
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-8">
                    <div class="card custom-card overflow-hidden">
                        <div class="card-header justify-content-between">
                            <div class="card-title">Top Campaigns</div>
                            <div class="dropdown">
                                <a
                                    href="javascript:void(0);"
                                    class="p-2 fs-12 text-muted tag-link"
                                    data-bs-toggle="dropdown"
                                >
                                    View All<i
                                        class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"
                                    ></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            >Download</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);">Import</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);">Export</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive campaigntable">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">Provider</th>
                                            <th scope="col">Sales</th>
                                            <th scope="col">Goal</th>
                                            <th scope="col">Status</th>
                                            <th scope="col" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {
                                            InfluencerData.map((data) => (
                                                <tr>
                                                    <td class={data.borderClass} >
                                                        <div class="d-flex align-items-center lh-1">
                                                            <span class="avatar avatar-sm p-1 bg-light me-2">
                                                                <Image
                                                                    src={
                                                                        data.avatarUrl
                                                                    }
                                                                    alt={
                                                                        data.name
                                                                    }
                                                                />
                                                            </span>
                                                            <div>
                                                                <>
                                                                    <p class="fw-medium mb-1">
                                                                        {
                                                                            data.name
                                                                        }
                                                                    </p>
                                                                    <span class="fs-12 text-muted">
                                                                        {
                                                                            data.role
                                                                        }
                                                                    </span>
                                                                </>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class={data.borderClass}> {data.earnings} </td>
                                                    <td class={data.borderClass}>
                                                        <span
                                                            class={`text-${data.percentageColor}`}
                                                        >
                                                            {data.percentage}
                                                        </span>
                                                    </td>
                                                    <td class={data.borderClass}>
                                                        <span
                                                            class={`badge ${data.status === "Achieved" ? "bg-success-transparent" : "bg-info-transparent"}`}
                                                        >
                                                            {data.status}
                                                        </span>
                                                    </td>
                                                    <td class={`text-end ${data.borderClass}`}>
                                                        <div class="btn-list">
                                                            <a
                                                                href="javascript:void(0);"
                                                                class="btn btn-light btn-icon btn-sm"
                                                                data-bs-toggle="tooltip"
                                                                title=""
                                                                data-bs-original-title="Edit"
                                                                aria-label="Edit"
                                                            >
                                                                <i class="bi bi-pencil-square" />
                                                            </a>
                                                            <a
                                                                href="javascript:void(0);"
                                                                class="btn btn-light btn-icon btn-sm"
                                                                data-bs-toggle="tooltip"
                                                                title=""
                                                                data-bs-original-title="Delete"
                                                                aria-label="Delete"
                                                            >
                                                                <i class="bi bi-trash" />
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            ))
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header justify-content-between">
                            <div class="card-title">Engagement Metrics</div>
                            <div class="d-flex flex-wrap gap-2">
                                <div>
                                    <input
                                        class="form-control form-control-sm"
                                        type="text"
                                        placeholder="Search Here"
                                        aria-label=".form-control-sm example"
                                    />
                                </div>
                                <div class="dropdown">
                                    <a
                                        href="javascript:void(0);"
                                        class="btn btn-primary btn-sm btn-wave waves-effect waves-light"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        Sort By<i
                                            class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"
                                        ></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a
                                                class="dropdown-item"
                                                href="javascript:void(0);"
                                                >New</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                class="dropdown-item"
                                                href="javascript:void(0);"
                                                >Popular</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                class="dropdown-item"
                                                href="javascript:void(0);"
                                                >Relevant</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="text-center"> S.No </th>
                                            <th> User </th>
                                            <th> Sessions </th>
                                            <th> Country </th>
                                            <th> Page Views </th>
                                            <th> Bounce Rate </th>
                                            <th class="text-center">
                                                Conversion Rate
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {
                                            Engagementdata.map((user) => (
                                                <tr>
                                                    <td class="text-center">
                                                        {user.rank}
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center gap-2">
                                                            <div class="lh-1">
                                                                <span class="avatar avatar-sm avatar-rounded">
                                                                    <Image
                                                                        src={
                                                                            user.avatarUrl
                                                                        }
                                                                        alt={
                                                                            user.name
                                                                        }
                                                                    />
                                                                </span>
                                                            </div>
                                                            <div>
                                                                {user.name}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>{user.clicks}</td>
                                                    <td>
                                                        <div class="d-flex align-items-center gap-2">
                                                            <div class="lh-1">
                                                                <span class="avatar avatar-xs avatar-rounded">
                                                                    <Image
                                                                        src={
                                                                            user.countryFlagUrl
                                                                        }
                                                                        alt={
                                                                            user.country
                                                                        }
                                                                    />
                                                                </span>
                                                            </div>
                                                            <div>
                                                                {user.country}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="">
                                                        {user.views}
                                                    </td>
                                                    <td class="">
                                                        {user.conversionRate}
                                                    </td>
                                                    <td class="text-center">
                                                        {user.percentage}
                                                    </td>
                                                </tr>
                                            ))
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer border-top-0">
                            <div class="d-flex align-items-center flex-wrap">
                                <div>
                                    Showing 5 Entries <i
                                        class="bi bi-arrow-right ms-2 fw-semibold"
                                    ></i>
                                </div>
                                <div class="ms-auto">
                                    <nav
                                        aria-label="Page navigation"
                                        class="pagination-style-4"
                                    >
                                        <ul class="pagination mb-0">
                                            <li class="page-item disabled">
                                                <a
                                                    class="page-link"
                                                    href="javascript:void(0);"
                                                >
                                                    Prev
                                                </a>
                                            </li>
                                            <li class="page-item active">
                                                <a
                                                    class="page-link"
                                                    href="javascript:void(0);"
                                                    >1</a
                                                >
                                            </li>
                                            <li class="page-item">
                                                <a
                                                    class="page-link"
                                                    href="javascript:void(0);"
                                                    >2</a
                                                >
                                            </li>
                                            <li class="page-item">
                                                <a
                                                    class="page-link text-primary"
                                                    href="javascript:void(0);"
                                                >
                                                    next
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card overflow-hidden">
                        <div class="card-header">
                            <div class="card-title">Browser Insights</div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled browser-insights-list">
                                {
                                    BrowsersData.map((browser) => (
                                        <li>
                                            <div class="d-flex align-items-start gap-3">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-rounded avatar-sm">
                                                        <Image
                                                            src={
                                                                browser.imageUrl
                                                            }
                                                            alt={browser.name}
                                                        />
                                                    </span>
                                                </div>
                                                <div class="flex-fill">
                                                    <span class="fw-medium">
                                                        {browser.name}
                                                    </span>
                                                    <span class="d-block text-muted fs-12">
                                                        {browser.company}
                                                    </span>
                                                </div>
                                                <div class="text-end w-25">
                                                    <span class="d-block mb-1 fw-semibold">
                                                        {browser.downloads}
                                                    </span>
                                                    <div class="progress progress-animate progress-xs w-75 ms-auto">
                                                        <div
                                                            class={`progress-bar bg-${browser.progressColor}`}
                                                            role="progressbar"
                                                            style={`width:${browser.progress}%`}
                                                            aria-valuenow={
                                                                browser.progress
                                                            }
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header justify-content-between">
                            <div class="card-title">Users By Time Of Week</div>
                        </div>
                        <div class="card-body p-0">
                            <div id="users-by-time"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">Top Referral Pages</div>
                        </div>
                        <div class="card-body">
                            <div
                                class="d-flex align-items-center mb-3 flex-wrap"
                            >
                                <h4 class="fw-bold mb-0">4,289</h4>
                                <div class="ms-2">
                                    <span class="badge bg-success-transparent"
                                        >1.02<i
                                            class="ri-arrow-up-s-fill align-mmiddle ms-1"
                                        ></i></span
                                    >
                                    <span class="text-muted ms-1 text-nowrap"
                                        >compared to last week</span
                                    >
                                </div>
                            </div>
                            <div
                                class="progress-stacked progress-animate progress-sm mb-4"
                            >
                                <div
                                    class="progress-bar"
                                    role="progressbar"
                                    style="width: 21%"
                                    aria-valuenow="21"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                >
                                </div>
                                <div
                                    class="progress-bar bg-info"
                                    role="progressbar"
                                    style="width: 26%"
                                    aria-valuenow="26"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                >
                                </div>
                                <div
                                    class="progress-bar bg-warning"
                                    role="progressbar"
                                    style="width: 35%"
                                    aria-valuenow="35"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                >
                                </div>
                                <div
                                    class="progress-bar bg-success"
                                    role="progressbar"
                                    style="width: 18%"
                                    aria-valuenow="18"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <ul
                                class="list-unstyled mb-0 pt-2 top-referral-pages"
                            >
                                {
                                    ListItemsData.map((item) => (
                                        <li class={item.className}>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div>{item.path}</div>
                                                <div class="fs-12 text-muted">
                                                    {item.views}
                                                </div>
                                            </div>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">Average Sessions</div>
                        </div>
                        <div class="card-body pb-0">
                            <div
                                class="d-flex gap-3 flex-wrap align-items-center mb-3"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32px"
                                    height="32px"
                                    class="text-primary bg-primary-transparent rounded-1 px-1"
                                    viewBox="0 0 24 24"
                                    ><g fill="currentColor"
                                        ><path
                                            fill-opacity="0.5"
                                            d="M8 13h6v4H8z"></path><path
                                            d="M6 6H4v12h2zm14 1H8v4h12z"
                                        ></path></g
                                    ></svg
                                >
                                <div>
                                    <h6 class="fw-medium mb-0">3m 45s</h6>
                                </div>
                                <div class="ms-auto text-muted fs-11 text-end">
                                    <div class="fw-medium">From Last Week</div>
                                    <span class="text-success fw-semibold">
                                        1.25% <i
                                            class="ri-arrow-up-line lh-1 align-center fs-14 fw-normal"
                                        ></i></span
                                    >
                                </div>
                            </div>
                            <div id="analytics-avgsession"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-1 -->

    <script>
        import "../../scripts/js/analytics-dashboard.js";
        import "../../scripts/js/custom.js";
    </script>
</Layout>

<style></style>
