---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Pageheader from "../../components/Pageheader.astro";
import {
    Appointments,
    Departments,
    Doctors,
    DoctorSchedules,
    GenderData,
    MedicalCards,
    PatientRecords,
    TestRecords,
} from "../../shared/data/dashboards/medicaldata";
import SpkMedicalcard from "../../shared/@spk-reusable-components/dashboards-reusable/spk-medicalcard.astro";
---

<Layout Seo="Medical">
    <Pageheader title="Dashboards" currentpage="Medical" activepage="Medical" />
    <!-- Start:: row-1 -->
    <div class="row">
        <div class="col-xxl-5">
            <div class="row">
                {
                    MedicalCards.map((item) => (
                        <div class="col-xl-6">
                            <SpkMedicalcard
                                cardClass={item.cardClass}
                                bodyClass={item.bodyClass}
                                medical={item.medical}
                            />
                        </div>
                    ))
                }
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header justify-content-between">
                            <div class="card-title">Patient Statistics</div>
                            <div
                                class="btn-group"
                                role="group"
                                aria-label="Basic example"
                            >
                                <button
                                    type="button"
                                    class="btn btn-primary btn-sm btn-wave waves-effect waves-light"
                                    >1D</button
                                >
                                <button
                                    type="button"
                                    class="btn btn-primary-light btn-sm btn-wave waves-effect waves-light"
                                    >1W</button
                                >
                                <button
                                    type="button"
                                    class="btn btn-primary-light btn-sm btn-wave waves-effect waves-light"
                                    >1M</button
                                >
                                <button
                                    type="button"
                                    class="btn btn-primary-light btn-sm btn-wave waves-effect waves-light"
                                    >6M</button
                                >
                                <button
                                    type="button"
                                    class="btn btn-primary-light btn-sm btn-wave waves-effect waves-light"
                                    >1Y</button
                                >
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="patients-statistics"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-7">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card available-treatments-card">
                        <div class="card-header justify-content-between">
                            <div class="card-title">Available Treatments</div>
                            <a
                                href="javascript:void(0);"
                                class="text-muted fs-13"
                                >View All<i
                                    class="ti ti-arrow-narrow-right ms-1"
                                ></i></a
                            >
                        </div>
                        <div class="card-body">
                            <div class="row gy-sm-0 gy-3 gx-3 !flex-wrap">
                                {
                                    Departments.map((dept) => (
                                        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-3 col text-center">
                                            <a
                                                aria-label="anchor"
                                                href="javascript:void(0);"
                                                class={`btn ${dept.btnClass} btn-icon`}
                                            >
                                                <i class={dept.iconClass} />
                                            </a>
                                            <a
                                                href="javascript:void(0);"
                                                class="d-block mt-3 fw-medium"
                                            >
                                                {dept.label}
                                            </a>
                                        </div>
                                    ))
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="card custom-card overflow-hidden">
                        <div class="card-header justify-content-between">
                            <div class="card-title">Today's Appointments</div>
                            <a
                                href="javascript:void(0);"
                                class="text-muted fs-13"
                                >View All<i
                                    class="ti ti-arrow-narrow-right ms-1"
                                ></i></a
                            >
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table
                                    class="table text-nowrap appointments-table"
                                >
                                    <tbody>
                                        {
                                            Appointments.map((appt, index) => (
                                                <tr>
                                                    <td
                                                        class={
                                                            index ===
                                                            Appointments.length -
                                                                1
                                                                ? "border-bottom-0"
                                                                : ""
                                                        }
                                                    >
                                                        <div class="d-flex align-items-center gap-2">
                                                            <div class="lh-1">
                                                                <span class="avatar avatar-sm avatar-rounded">
                                                                    <Image
                                                                        src={
                                                                            appt.imageUrl
                                                                        }
                                                                        alt={
                                                                            appt.name
                                                                        }
                                                                    />
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <span class="fw-semibold d-block">
                                                                    {appt.name}
                                                                </span>
                                                                <span class="fs-13 text-muted">{`${appt.gender},${appt.age}Yrs`}</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td
                                                        class={
                                                            index ===
                                                            Appointments.length -
                                                                1
                                                                ? "border-bottom-0"
                                                                : ""
                                                        }
                                                    >
                                                        <span class={`badge ${appt.badgeClass}`}>
                                                            {appt.department}
                                                        </span>
                                                    </td>
                                                    <td
                                                        class={
                                                            index ===
                                                            Appointments.length -
                                                                1
                                                                ? "border-bottom-0"
                                                                : ""
                                                        }
                                                    >
                                                        {" "}
                                                        {appt.time}{" "}
                                                    </td>
                                                </tr>
                                            ))
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">Available Doctors</div>
                        </div>
                        <div class="card-body">
                            <nav
                                class="nav nav-style-1 nav-pills mb-4 nav-justified"
                                role="tablist"
                            >
                                <a
                                    class="nav-link px-2"
                                    data-bs-toggle="tab"
                                    role="tab"
                                    href="#tue"
                                    aria-selected="false"
                                    tabindex="-1"
                                >
                                    <span class="d-block mb-1">22</span>
                                    <span class="op-6 fs-12">Sat</span>
                                </a>
                                <a
                                    class="nav-link px-2"
                                    data-bs-toggle="tab"
                                    role="tab"
                                    href="#wed"
                                    aria-selected="false"
                                    tabindex="-1"
                                >
                                    <span class="d-block mb-1">23</span>
                                    <span class="op-6 fs-12">Sun</span>
                                </a>
                                <a
                                    class="nav-link px-2 active"
                                    data-bs-toggle="tab"
                                    aria-current="page"
                                    role="tab"
                                    href="#thu"
                                    aria-selected="true"
                                    tabindex="-1"
                                >
                                    <span class="d-block mb-1">24</span>
                                    <span class="op-6 fs-12">Mon</span>
                                </a>
                                <a
                                    class="nav-link px-2"
                                    data-bs-toggle="tab"
                                    role="tab"
                                    href="#fri"
                                    aria-selected="false"
                                    tabindex="-1"
                                >
                                    <span class="d-block mb-1">25</span>
                                    <span class="op-6 fs-12">Tue</span>
                                </a>
                                <a
                                    class="nav-link px-2"
                                    data-bs-toggle="tab"
                                    role="tab"
                                    href="#sat"
                                    aria-selected="false"
                                    tabindex="-1"
                                >
                                    <span class="d-block mb-1">26</span>
                                    <span class="op-6 fs-12">Wed</span>
                                </a>
                            </nav>
                            <ul
                                class="list-unstyled availabe-doctors-list"
                                id="available-doctors"
                            >
                                {
                                    DoctorSchedules.map((doctor) => (
                                        <li>
                                            <div class="d-flex align-items-start gap-2">
                                                <div class="flex-fill">
                                                    <span class="d-block fw-semibold">
                                                        {doctor.name}
                                                    </span>
                                                    <span
                                                        class={`${doctor.departmentClass} fs-13`}
                                                    >
                                                        {doctor.department}
                                                    </span>
                                                </div>
                                                <div class="fs-13 text-muted d-flex align-items-center gap-1">
                                                    <i class="ti ti-clock-hour-3" />
                                                    {doctor.time}
                                                </div>
                                            </div>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-1 -->

    <!-- Start:: row-2 -->
    <div class="row">
        <div class="col-xxl-3 col-xl-6">
            <div class="card custom-card overflow-hidden">
                <div class="card-header">
                    <div class="card-title">Patients Visits</div>
                </div>
                <div class="card-body">
                    <div id="patients-visits"></div>
                </div>
                <div class="card-footer p-0">
                    <ul class="list-group list-group-flush">
                        {
                            GenderData.map((item) => (
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="lh-1">
                                            <span
                                                class={`avatar avatar-md avatar-rounded ${item.avatarBgClass}`}
                                            >
                                                <i class={item.iconClass} />
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <span class="fw-semibold d-block">
                                                {item.label}
                                            </span>
                                            <span class="fs-13 d-block text-muted">
                                                <span
                                                    class={`${item.trendColorClass} me-2 d-inline-flex align-items-center`}
                                                >
                                                    <i
                                                        class={
                                                            item.trendIconClass
                                                        }
                                                    />
                                                    {item.trendText}
                                                </span>
                                                {item.trendLabel}
                                            </span>
                                        </div>
                                        <div
                                            class={`text-${item.trendColor} fw-semibold`}
                                        >
                                            {item.percentage}
                                        </div>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-6">
            <div class="card custom-card overflow-hidden">
                <div class="card-header justify-content-between">
                    <div class="card-title">Top Doctors</div>
                    <a href="javascript:void(0);" class="fs-13 text-muted"
                        >View All<i class="ti ti-arrow-narrow-right ms-1"
                        ></i></a
                    >
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        {
                            Doctors.map((doctor) => (
                                <li class="list-group-item">
                                    <a
                                        href="javascript:void(0);"
                                        class="stretched-link"
                                    />
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="lh-1">
                                            <span class="avatar avatar-md avatar-rounded bg-light">
                                                <Image
                                                    src={doctor.image}
                                                    alt={doctor.name}
                                                />
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <span class="d-block fw-semibold">
                                                {doctor.name}
                                            </span>
                                            <span class="d-block fs-13 text-muted">
                                                {doctor.specialization}
                                            </span>
                                        </div>
                                        <div class="text-end">
                                            <div>
                                                <span class="d-inline-flex align-items-center">
                                                    {doctor.rating}
                                                    <i class="ti ti-star-filled ms-1 text-warning" />
                                                </span>
                                            </div>
                                            <span class="fs-13 text-muted">
                                                {doctor.experience}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Patients Reports</div>
                    <a href="javascript:void(0);" class="fs-13 text-muted"
                        >View All<i class="ti ti-arrow-narrow-right ms-1"
                        ></i></a
                    >
                </div>
                <div class="card-body">
                    <ul class="list-unstyled patients-reports-list">
                        {
                            TestRecords.map((record) => (
                                <li>
                                    <div class="d-flex align-items-center gap-2 flex-wrap">
                                        <div class="lh-1">
                                            <span
                                                class={`avatar avatar-md ${record.bgClass} avatar-rounded`}
                                            >
                                                <i class={record.iconClass} />
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <span class="d-block fw-semibold">
                                                {record.name}
                                            </span>
                                            <span class="d-block fs-13 text-muted">
                                                {record.testType}
                                            </span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-flex align-items-center gap-1">
                                                <i
                                                    class={`${record.statusIcon} ${record.statusColor} fs-20`}
                                                />
                                                {record.statusText}
                                            </span>
                                            <span class="fs-13 text-muted">
                                                {record.date}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Top Departments</div>
                </div>
                <div class="card-body py-0">
                    <div id="top-departments"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-2 -->

    <!-- Start:: row-3 -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Patient Records</div>
                    <div class="d-flex flex-wrap gap-2">
                        <div>
                            <input
                                class="form-control form-control-sm"
                                type="text"
                                placeholder="Search Here"
                                aria-label=".form-control-sm example"
                            />
                        </div>
                        <div class="dropdown">
                            <a
                                href="javascript:void(0);"
                                class="btn btn-primary btn-sm btn-wave waves-effect waves-light"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Sort By<i
                                    class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"
                                ></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">New</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">Popular</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">Relevant</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th> Patient ID </th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Consultation Type</th>
                                    <th>Doctor</th>
                                    <th>Status</th>
                                    <th>Appointment Date</th>
                                    <th>Time</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {
                                    PatientRecords.map((appt) => (
                                        <tr>
                                            <td>{appt.id}</td>
                                            <td>{appt.name}</td>
                                            <td>{appt.age}</td>
                                            <td>{appt.gender}</td>
                                            <td>{appt.department}</td>
                                            <td>
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-sm avatar-rounded bg-light">
                                                            <Image
                                                                src={
                                                                    appt.doctorImage
                                                                }
                                                                alt={
                                                                    appt.doctorName
                                                                }
                                                            />
                                                        </span>
                                                    </div>
                                                    <div>{appt.doctorName}</div>
                                                </div>
                                            </td>
                                            <th>
                                                <span
                                                    class={`badge ${appt.statusBadgeClass}`}
                                                >
                                                    {appt.status}
                                                </span>
                                            </th>
                                            <th>{appt.date}</th>
                                            <th>{appt.time}</th>
                                            <th>
                                                <div class="dropdown">
                                                    <a
                                                        aria-label="anchor"
                                                        href="javascript:void(0);"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false"
                                                        class="btn btn-icon btn-sm btn-light"
                                                    >
                                                        <i class="ti ti-dots-vertical" />
                                                    </a>
                                                    <ul
                                                        class="dropdown-menu"
                                                        role="menu"
                                                    >
                                                        <li>
                                                            <a
                                                                class="dropdown-item d-inline-flex align-items-center"
                                                                href="javascript:void(0);"
                                                            >
                                                                <i class="ti ti-eye me-2" />
                                                                View
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a
                                                                class="dropdown-item d-inline-flex align-items-cente"
                                                                href="javascript:void(0);"
                                                            >
                                                                <i class="ti ti-edit me-2" />
                                                                Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a
                                                                class="dropdown-item d-inline-flex align-items-cente"
                                                                href="javascript:void(0);"
                                                            >
                                                                <i class="ti ti-trash me-2" />
                                                                Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </th>
                                        </tr>
                                    ))
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer border-top-0">
                    <div class="d-flex align-items-center">
                        <div>
                            Showing 6 Entries <i
                                class="bi bi-arrow-right ms-2 fw-semibold"></i>
                        </div>
                        <div class="ms-auto">
                            <nav
                                aria-label="Page navigation"
                                class="pagination-style-2"
                            >
                                <ul class="pagination mb-0 flex-wrap">
                                    <li class="page-item disabled">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);"
                                        >
                                            Prev
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);">1</a
                                        >
                                    </li>
                                    <li class="page-item active">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);">2</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);"
                                        >
                                            <i class="bi bi-three-dots"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);">17</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link text-primary"
                                            href="javascript:void(0);"
                                        >
                                            next
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-3 -->
    <script>
        import "../../scripts/js/custom.js";
        import "../../scripts/js/medical-dashboard.js";
    </script>
</Layout>
