---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
import {
    MarketData,
    MartketTable,
    PortfolioData,
} from "../../../shared/data/dashboards/crypto/marketdata";
import SpkMarketcard from "../../../shared/@spk-reusable-components/dashboards-reusable/crypto-reusable/spk-marketcard.astro";
---

<Layout Seo="Dashboards-Market Cap">
    <Pageheader
        title="Dashboards"
        subtitle="Crypto"
        currentpage="Market Cap"
        activepage="Market Cap"
    />
    <!-- Start::row-1 -->
    <div class="row">
        {
            MarketData.map((market) => (
                <div class="col-xxl-3 col-xl-6 col-lg-12">
                    <SpkMarketcard market={market} />
                </div>
            ))
        }
        <div class="col-xxl-3 col-xl-6 col-lg-12">
            <div class="card custom-card overflow-hidden">
                <div class="card-header justify-content-between">
                    <div class="card-title">My Top Currencies</div>
                    <div>
                        <a
                            href="javascript:void(0);"
                            class="fw-medium text-success fs-13 text-decoration-underline"
                            >View All</a
                        >
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        {
                            PortfolioData.map((item) => (
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <div>
                                                <span class="avatar avatar-sm p-1 bg-light">
                                                    <Image
                                                        src={item.imgSrc}
                                                        alt={item.name}
                                                    />
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block fw-medium">
                                                    {item.name}
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="fw-medium d-block">
                                                {item.quantity}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="fw-medium d-block">
                                                {item.value}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->

    <!-- Start::row-2  -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Crypto MarketCap</div>
                    <div class="d-flex flex-wrap gap-2">
                        <div>
                            <input
                                class="form-control form-control-sm"
                                type="text"
                                placeholder="Search Here"
                                aria-label=".form-control-sm example"
                            />
                        </div>
                        <div class="dropdown">
                            <a
                                href="javascript:void(0);"
                                class="btn btn-primary btn-sm btn-wave"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Sort By<i
                                    class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"
                                ></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">Market Cap</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">Price</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);"
                                        >Trading Volume</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);"
                                        >Price Change (24h)</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">Rank</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">A - Z</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);"
                                        >All-Time High (ATH)</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-light btn-sm btn-wave border"
                                >View All</button
                            >
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col" class="fw-medium">#</th>
                                    <th scope="col">Crypto Name</th>
                                    <th scope="col">MarketCap</th>
                                    <th scope="col"
                                        >Price<span class="text-muted ms-1"
                                            >(USD)</span
                                        ></th
                                    >
                                    <th scope="col">1h Change</th>
                                    <th scope="col">24h Change</th>
                                    <th scope="col">Volume (24h)</th>
                                    <th scope="col">Circulating Supply</th>
                                    <th scope="col">last 1Week</th>
                                    <th scope="col">Trade</th>
                                </tr>
                            </thead>
                            <tbody>
                                {
                                    MartketTable.map((crypto) => (
                                        <tr>
                                            <td class="text-center">
                                                <a href="javascript:void(0);">
                                                    <i class="ri-star-line fs-16 text-muted" />
                                                </a>
                                            </td>
                                            <td>{crypto.rank}</td>
                                            <td>
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-xs avatar-rounded">
                                                            <Image
                                                                src={
                                                                    crypto.imgsrc
                                                                }
                                                                alt={
                                                                    crypto.name
                                                                }
                                                            />
                                                        </span>
                                                    </div>
                                                    <div class="fw-medium">
                                                        <a href="javascript:void(0);">
                                                            {crypto.name} ({crypto.symbol})
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="fw-medium">
                                                    {crypto.marketCap}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="fw-medium">
                                                    <a href="javascript:void(0);">
                                                        {crypto.price}
                                                    </a>
                                                </span>
                                            </td>
                                            <td>
                                                <span
                                                    class={`text-${crypto.priceChangeColor} fw-medium`}
                                                >
                                                    <i
                                                        class={`ti ti-arrow-narrow-${crypto.priceIcon} fs-15 fw-medium`}
                                                    />
                                                    {crypto.priceChange1h}
                                                </span>
                                            </td>
                                            <td>
                                                <span
                                                    class={`text-${crypto.priceChange24hColor} fw-medium`}
                                                >
                                                    <i
                                                        class={`ti ti-arrow-narrow-${crypto.priceIcons} fs-15 fw-medium`}
                                                    />
                                                    {crypto.priceChange24h}
                                                </span>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)">
                                                    <span class="d-block fw-medium">
                                                        {crypto.volume}
                                                    </span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);">
                                                    <span class="fw-medium d-block">
                                                        {
                                                            crypto.circulatingSupply
                                                        }
                                                    </span>
                                                </a>
                                            </td>
                                            <td>
                                                <div id={crypto.chartId} />
                                            </td>
                                            <td>
                                                <button class="btn btn-success-light btn-sm">
                                                    Trade
                                                </button>
                                            </td>
                                        </tr>
                                    ))
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer border-top-0">
                    <nav
                        aria-label="Page navigation"
                        class="pagination-style-2"
                    >
                        <ul
                            class="pagination mb-0 flex-wrap justify-content-end"
                        >
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0);">
                                    Prev
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0);"
                                    >1</a
                                >
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0);"
                                    >2</a
                                >
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0);">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0);"
                                    >17</a
                                >
                            </li>
                            <li class="page-item">
                                <a
                                    class="page-link text-primary"
                                    href="javascript:void(0);"
                                >
                                    next
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End::row-2  -->
    <script>
        import "../../../scripts/js/crypto-marketcap.js";
        import "../../../scripts/js/custom.js";
    </script>
</Layout>
