---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
import SpkWalletcard from "../../../shared/@spk-reusable-components/dashboards-reusable/crypto-reusable/spk-walletcard.astro";
import {
    WalletAddresses,
    Wallets,
} from "../../../shared/data/dashboards/crypto/walletdata";
---

<Layout Seo="Dashboards-Wallet">
    <Pageheader
        title="Dashboards"
        subtitle="Crypto"
        currentpage="Wallet"
        activepage="Wallet"
    />
    <!-- Start:: row-1 -->
    <div class="row">
        {
            Wallets.map((idx) => (
                <div class="col-xxl-3 col-xl-6">
                    <SpkWalletcard wallet={idx} />
                </div>
            ))
        }
    </div>
    <!-- End:: row-1 -->

    <!-- Start::row-2 -->
    <div class="row">
        {
            WalletAddresses.map((wallet) => (
                <div class="col-xxl-4">
                    <div class="card custom-card">
                        <div class="card-header justify-content-between">
                            <div class="card-title">{wallet.title}</div>
                            <div>
                                <button class="btn btn-primary-ghost btn-wave">
                                    Connect
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center flex-wrap justify-content-between gap-4 mb-3">
                                <div class="flex-fill">
                                    <label
                                        for="btc-wallet-address1"
                                        class="form-label"
                                    >
                                        Wallet Address
                                    </label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="btc-wallet-address1"
                                            value="afb0dc8bc84625587b85415c86ef43ed8df"
                                            placeholder="Placeholder"
                                        />
                                        <button class="btn btn-primary">
                                            Copy
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <span class="avatar avatar-xxl border">
                                        <Image
                                            src={wallet.imageSrc}
                                            class="p-1 qr-image"
                                            alt={`${wallet.currency} QR`}
                                        />
                                    </span>
                                </div>
                            </div>
                            <div class="row gy-3">
                                <div class="col-xl-6">
                                    <div class="rounded p-3 border border-dashed">
                                        <div class="d-flex align-items-center gap-3 flex-wrap">
                                            <div class="lh-1">
                                                <span class="avatar bg-success">
                                                    <i class="ti ti-arrow-narrow-down fs-20" />
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block text-muted">
                                                    Received
                                                </span>
                                                <span class="d-block fw-medium">
                                                    {wallet.received}{" "}
                                                    <span class="fs-12 text-muted fw-normal">
                                                        {wallet.currency}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="rounded p-3 border border-dashed">
                                        <div class="d-flex align-items-center gap-3 flex-wrap">
                                            <div class="lh-1">
                                                <span class="avatar bg-danger">
                                                    <i class="ti ti-caret-up fs-20" />
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block text-muted">
                                                    Sent
                                                </span>
                                                <span class="d-block fw-medium">
                                                    {wallet.sent}{" "}
                                                    <span class="fs-12 text-muted fw-normal">
                                                        {wallet.currency}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="rounded p-3 border border-dashed">
                                        <div class="d-flex align-items-center gap-3 flex-wrap">
                                            <div class="lh-1">
                                                <span class="avatar bg-warning">
                                                    <i class="ti ti-wallet fs-20" />
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block text-muted">
                                                    Wallet Balance
                                                </span>
                                                <span class="d-block fw-medium">
                                                    {wallet.balance}{" "}
                                                    <span class="fs-12 text-muted fw-normal">
                                                        {wallet.currency}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
    <!--End::row-2 -->
    <script>
        import "../../../scripts/js/custom.js";
    </script>
</Layout>
