@using Microsoft.AspNetCore.Components.Web
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject StateService stateService
@using System.Text.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{ 
    var appState = stateService.GetAppState();
}

<!DOCTYPE html>
<html lang="en" data-toggled="double-menu-open" @attributes="GetHtmlAttributes()" style="@GetStyles()">

    <head>

        <!-- Meta Data -->
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Description" content="Blazor Web App Server Bootstrap Responsive Admin Web Dashboard Template">
        <meta name="Author" content="Spruko Technologies Private Limited">
        <meta name="keywords" content="admin dashboard html,admin html template,admin panel bootstrap template,admin panel html template,admin template html,bootstrap admin panel,bootstrap html template,bootstrap template,bootstrap with html,dashboard html template,dashboards ui,html admin dashboard,html bootstrap,html dashboard template,html template">

        <!-- TITLE -->
        <title> Vyzor - Blazor Web App Server Bootstrap5 Premium Admin & Dashboard Template </title>

        <base href="/" />
        <link rel="stylesheet" href="@Assets["app.css"]" />
        <link rel="stylesheet" href="@Assets["Vyzor_Blazor.styles.css"]" />
        <ImportMap />
        <HeadOutlet @rendermode="InteractiveServer" />

        <!-- FAVICON -->
        <link rel="icon" type="image/png" href="@Assets["assets/images/brand-logos/favicon.ico"]" />

        <link rel="stylesheet" href="@Assets["app.css"]" />
        <link rel="stylesheet" href="@Assets["Vyzor_Blazor.styles.css"]" />

        <!-- Style Css -->
        <link rel="stylesheet" href="@Assets["assets/css/styles.css"]" />

        <!-- Icons Css -->
        <link rel="stylesheet" href="@Assets["assets/css/icons.css"]" />

        <!-- Tom Select CSS -->
        <link rel="stylesheet" href="@Assets["assets/libs/tom-select/css/tom-select.bootstrap5.min.css"]" />
        
        <!-- GLightbox CSS  -->
        <link rel="stylesheet" href="@Assets["assets/libs/glightbox/css/glightbox.min.css"]" /> 
        
        <!-- node waves CSS -->
        <link rel="stylesheet" href="@Assets["assets/libs/node-waves/waves.min.css"]" />
        
        <!-- Auto Complete CSS -->
        <link rel="stylesheet" href="@Assets["assets/libs/@tarekraafat/autocomplete.js/css/autoComplete.css"]" /> 

        <!-- Flatpickr Css -->
        <link href="_content/FlatpickrBlazor/flatpickr.min.css" rel="stylesheet" />
        <link href="_content/FlatpickrBlazor/plugins/monthSelect/style.css" rel="stylesheet" />

        <!-- ColorPicker CSS -->
        <link href="_content/BlazorColorPicker/colorpicker.css" rel="stylesheet" />
        <link href="_content/BlazorColorPicker/BlazorColorPicker.bundle.scp.css" rel="stylesheet" />

        <!-- Prism CSS -->
        <link rel="stylesheet" href="@Assets["assets/libs/prismjs/themes/prism-coy.min.css"]" />

        <!-- Toastify CSS -->
        <link rel="stylesheet" href="@Assets["assets/libs/toastify-js/src/toastify.css"]" />
        
        <!-- Simplebar Css -->
        <link rel="stylesheet" href="@Assets["assets/libs/simplebar/simplebar.min.css"]" />

        <!-- Quill Editor CSS -->
        <link rel="stylesheet" href="@Assets["assets/libs/quill/quill.snow.css"]" />
        <link rel="stylesheet" href="@Assets["assets/libs/quill/quill.bubble.css"]" /> 

    </head>

    <body>
        <Routes @rendermode="InteractiveServer" />

        <!-- Bootstrap JS -->
        <script src="@Assets["assets/libs/bootstrap/js/bootstrap.bundle.min.js"]"></script>

        <!-- Particles JS -->
        <script src="@($"{NavigationManager.BaseUri}assets/libs/particles.js/particles.js")"></script>

        <!-- AUTO COMPLETE JS -->
        <script src="@Assets["assets/libs/@tarekraafat/autocomplete.js/autoComplete.min.js"]"></script> 

        <!-- JSVector Maps MapsJS -->
        <script src="@Assets["assets/libs/jsvectormap/jsvectormap.min.js"]"></script>
        <script src="@Assets["assets/libs/jsvectormap/maps/world-merc.js"]"></script>

        <!-- Google Maps JS -->
        <script src="@Assets["assets/libs/gmaps/gmaps.min.js"]"></script>

        <!-- Node Waves JS -->
        <script src="@Assets["assets/libs/node-waves/waves.min.js"]"></script>

        <!-- Isotope-layout JS -->
        <script src="@Assets["assets/libs/isotope-layout/isotope.pkgd.min.js"]"></script>

        <!-- Popper JS -->
        <script src="@Assets["assets/libs/@popperjs/core/umd/popper.min.js"]"></script>

        <!-- Vanilla-Wizard JS -->
        <script src="@Assets["assets/libs/vanilla-wizard/js/wizard.min.js"]"></script>

        <!-- Flatpickr Blazor JS -->
        <script src="_content/FlatpickrBlazor/flatpickr.min.js"></script>
        <script src="_content/FlatpickrBlazor/flatpickr.blazor.js"></script>
        <script src="_content/FlatpickrBlazor/plugins/monthSelect/index.js"></script>

        <!-- Cleave.js -->
        <script src="_content/BlazorCleave/BlazorCleave.js"></script>
        <script src="_content/BlazorCleave/cleave-phone.i18n.js"></script>

        <!-- Quill Editor JS -->
        <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
        <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>
        <script src="@Assets["assets/libs/quill/quill.js"]"></script> 

        <!-- Gallery JS -->
        <script src="@Assets["assets/libs/glightbox/js/glightbox.min.js"]"></script> 

        <!-- noUiSlider JS -->
        <script src="@Assets["assets/libs/nouislider/nouislider.min.js"]"></script> 
        <script src="@Assets["assets/libs/wnumb/wNumb.min.js"]"></script> 

        <!-- Emojji Picker JS -->
        <script src="@Assets["assets/libs/fg-emoji-picker/fgEmojiPicker.js"]"></script>

        <!-- Dragula JS -->
        <script src="@Assets["assets/libs/dragula/dragula.min.js"]"></script>

        <!-- Tom Select JS -->
        <script src="@Assets["assets/libs/tom-select/js/tom-select.complete.min.js"]"></script>

        <!-- Grid JS -->
        <script src="@Assets["assets/libs/gridjs/gridjs.umd.js"]"></script>

        <!-- Moment JS -->
        <script src="@Assets["assets/libs/moment/min/moment.min.js"]"></script>

        <!-- Fullcalendar JS -->
        <script src="@Assets["assets/libs/fullcalendar/index.global.min.js"]"></script>

        <!-- Simplebar JS -->
        <script src="@Assets["assets/libs/simplebar/simplebar.min.js"]"></script>

        <!-- Toastify JS -->
        <script src="@Assets["assets/libs/toastify-js/src/toastify.js"]"></script>

        <!-- Used For Multiple Colored TImeline Chart -->
        <script src="@Assets["assets/libs/moment/moment.js"]"></script>

        <!-- Prism JS -->
        <script src="@Assets["assets/libs/prismjs/prism.js"]"></script>

        <!-- CUSTOM JS -->
        <script src="@Assets["assets/js/custom.js"]"></script>


        <script src="_framework/blazor.web.js"></script>
        
        <script src="js/javaScriptInterop.js"></script>
        <script src="js/resizeInterop.js"></script>

        @code {
            private AppState? appState; 
            private bool isStateInitialized = false;

            protected override void OnInitialized()
            {
                if (!isStateInitialized)
                {
                    appState = stateService.GetAppState();
                    isStateInitialized = true; // Mark as initialized
                }
            }

            private IDictionary<string, object> GetHtmlAttributes()
            {
                var attributes = new Dictionary<string, object>();
                if (!string.IsNullOrEmpty(appState?.Direction))
                    attributes.Add("dir", appState.Direction);
                if (!string.IsNullOrEmpty(appState?.NavigationStyles))
                    attributes.Add("data-nav-layout", appState.NavigationStyles);
                if (!string.IsNullOrEmpty(appState?.LayoutStyles))
                    attributes.Add("data-vertical-style", appState.LayoutStyles);
                if (!string.IsNullOrEmpty(appState?.ColorTheme))
                    attributes.Add("data-theme-mode", appState.ColorTheme);
                if (!string.IsNullOrEmpty(appState?.HeaderColor))
                    attributes.Add("data-header-styles", appState.HeaderColor);
                if (!string.IsNullOrEmpty(appState?.MenuColor))
                    attributes.Add("data-menu-styles", appState.MenuColor);
                if (!string.IsNullOrEmpty(appState?.MenuStyles))
                    attributes.Add("data-nav-style", appState.MenuStyles);
                if (!string.IsNullOrEmpty(appState?.PageStyles))
                    attributes.Add("data-page-style", appState.PageStyles);
                if (!string.IsNullOrEmpty(appState?.WidthStyles))
                    attributes.Add("data-width", appState.WidthStyles);
                if (!string.IsNullOrEmpty(appState?.MenuPosition))
                    attributes.Add("data-menu-position", appState.MenuPosition);
                if (!string.IsNullOrEmpty(appState?.HeaderPosition))
                    attributes.Add("data-header-position", appState.HeaderPosition);
                if (!string.IsNullOrEmpty(appState?.BackgroundImage))
                    attributes.Add("data-bg-img", appState.BackgroundImage);

                return attributes;
            }

            private string GetStyles()
            {
                var style = "";
                if (!string.IsNullOrEmpty(appState?.ThemePrimary))
                    style += $"--primary-rgb: {appState.ThemePrimary}; ";
                if (!string.IsNullOrEmpty(appState?.ThemeBackground))
                {
                    style += $"--body-bg-rgb: {appState.ThemeBackground}; ";
                    style += $"--body-bg-rgb2: {appState.ThemeBackground1}; ";
                    style += $"--light-rgb: {appState.ThemeBackground1}; ";
                    style += $"--form-control-bg: rgb({appState.ThemeBackground1}); ";
                    style += $"--gray-3: rgb({appState.ThemeBackground1}); ";
                    style += $"--light-rgb: rgba(255,255,255,0.1); ";
                }
                return style;
            }
        }

    </body>

</html>
