@page "/chat"
@inject ScriptLoaderService ScriptLoader
@inject IJSRuntime JS
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager 

        <!-- Start::page-header -->
        <div class="page-header-breadcrumb mb-3">
            <div class="d-flex align-center justify-content-between flex-wrap">
                <h1 class="page-title fw-medium fs-18 mb-0">Chat</h1>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);">
                            Pages
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Chat</li>
                </ol>
            </div>
        </div>
        <!-- End::page-header -->

        <div class="main-chart-wrapper gap-lg-2 gap-0 mb-3 d-lg-flex  @mainChartWrapperRef">
            <div class="chat-info border">
                <div class="d-flex align-items-center justify-content-between w-100 p-3 border-bottom">
                    <div>
                        <h5 class="fw-semibold mb-0">Messages</h5>
                    </div>
                    <div class="dropdown ms-2">
                        <button aria-label="button" class="btn btn-icon btn-light btn-wave waves-light btn-sm" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">New Chat</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Create Group</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Invite a Friend</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav nav-style-1 nav-pills nav-justified p-2 border-bottom d-sm-flex d-block" id="myTab1" role="tablist">
                    <li class="nav-item me-0" role="presentation">
                        <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-tab-pane"
                            type="button" role="tab" aria-controls="users-tab-pane" aria-selected="true">Recents<span
                                class="badge bg-secondary ms-1 rounded-pill">04</span></button>
                    </li>
                    <li class="nav-item me-0" role="presentation">
                        <button class="nav-link" id="groups-tab" data-bs-toggle="tab" data-bs-target="#groups-tab-pane"
                            type="button" role="tab" aria-controls="groups-tab-pane" aria-selected="false">Groups</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contacts-tab" data-bs-toggle="tab" data-bs-target="#contacts-tab-pane"
                            type="button" role="tab" aria-controls="contacts-tab-pane" aria-selected="false">Contacts</button>
                    </li>
                </ul>
                <div class="chat-search p-3 border-bottom border-block-end-dashed">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Here" aria-describedby="button-addon2">
                        <button aria-label="button" class="btn btn-primary" type="button" id="button-addon2"><i
                                class="ri-search-line"></i></button>
                    </div>
                </div>
                <div class="tab-content overflow-y-scroll chat-group-tab" id="myTabContent">
                    <div class="tab-pane show active border-0 chat-users-tab" id="users-tab-pane" role="tabpanel"
                        aria-labelledby="users-tab" tabindex="0">
                        <ul class="list-unstyled mb-0 mt-2 chat-users-tab" id="chat-msg-scroll">
                            <li class="pb-0">
                                <p class="text-muted fs-11 fw-medium mb-2 op-7">Recent Chats</p>
                            </li>
                        @foreach (var chatlist in chatListData.Take(4))
                            {
                                <li @onclick="@(() => ShowChat(chatlist))" class="checkforactive @(chatlist.unReadMessages != null ? "chat-msg-unread" : "") @(ActiveUser?.id == chatlist.id? "active" : "")">
                                    <a href="javascript:void(0);">
                                        <div class="d-flex align-items-top">
                                            <div class="me-1 lh-1">
                                                <span class="avatar avatar-md @(chatlist.isOnline ? "online" : "offline") me-2 avatar-rounded">
                                                    <img src="@chatlist.img" alt="img" />
                                                </span>
                                            </div>
                                            <div class="flex-fill">
                                                <p class="mb-0 fw-medium">
                                                    @chatlist.name 
                                                    <span class="float-end text-muted fw-normal fs-11">
                                                        @chatlist.lastMessageTime
                                                    </span>
                                                </p>
                                            <p class="fs-13 mb-0 @(chatlist.isTyping ? "chat-msg-typing" : "")">
                                                    <span class="chat-msg !text-truncate">
                                                        @(chatlist.isTyping ? "Typing..." : chatlist.lastMsg)
                                                    </span>
                                                    @if (!string.IsNullOrEmpty(chatlist.unReadMessages))
                                                    {
                                                        <span class="badge bg-@chatlist.unReadMessagesBg rounded-pill float-end">
                                                            @chatlist.unReadMessages
                                                        </span>
                                                    }
                                                </p>

                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                            <li class="pb-0">
                                <p class="text-muted fs-11 fw-medium mb-2 op-7">All Chats</p>
                            </li>
                            @foreach (var chat in chatListData.Skip(4))
                            {
                                <li @onclick="@(() => ShowChat(chat))" class="checkforactive @(chat.unReadMessages != null ? "chat-msg-unread" : "") @(ActiveUser?.id == chat.id? "active" : "")">
                                    <a href="javascript:void(0);">
                                        <div class="d-flex align-items-top">
                                            <div class="me-1 lh-1">
                                                <span class="avatar avatar-md @(chat.isOnline ? "online" : "offline") me-2 avatar-rounded">
                                                    <img src="@chat.img" alt="img">
                                                </span>
                                            </div>
                                            <div class="flex-fill">
                                                <p class="mb-0 fw-medium">
                                                    @chat.name
                                                    <span class="float-end text-muted fw-normal fs-11">@chat.lastMessageTime</span>
                                                </p>
                                                <p class="fs-13 mb-0 @(chat.isTyping ? "chat-msg-typing" : "")">
                                                    <span class="chat-msg !text-truncate">
                                                        @(chat.isTyping ? "Typing..." : chat.lastMsg)
                                                    </span>

                                                    @if (!string.IsNullOrEmpty(chat.unReadMessages))
                                                    {
                                                        <span class="badge bg-@chat.unReadMessagesBg rounded-pill float-end">
                                                            @chat.unReadMessages
                                                        </span>
                                                    }
                                                    <!-- @if (chat.seen)
                                                    {
                                                        <span class="chat-read-icon float-end align-middle">
                                                            <i class="ri-check-double-fill"></i>
                                                        </span>
                                                    } -->
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-pane border-0 chat-groups-tab" id="groups-tab-pane" role="tabpanel"
                        aria-labelledby="groups-tab" tabindex="0">
                        <ul class="list-unstyled mb-0 mt-2 ">
                            <li class="pb-0">
                                <p class="text-muted fs-11 fw-medium mb-1 op-7">Groups</p>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-0">1) Team Innovators</p>
                                        <p class="mb-0"><span class="badge bg-light text-default border">4
                                                Online</span></p>
                                    </div>
                                    <div class="avatar-list-stacked my-auto">
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/2.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/8.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/2.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/10.jpg" alt="img">
                                        </span>
                                        <a class="avatar avatar-sm bg-primary avatar-rounded text-fixed-white"
                                            href="javascript:void(0);">
                                            +19
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-0">2) Creative Minds Chat </p>
                                        <p class="mb-0"><span class="badge bg-light text-default border">32
                                                Online</span></p>
                                    </div>
                                    <div class="avatar-list-stacked my-auto">
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/1.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/7.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/3.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/9.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/12.jpg" alt="img">
                                        </span>
                                        <a class="avatar avatar-sm bg-primary avatar-rounded text-fixed-white"
                                            href="javascript:void(0);">
                                            +123
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-0">3) Social Media Managers</p>
                                        <p class="mb-0"><span class="badge bg-light text-default border">3
                                                Online</span></p>
                                    </div>
                                    <div class="avatar-list-stacked my-auto">
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/4.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/8.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/13.jpg" alt="img">
                                        </span>
                                        <a class="avatar avatar-sm bg-primary avatar-rounded text-fixed-white"
                                            href="javascript:void(0);">
                                            +15
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-0">4) Startup Hustlers</p>
                                        <p class="mb-0"><span class="badge bg-light text-default border">5
                                                Online</span></p>
                                    </div>
                                    <div class="avatar-list-stacked my-auto">
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/1.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/7.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/14.jpg" alt="img">
                                        </span>
                                        <a class="avatar avatar-sm bg-primary avatar-rounded text-fixed-white"
                                            href="javascript:void(0);">
                                            +28
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-0">5) Sales Team Network</p>
                                        <p class="mb-0"><span class="badge bg-light text-default border">0 Online</span>
                                        </p>
                                    </div>
                                    <div class="avatar-list-stacked my-auto">
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/5.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/6.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/12.jpg" alt="img">
                                        </span>
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img src="../assets/images/faces/3.jpg" alt="img">
                                        </span>
                                        <a class="avatar avatar-sm bg-primary avatar-rounded text-fixed-white"
                                            href="javascript:void(0);">
                                            +53
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-unstyled mb-0 mt-2 ">
                            <li class="pb-0">
                                <p class="text-muted fs-11 fw-medium mb-1 op-7">Group Chats</p>
                            </li>
                            @foreach (var chat in groupChatListData)
                            {
                                <li @onclick="@(() => ShowChat(chat))" class="@((!chat.seen && !chat.allSeen ? "chat-msg-unread" : "chat-inactive") ) checkforactive @(ActiveUser?.id == chat.id? "active" : "")">
                                    <a href="javascript:void(0);">
                                        <div class="d-flex align-items-top">
                                            <div class="me-1 lh-1">
                                                <span class="avatar avatar-md @(chat.isOnline ? "online" : "offline") me-2 avatar-rounded">
                                                    @if (!chat.imgavatar && !string.IsNullOrEmpty(chat.img))
                                                    {
                                                        <img src="@chat.img" alt="img" />
                                                    }
                                                    else
                                                    {
                                                        <span class="avatar-initials" style="background:@chat.avatarBackgroundColor">
                                                            @chat.avatarname
                                                        </span>
                                                    }
                                                </span>
                                            </div>
                                            <div class="flex-fill">
                                                <p class="mb-0 fw-medium">
                                                    @chat.name
                                                    <span class="float-end text-muted fw-normal fs-11">@chat.lastMessageTime</span>
                                                </p>
                                                <p class="fs-13 mb-0">
                                                    @if (chat.isTyping)
                                                    {
                                                        <span class="chat-msg text-primary">@chat.howisTyping is typing...</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="chat-msg !text-truncate">
                                                            @if (!string.IsNullOrWhiteSpace(chat.whoslastMsg))
                                                            {
                                                                <span class="group-indivudial">@chat.whoslastMsg : </span>
                                                            }
                                                            @chat.lastMsg
                                                        </span>
                                                        @if (chat.allSeen)
                                                        {
                                                            <span class="chat-read-icon float-end align-middle">
                                                                <i class="ri-check-double-fill"></i>
                                                            </span>
                                                        }
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-pane border-0 chat-contacts-tab" id="contacts-tab-pane" role="tabpanel"
                        aria-labelledby="contacts-tab" tabindex="0">
                        <ul class="list-unstyled mb-0 chat-contacts-tab">
                            <li>
                                <span class="text-default fw-semibold">A</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img src="../assets/images/faces/5.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Amma Johnson
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="text-default fw-semibold">B</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img src="../assets/images/faces/12.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Bames Miller
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="text-default fw-semibold">C</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img src="../assets/images/faces/14.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Cohn Smith
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="text-default fw-semibold">D</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img src="../assets/images/faces/9.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Dobert Johnson
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="text-default fw-semibold">E</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img src="../assets/images/faces/7.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Elivia Smith
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="text-default fw-semibold">J</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img src="../assets/images/faces/15.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Jaul Carter
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="text-default fw-semibold">L</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm bg-light text-default border">
                                            AY
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Lndrew Young
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img src="../assets/images/faces/2.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Lsabella Davis
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="text-default fw-semibold">N</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img src="../assets/images/faces/10.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Nichael Brown
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="text-default fw-semibold">W</span>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded avatar-sm">
                                            <img src="../assets/images/faces/16.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="d-block fw-semibold">
                                            Whomas King
                                        </span>
                                    </div>
                                    <div class="dropdown custom-invoice">
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown"
                                            class="btn btn-icon btn-sm btn-outline-light">
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-message-2-line me-2"></i>Chat</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-phone-line me-2"></i>Audio Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-live-line me-2"></i>Video Call</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-edit-line me-2"></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-spam-2-line me-2"></i>Block</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                                        class="ri-delete-bin-line me-2"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-chat-area border">
                <div class="d-flex align-items-center border-bottom main-chat-head flex-wrap">
                    <div class="me-2 lh-1">
                        <span class="avatar avatar-md @(ActiveUser?.isOnline == true ? "online" : "offline") avatar-rounded chatstatusperson">
                            <img class="chatimageperson" src="@ActiveUser?.img" alt="img">
                        </span>
                    </div>
                    <div class="flex-fill">
                        <p class="mb-0 fw-medium fs-14 lh-1">
                            <a href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                aria-controls="offcanvasRight" class="chatnameperson responsive-userinfo-open">@ActiveUser?.name</a>
                        </p>
                        <p class="text-muted mb-0 chatpersonstatus">@(ActiveUser?.isOnline == true ? "online": "offline")</p>
                    </div>
                    <div class="d-flex align-items-center flex-wrap rightIcons">
                        <button aria-label="button" type="button" class="btn btn-icon btn-light ms-2 btn-sm">
                            <i class="ti ti-phone"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-icon btn-light ms-2 btn-sm">
                            <i class="ti ti-video"></i>
                        </button>
                        <button aria-label="button" type="button"
                            class="btn btn-icon btn-light ms-2 responsive-userinfo-open btn-sm">
                            <i class="ti ti-user-circle" id="responsive-chat-close"></i>
                        </button>
                        <div class="dropdown ms-2">
                            <button aria-label="button" class="btn btn-icon btn-light btn-wave waves-light btn-sm" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ti ti-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i
                                            class="ri-user-3-line me-1"></i>Profile</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i
                                            class="ri-format-clear me-1"></i>Clear Chat</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i
                                            class="ri-user-unfollow-line me-1"></i>Delete User</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i
                                            class="ri-user-forbid-line me-1"></i>Block User</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i
                                            class="ri-error-warning-line me-1"></i>Report</a></li>
                            </ul>
                        </div>
                        <button aria-label="button" type="button"
                            class="btn btn-icon btn-light ms-2 responsive-chat-close btn-sm" @onclick="removeChat">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>
                </div>
                <div class="chat-content overflow-y-scroll" id="main-chat-content">
                    <div class="chat-content-background">
                        <img src="../assets/images/media/backgrounds/12.png" alt="">
                    </div>
                    <ul class="list-unstyled">
                        <li class="chat-day-label">
                            <span>Today</span>
                        </li>
                        <li class="chat-item-start">
                            <div class="chat-list-inner">
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md @(ActiveUser?.isOnline == true ? "online" : "offline") avatar-rounded chatstatusperson">
                                        <img class="chatimageperson" src="@ActiveUser?.img" alt="img">
                                    </span>
                                </div>
                                <div class="ms-3">
                                    <span class="chatting-user-info">
                                        <span class="chatnameperson">@ActiveUser?.name</span> <span class="msg-sent-time">10:00
                                            AM</span>
                                    </span>
                                    <div class="main-chat-msg">
                                        <div>
                                            <p class="mb-0">Hey! How are you doing today? &#128522;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-end">
                            <div class="chat-list-inner">
                                <div class="me-3">
                                    <span class="chatting-user-info">
                                        <span class="msg-sent-time"><span class="chat-read-mark align-middle d-inline-flex"><i
                                                    class="ri-check-double-line"></i></span>10:02 AM</span> You
                                    </span>
                                    <div class="main-chat-msg">
                                        <div>
                                            <p class="mb-0">Hi! I'm doing great, thanks for asking. How about you?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md online avatar-rounded">
                                        <img src="../assets/images/faces/15.jpg" alt="img">
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-start">
                            <div class="chat-list-inner">
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md @(ActiveUser?.isOnline == true ? "online" : "offline") avatar-rounded chatstatusperson">
                                        <img class="chatimageperson" src="@ActiveUser?.img" alt="img">
                                    </span>
                                </div>
                                <div class="ms-3">
                                    <span class="chatting-user-info">
                                        <span class="chatnameperson">@ActiveUser?.name</span> <span class="msg-sent-time">10:05
                                            AM</span>
                                    </span>
                                    <div class="main-chat-msg">
                                        <div>
                                            <p class="mb-0">I'm good too.</p>
                                        </div>
                                        <div>
                                            <p class="mb-0">Have you completed the project report yet? &#128221;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-end">
                            <div class="chat-list-inner">
                                <div class="me-3">
                                    <span class="chatting-user-info">
                                        <span class="msg-sent-time"><span class="chat-read-mark align-middle d-inline-flex"><i
                                                    class="ri-check-double-line"></i></span>10:06 AM</span> You
                                    </span>
                                    <div class="main-chat-msg">
                                        <div>
                                            <p class="mb-0">Almost! Just need to finalize a few things. I should be done by the
                                                end of the day.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md online avatar-rounded">
                                        <img src="../assets/images/faces/15.jpg" alt="img">
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-start">
                            <div class="chat-list-inner">
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md @(ActiveUser?.isOnline == true ? "online" : "offline") avatar-rounded chatstatusperson">
                                        <img class="chatimageperson" src="@ActiveUser?.img" alt="img">
                                    </span>
                                </div>
                                <div class="ms-3">
                                    <span class="chatting-user-info">
                                        <span class="chatnameperson">@ActiveUser?.name</span> <span class="msg-sent-time">10:10
                                            AM</span>
                                    </span>
                                    <div class="main-chat-msg">
                                        <div>
                                            <p class="mb-0">Awesome! Let me know if you need any help with it.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-end">
                            <div class="chat-list-inner">
                                <div class="me-3">
                                    <span class="chatting-user-info">
                                        <span class="msg-sent-time"><span class="chat-read-mark align-middle d-inline-flex"><i
                                                    class="ri-check-double-line"></i></span>10:11 AM</span> You
                                    </span>
                                    <div class="main-chat-msg">
                                        <div class="">
                                            <p class="mb-0">Thanks! Actually, I was thinking of adding a new section to the
                                                report. What do you think about including a summary of our recent team
                                                discussions? &#128528;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md online avatar-rounded">
                                        <img src="../assets/images/faces/15.jpg" alt="img">
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-start">
                            <div class="chat-list-inner">
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md @(ActiveUser?.isOnline == true ? "online" : "offline") avatar-rounded">
                                        <img class="chatimageperson" src="@ActiveUser?.img" alt="img">
                                    </span>
                                </div>
                                <div class="ms-3">
                                    <span class="chatting-user-info chatnameperson">
                                        @ActiveUser?.name<span class="msg-sent-time">10:15 AM</span>
                                    </span>
                                    <div class="main-chat-msg">
                                        <div>
                                            <p class="mb-0">Thats a great idea! It will definitely add more value. I can help
                                                with writing it if youd like.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chat-footer">
                    <a aria-label="anchor" class="btn btn-icon me-2 btn-light" href="javascript:void(0)">
                        <i class="ri-attachment-line"></i>
                    </a>
                    <input class="form-control form-control-lg chat-message-space border-0 shadow-none text-truncate"
                        placeholder="Type your message here..." type="text">
                    <a aria-label="anchor" class="btn btn-icon ms-2 btn-light emoji-picker" href="javascript:void(0)">
                        <i class="ri-emotion-line"></i>
                    </a>
                    <a aria-label="anchor" class="btn btn-primary ms-2 btn-icon btn-send" href="javascript:void(0)">
                        <i class="ri-send-plane-2-line"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Start::chat user details offcanvas -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
            <div class="offcanvas-body">
                <button type="button" class="btn-close btn btn-sm btn-icon btn-outline-light border" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                <div class="chat-user-details @chatUserDetailsRef" id="chat-user-details">
                    <div class="text-center mb-5">
                        <span class="avatar avatar-rounded @(ActiveUser?.isOnline == true ? "online" : "offline") avatar-xxl me-2 mb-3 chatstatusperson">
                            <img class="chatimageperson" src="@ActiveUser?.img" alt="img">
                        </span>
                        <p class="mb-1 fs-15 fw-medium text-dark lh-1 chatnameperson">@ActiveUser?.name</p>
                        <p class="fs-13 text-muted"><span class="chatnameperson">@ActiveUser?.email</span></p>
                        <p class="text-center mb-0">
                            <button type="button" aria-label="button" class="btn btn-icon rounded-pill btn-primary-light btn-wave"><i
                                    class="ri-phone-line"></i></button>
                            <button type="button" aria-label="button" class="btn btn-icon rounded-pill btn-success-light ms-2 btn-wave"><i
                                    class="ri-chat-1-line"></i></button>
                            <button type="button" aria-label="button" class="btn btn-icon rounded-pill btn-warning-light ms-2 btn-wave"><i
                                    class="ri-video-add-line"></i></button>
                        </p>
                    </div>
                    <div class="mb-5">
                        <div class="fw-medium mb-4">Shared Files
                            <span class="float-end fs-11"><a href="javascript:void(0);" class="fs-13 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a></span>
                        </div>
                        <ul class="shared-files list-unstyled">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div class="lh-1">
                                        <span class="avatar avatar-lg">
                                            <img src="../assets/images/media/files/1.png" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="fs-13 fw-medium mb-0">Vacation_Photo_01.jpg</p>
                                        <p class="mb-0 text-muted fs-11">24,Oct 2025 - 14:24PM</p>
                                    </div>
                                    <div class="fs-13 text-muted">
                                        3.4 MB
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div class="lh-1">
                                        <span class="avatar avatar-lg">
                                            <img src="../assets/images/media/files/2.png" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="fs-13 fw-medium mb-0">Document_Report_2025.pdf</p>
                                        <p class="mb-0 text-muted fs-11">22,Oct 2025 - 10:19AM</p>
                                    </div>
                                    <div class="fs-13 text-muted">
                                        1.2 MB
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div class="lh-1">
                                        <span class="avatar avatar-lg">
                                            <img src="../assets/images/media/files/3.png" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="fs-13 fw-medium mb-0">Design_Assets_Logo.png</p>
                                        <p class="mb-0 text-muted fs-11">22,Oct 2025 - 10:18AM</p>
                                    </div>
                                    <div class="fs-13 text-muted">
                                        1.5 MB
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div class="lh-1">
                                        <span class="avatar avatar-lg">
                                            <img src="../assets/images/media/files/4.png" alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="fs-13 fw-medium mb-0">Project_Files_Backup.zip</p>
                                        <p class="mb-0 text-muted fs-11">22,Oct 2025 - 10:18AM</p>
                                    </div>
                                    <div class="fs-13 text-muted">
                                        25.8 MB
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-0">
                        <div class="fw-medium mb-4">Photos & Media
                            <span class="float-end fs-11"><a href="javascript:void(0);" class="fs-13 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a></span>
                        </div>
                        <div class="row g-2">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <a href="../assets/images/media/media-40.jpg" class="glightbox card mb-0" data-gallery="gallery1">
                                    <img src="../assets/images/media/media-40.jpg" alt="image" >
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <a href="../assets/images/media/media-41.jpg" class="glightbox card mb-0" data-gallery="gallery1">
                                    <img src="../assets/images/media/media-41.jpg" alt="image" >
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <a href="../assets/images/media/media-42.jpg" class="glightbox card mb-0" data-gallery="gallery1">
                                    <img src="../assets/images/media/media-42.jpg" alt="image" >
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <a href="../assets/images/media/media-43.jpg" class="glightbox card mb-0" data-gallery="gallery1">
                                    <img src="../assets/images/media/media-43.jpg" alt="image" >
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <a href="../assets/images/media/media-44.jpg" class="glightbox card mb-0" data-gallery="gallery1">
                                    <img src="../assets/images/media/media-44.jpg" alt="image" >
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <a href="../assets/images/media/media-45.jpg" class="glightbox card mb-0" data-gallery="gallery1">
                                    <img src="../assets/images/media/media-45.jpg" alt="image" >
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <a href="../assets/images/media/media-46.jpg" class="glightbox card mb-0" data-gallery="gallery1">
                                    <img src="../assets/images/media/media-46.jpg" alt="image" >
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <a href="../assets/images/media/media-60.jpg" class="glightbox card mb-0" data-gallery="gallery1">
                                    <img src="../assets/images/media/media-60.jpg" alt="image" >
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <a href="../assets/images/media/media-61.jpg" class="glightbox card mb-0" data-gallery="gallery1">
                                    <img src="../assets/images/media/media-61.jpg" alt="image" >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End::chat user details offcanvas -->

   
@code {

    private bool scriptsLoaded = false;
    protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !scriptsLoaded)
        {
            var baseUri = NavigationManager.BaseUri;

            // inline JS code 
            await ScriptLoader.AddInlineScriptAsync(@"
                setTimeout(() => {
                    window.FgEmojiPicker = new FgEmojiPicker({
                        trigger: ['.emoji-picker'],
                        insertInto: document.querySelector('.chat-message-space'),
                        closeButton: true,
                        position: ['top', 'right'],
                        preFetch: true,
                        dir: '../assets/libs/fg-emoji-picker/'
                    });
                }, 3000); 
                
                setTimeout(() => {
                    var lightboxVideo = GLightbox({
                    selector: '.glightbox'
                    });
                    lightboxVideo.on('slide_changed', ({ prev, current }) => {
                        const { slideIndex, slideNode, slideConfig, player } = current;
                    });

                    var lightboxDescription = GLightbox({
                        selector: '.glightbox2'
                    });

                    var lightboxVideo = GLightbox({
                        selector: '.glightbox3'
                    });

                    var lightboxInlineIframe = GLightbox({
                        selector: '.glightbox4'
                    });
                }, 500);
            ");

            scriptsLoaded = true;
            StateHasChanged();
        }
    }
}

@code{

    public class ChatList
    {
        public int id { get; set; }
        public string? img { get; set; }
        public string? email { get; set; }
        public string? name { get; set; }
        public bool imgavatar {get;set;}
        public string? avatarname {get;set;}
        public string? avatarBackgroundColor {get;set;}
        public string? lastMsg { get; set; }
        public bool isOnline { get; set; }
        public bool isTyping { get; set; }
        public bool seen { get; set; }
        public string? unReadMessages { get; set; }
        public string? unReadMessagesBg { get; set; }
        public string? lastMessageTime { get; set; }
        public string? whoslastMsg { get; set; }
        public string? howisTyping { get; set; }
        public bool allSeen { get; set; }
        public bool active { get; set; } 
    } 
    public class GalleryList {
        public string? Img { get; set; }
    }

    public List<ChatList> chatListData = new List<ChatList>
    {
        new ChatList
        {
            id = 1,
            name = "John Doe",
            img = "../assets/images/faces/15.jpg",
            email= "john@gmail.com",
            isOnline = true,
            lastMessageTime = "10:30 AM",
            lastMsg = "Got your email , Ill send over the details by EOD! ",
            unReadMessages = null,
            isTyping = false,
            active = false,
        },
        new ChatList
        {
            id = 2,
            name = "Alice Smith",
            img = "../assets/images/faces/2.jpg",
            email= "alice@gmail.com",
            isOnline = true,
            lastMessageTime = "12:15 PM",
            lastMsg = "",
            unReadMessages = "1",
            unReadMessagesBg = "warning",
            isTyping = true,
            active = true
        },
        new ChatList
        {
            id = 3,
            name = "Bob Johnson",
            img = "../assets/images/faces/10.jpg",
            email= "bob@gmail.com",
            isOnline = true,
            lastMessageTime = "2:00 PM",
            lastMsg = "Lets schedule a call to discuss the project timeline.",
            unReadMessages = "3",
            unReadMessagesBg = "primary",
            isTyping = false,
            active = false
        },
        new ChatList
        {
            id = 4,
            name = "Emily Davis",
            img = "../assets/images/faces/8.jpg",
            email= "emilydavis@gmail.com",
            isOnline = true,
            lastMessageTime = "4:30 PM",
            lastMsg = "The document is ready for final approval! ",
            unReadMessages = null,
            isTyping = false,
            active = false
        },
        new ChatList
        {
            id = 5,
            name = "Michael Brown",
            img = "../assets/images/faces/11.jpg",
            email= "michael.b@gmail.com",
            isOnline = false,
            lastMessageTime = "7:00 PM",
            lastMsg = "Ill finish the remaining tasks tomorrow.",
            seen = true,
            active = false
        },
        new ChatList
        {
            id = 6,
            name = "Sarah Lee",
            img = "../assets/images/faces/3.jpg",
            email= "sarahlee@gmail.com",
            isOnline = false,
            lastMessageTime = "10:45 AM",
            lastMsg = "Can you share the meeting notes from yesterday?",
            seen = true,
            active = false
        },
        new ChatList
        {
            id = 7,
            name = "David Williams",
            img = "../assets/images/faces/16.jpg",
            email= "david@gmail.com",
            isOnline = false,
            lastMessageTime = "3:30 PM",
            lastMsg = "I think we should revise the design before the next meeting.",
            seen = true,
            active = false
        },
        new ChatList
        {
            id = 8,
            name = "Olivia Wilson",
            img = "../assets/images/faces/4.jpg",
            email= "olivia@gmail.com",
            isOnline = false,
            lastMessageTime = "3 days ago",
            lastMsg = "Just wanted to confirm the new meeting time.",
            seen = true,
            active = false
        },
        new ChatList
        {
            id = 9,
            name = "William Clark",
            img = "../assets/images/faces/13.jpg",
            email= "william.c@gmail.com",
            isOnline = false,
            lastMessageTime = "9:00 AM",
            lastMsg = "Ive added the new features to the app. Let me know your thoughts.",
            seen = true,
            active = false
        },
        new ChatList
        {
            id = 10,
            name = "Sophia Lewis",
            img = "../assets/images/faces/5.jpg",
            email= "AlexTurner@gmail.com",
            isOnline = false,
            lastMessageTime = "5 days ago",
            lastMsg = "Im looking forward to seeing the final version of the presentation.",
            seen = true,
            active = false
        }
    };

    private List<ChatList> groupChatListData = new List<ChatList>
    {
        new ChatList
        {
            id = 1,
            name = "Family Chat ",
            img = "../assets/images/faces/17.jpg",
            imgavatar = false,
            lastMsg = "How are you doing today? ",
            isOnline = true,
            isTyping = false,
            seen = false,
            allSeen = false,
            whoslastMsg = "Lily Perez",
            lastMessageTime = "10:45 AM",
            unReadMessagesBg = "#f5222d",
            active = true
        },
        new ChatList
        {
            id = 2,
            name = "Home Team",
            img = "../assets/images/faces/18.jpg",
            imgavatar = false,
            lastMsg = "Let me know if you need anything else.",
            isOnline = true,
            isTyping = false,
            seen = false,
            allSeen = false,
            whoslastMsg = "Paul Carter",
            lastMessageTime = "4:54 PM",
            unReadMessagesBg = "#1890ff",
            active = false
        },
        new ChatList
        {
            id = 3,
            name = "Our Tribe ",
            img = "../assets/images/faces/19.jpg",
            imgavatar = false,
            lastMsg = "Simon, Melissa, Amanda, Patrick, Siddique",
            isOnline = false,
            isTyping = false,
            seen = true,
            allSeen = true,
            whoslastMsg = "",
            lastMessageTime = "8:32 AM",
            active = false
        },
        new ChatList
        {
            id = 4,
            name = "The Circle",
            img = "../assets/images/faces/20.jpg",
            imgavatar = false,
            lastMsg = "Kamalan, Subha, Ambrose, Kiara, Jackson",
            isOnline = false,
            isTyping = false,
            seen = true,
            allSeen = true,
            whoslastMsg = "",
            lastMessageTime = "Yesterday",
            active = false
        },
        new ChatList
        {
            id = 5,
            name = "Family Bond",
            img = "../assets/images/faces/21.jpg",
            imgavatar = false,
            lastMsg = "Subman, Rajen, Kairo, Dibasha, Alexa",
            isOnline = false,
            isTyping = false,
            seen = true,
            allSeen = true,
            whoslastMsg = "",
            lastMessageTime = "2 Days ago",
            active = false
        },
    };

     private List<GalleryList> GalleryData = new List<GalleryList>()
    {
        new GalleryList { Img = "../assets/images/media/media-40.jpg",},
        new GalleryList { Img = "../assets/images/media/media-41.jpg",},
        new GalleryList { Img = "../assets/images/media/media-42.jpg",},
        new GalleryList { Img = "../assets/images/media/media-43.jpg",},
        new GalleryList { Img = "../assets/images/media/media-44.jpg",},
        new GalleryList { Img = "../assets/images/media/media-45.jpg",},
        new GalleryList { Img = "../assets/images/media/media-46.jpg",},
        new GalleryList { Img = "../assets/images/media/media-60.jpg",},
        new GalleryList { Img = "../assets/images/media/media-61.jpg",},
    };

    ChatList? ActiveUser { get; set; }
    string? chatUserDetailsRef = "";
    string? mainChartWrapperRef;
    protected override void OnInitialized()
    {
        ActiveUser = chatListData.FirstOrDefault(c => c.id == 2);
    }
    private void ShowChat(ChatList Selected)
    {
       ActiveUser = Selected;
       mainChartWrapperRef = "responsive-chat-open";
    }    
    private void removeChat()
    {
        mainChartWrapperRef = "";
    }
    private void ShowChatUser()
    {
        chatUserDetailsRef = "open";
    }
    private void CloseChatUser()
    {
        chatUserDetailsRef = "";
    }
}
