@page "/applications/todolist"
@using System.Threading.Tasks;
@using Soenneker.Blazor.TomSelect
@using Soenneker.Blazor.TomSelect.Configuration
@using Soenneker.Blazor.TomSelect.Enums
@using FlatpickrBlazor
@using FlatpickrBlazor.Components
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager 

<!-- Dragula CSS -->
<link rel="stylesheet" href="@($"{NavigationManager.BaseUri}assets/libs/dragula/dragula.min.css")">

<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">To Do List</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">To Do List</li>
        </ol>
    </div>
</div>
<!-- End::page-header -->

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-3">
        <div class="card custom-card">
            <div class="card-body p-0">
                <div class="p-3 task-navigation border-bottom border-block-end-dashed"> 
                    <div class="d-grid">
                        <button class="btn rounded-pill d-flex align-items-center justify-content-center btn-primary" data-bs-toggle="modal" data-bs-target="#addtask">
                            <i class="ri-add-circle-line fs-16 align-middle me-1"></i>Create New Task
                        </button>
                    </div>
                    <ul class="list-unstyled task-main-nav mb-0 mt-3">
                        <li class="px-0 pt-0">
                            <span class="fs-11 text-muted op-7 fw-medium">Tasks</span>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <span class="me-2 lh-1 todo-menu-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><rect x="40" y="40" width="176" height="176" rx="8" opacity="0.2"/><polyline points="88 136 112 160 168 104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><rect x="40" y="40" width="176" height="176" rx="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                    </span>
                                    <span class="flex-fill text-nowrap">
                                        All Tasks
                                    </span>
                                    <span class="badge bg-success rounded-pill">55</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <span class="me-2 lh-1 todo-menu-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="128" cy="96" r="64" opacity="0.2"/><circle cx="128" cy="96" r="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M32,216c19.37-33.47,54.55-56,96-56s76.63,22.53,96,56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                    </span>
                                    <span class="flex-fill text-nowrap">
                                        Assigned
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <span class="me-2 lh-1 todo-menu-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M128,189.09l54.72,33.65a8.4,8.4,0,0,0,12.52-9.17l-14.88-62.79,48.7-42A8.46,8.46,0,0,0,224.27,94L160.36,88.8,135.74,29.2a8.36,8.36,0,0,0-15.48,0L95.64,88.8,31.73,94a8.46,8.46,0,0,0-4.79,14.83l48.7,42L60.76,213.57a8.4,8.4,0,0,0,12.52,9.17Z" opacity="0.2"/><path d="M128,189.09l54.72,33.65a8.4,8.4,0,0,0,12.52-9.17l-14.88-62.79,48.7-42A8.46,8.46,0,0,0,224.27,94L160.36,88.8,135.74,29.2a8.36,8.36,0,0,0-15.48,0L95.64,88.8,31.73,94a8.46,8.46,0,0,0-4.79,14.83l48.7,42L60.76,213.57a8.4,8.4,0,0,0,12.52,9.17Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                    </span>
                                    <span class="flex-fill text-nowrap">
                                        Starred
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <span class="me-2 lh-1 todo-menu-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M200,56V208a8,8,0,0,1-8,8H64a8,8,0,0,1-8-8V56Z" opacity="0.2"/><line x1="216" y1="56" x2="40" y2="56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="104" y1="104" x2="104" y2="168" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="152" y1="104" x2="152" y2="168" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M200,56V208a8,8,0,0,1-8,8H64a8,8,0,0,1-8-8V56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M168,56V40a16,16,0,0,0-16-16H104A16,16,0,0,0,88,40V56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                    </span>
                                    <span class="flex-fill text-nowrap">
                                        Deleted
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="px-0 pt-2">
                            <span class="fs-11 text-muted op-7 fw-medium">Categories</span>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="me-2 lh-1">
                                        <i class="ri-circle-fill fs-8 fw-medium text-primary"></i>
                                    </span>
                                    <span class="flex-fill text-nowrap">
                                        Personal
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="me-2 lh-1">
                                        <i class="ri-circle-fill fs-8 fw-medium text-secondary"></i>
                                    </span>
                                    <span class="flex-fill text-nowrap">
                                        Work
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="me-2 lh-1">
                                        <i class="ri-circle-fill fs-8 fw-medium text-warning"></i>
                                    </span>
                                    <span class="flex-fill text-nowrap">
                                        Health & Fitness
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="me-2 lh-1">
                                        <i class="ri-circle-fill fs-8 fw-medium text-success"></i>
                                    </span>
                                    <span class="flex-fill text-nowrap">
                                        Daily Goals
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li> 
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="me-2 lh-1">
                                        <i class="ri-circle-fill fs-8 fw-medium text-danger"></i>
                                    </span>
                                    <span class="flex-fill text-nowrap">
                                        Financial Management
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="p-3 text-center">
                    <img src="../assets/images/media/media-66.png" alt="" class="custom-todo-list">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div> 
                    <input class="form-control" type="text" placeholder="Search Here" aria-label=".form-control-sm example"> 
                </div> 
                <div class="d-flex flex-wrap gap-2"> 
                    <div class="dropdown"> 
                        <a href="javascript:void(0);" class="btn btn-primary btn-wave" data-bs-toggle="dropdown" aria-expanded="false"> Sort By<i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> 
                        </a> 
                        <ul class="dropdown-menu" role="menu"> 
                            <li><a class="dropdown-item" href="javascript:void(0);">New</a></li> 
                            <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li> 
                            <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li> 
                        </ul> 
                    </div> 
                </div>
            </div>
            <div class="card-body p-0 position-relative" id="todo-content">
                <div>
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>
                                        <input class="form-check-input check-all" type="checkbox" id="all-tasks" value="" aria-label="..." @bind="@selectAll" @onclick="ToggleSelectAll">
                                    </th>
                                    <th class="todolist-handle-drag">

                                    </th>
                                    <th scope="col">Task Title</th>
                                    <th scope="col">Assigned To</th>
                                    <th scope="col">Priority</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created On</th>
                                    <th scope="col" class="todolist-progress">Progress</th>
                                    <th scope="col" class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody id="todo-drag">
                                @foreach(var data in TodoData)
                                {
                                    <tr class="todo-box">
                                    <td class="task-checkbox"><input class="form-check-input" type="checkbox" value="" aria-label="..." @bind="@data.Selected"></td>
                                    <td>
                                        <button class="btn btn-icon btn-sm btn-wave btn-light todo-handle">: :</button>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" class="fw-medium">@data.Title</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="lh-1">
                                                <span class="avatar avatar-xs avatar-rounded">
                                                    <img src="@data.AssignerImg" alt="">
                                                </span>
                                            </div>
                                            <div class="fw-medium">@data.Assigner</div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="fw-medium text-@(data.Priority == "High"? "danger" : data.Priority == "Medium"? "warning" : "success")"><i class="ri-circle-line fw-semibold fs-7 me-2 lh-1 align-middle"></i>@data.Priority</span>
                                    </td>
                                    <td>
                                        @data.Deadline
                                    </td>
                                    <td>
                                        <span class="badge bg-@(data.Status == "In Progress"? "success" : data.Status == "Pending"? "warning" : "primary")-transparent">@data.Status</span>
                                    </td>
                                    <td>
                                        @data.CreatedDate
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="progress progress-animate progress-xs w-100" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: @data.Progress%"></div>
                                            </div>
                                            <div class="ms-2">@data.Progress%</div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown"> 
                                            <a aria-label="anchor" class="btn btn-light btn-icon btn-sm btn-wave" href="javascript:void(0);" data-bs-toggle="dropdown"> 
                                                <i class="ri-more-2-fill text-muted"></i>
                                            </a> 
                                            <ul class="dropdown-menu" role="menu"> 
                                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-edit-line me-2"></i>Edit</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);" @onclick="@(() => DeleteCompleted(data.Id))"><i class="ri-delete-bin-5-line me-2"></i>Delete</a></li> 
                                            </ul> 
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer border-top-0"> 
                <div class="d-flex align-items-center justify-content-between flex-wrap gap-2"> 
                    <div> Showing 10 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div>
                    <div> 
                        <nav aria-label="Page navigation" class="pagination-style-4"> 
                            <ul class="pagination mb-0"> 
                                <li class="page-item disabled"> <a class="page-link" href="javascript:void(0);"> Prev </a> </li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li> 
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li> 
                                <li class="page-item"> <a class="page-link text-primary" href="javascript:void(0);"> next </a> </li> 
                            </ul> 
                        </nav> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

<!-- Start:: Add new task modal -->
<div class="modal fade" id="addtask" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="mail-ComposeLabel">Create Task</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <div class="row gy-2">
                    <div class="col-xl-12">
                        <label for="task-name" class="form-label">Task Name</label>
                        <input type="text" class="form-control" id="task-name" placeholder="Task Name">
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Assigned To</label>
                        @if (isRendered)
                        {
                            <TomSelect TItem="TagItem" Items="_tagItems" TType="string" Multiple="true" @bind-Value="_tagValue" Data="_assignedToTagOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder=""  persist= "false" Create = "true" Configuration="_configuration2" />
                        }
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Assigned Date</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                <Flatpickr class="form-control"
                                        @ref="_flatpickr"
                                        placeholder="Choose date and time"
                                        EnableTime="true"
                                        DateFormat="Y-m-d H:i"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Target Date</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                <Flatpickr class="form-control"
                                        @ref="_flatpickr"
                                        placeholder="Choose date and time"
                                        EnableTime="true"
                                        DateFormat="Y-m-d H:i"
                                />

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Status</label>
                       @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_statusOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Select" Configuration="_configuration" />
                        }  
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Priority</label>
                        @if (isRendered)
                         {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_priorityOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Select" Configuration="_configuration" />
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Dragula JS -->
<script src="@($"{NavigationManager.BaseUri}assets/libs/dragula/dragula.min.js")"></script>
<script>
    setTimeout(() => {
        dragula([document.getElementById('todo-drag')],{
            moves: function (el, container, handle) {
                return handle.classList.contains('todo-handle');
            }
        });
    }, 100);
</script>


@code{
     // Date picker Start//
    public Flatpickr? _flatpickr;
    // Date picker End//

    private bool isRendered = false;  
    protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isRendered = true;
            await System.Threading.Tasks.Task.Delay(0);
            StateHasChanged(); 
        }
    }

    private string? _selectedValue = null; 
    private List<SelectItem>? _statusOptions;      
    private List<SelectItem>? _priorityOptions;      
    private List<SelectItem> _selectedItems = new List<SelectItem>();    
    public class SelectItem
    {
        public string? Id { get; set; }
        public string? Name { get; set; }
        public bool Selected { get; set; }
    }
  
    private TomSelect<TagItem, string> _tagValue = default!;
    private List<TagItem>? _assignedToTagOptions;   
    private List<TagItem> _tagItems = new List<TagItem>();    
    public class TagItem
    {
        public string? Id { get; set; }
        public string? Name { get; set; }
        public bool Selected { get; set; }
    } 

    private readonly TomSelectConfiguration _configuration = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.DropdownInput, TomSelectPluginType.NoBackspaceDelete }
    };
    private readonly TomSelectConfiguration _configuration2 = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.RemoveButton, TomSelectPluginType.NoBackspaceDelete }
    };
    protected override void OnInitialized() {

        _statusOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "New" },
            new SelectItem { Id = "1", Name = "Completed" },
            new SelectItem { Id = "2", Name = "Inprogress" },
            new SelectItem { Id = "3", Name = "Pending" },
        };

        _priorityOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "High" },
            new SelectItem { Id = "1", Name = "Medium" },
            new SelectItem { Id = "2", Name = "Low" },
        };

        _assignedToTagOptions = new List<TagItem>
        {
            new TagItem { Id = "0", Name = "Angelina May" },
            new TagItem { Id = "1", Name = "Kiara advain" },
            new TagItem { Id = "2", Name = "Hercules Jhon" },
            new TagItem { Id = "3", Name = "Mayor Kim" },
        };  
    }

    public class Todo
    {
        public int Id { get; set; }
        public string? Title { get; set; }
        public string? Priority { get; set; }
        public string? AssignerImg { get; set; }
        public string? Assigner { get; set; }
        public string? Status { get; set; }
        public string? Deadline { get; set; }
        public string? CreatedDate { get; set; }
        public string? Progress { get; set; }
        public bool Selected { get; set; }
    }

    private List<Todo> TodoData = new List<Todo>()
    {
        new Todo {
            Id = 1,
            Title = "Design Homepage",
            Priority = "High",
            AssignerImg = "../assets/images/faces/12.jpg",
            Assigner = "John Doe",
            Status = "In Progress",
            Deadline = "2025-03-10",
            CreatedDate = "2025-03-01",
            Progress = "40",
            Selected = false,
            
        },
        new Todo {
            Id = 2,
            Title = "Develop Login Page",
            Priority = "Medium",
            AssignerImg = "../assets/images/faces/4.jpg",
            Assigner = "Jane Smith",
            Status = "Pending",
            Deadline = "2025-03-15",
            CreatedDate = "2025-03-02",
            Progress = "20",
            Selected = false,
            
        },
        new Todo {
            Id = 3,
            Title = "Write Documentation",
            Priority = "Low",
            AssignerImg = "../assets/images/faces/6.jpg",
            Assigner = "Sarah Lee",
            Status = "Completed",
            Deadline = "2025-03-20",
            CreatedDate = "2025-03-03",
            Progress = "100",
            Selected = false,
            
        },
        new Todo {
            Id = 4,
            Title = "Test Payment Gateway",
            Priority = "High",
            AssignerImg = "../assets/images/faces/10.jpg",
            Assigner = "Michael Brown",
            Status = "In Progress",
            Deadline = "2025-03-18",
            CreatedDate = "2025-03-05",
            Progress = "40",
            Selected = false,
            
        },
        new Todo {
            Id = 5,
            Title = "Fix UI Bugs",
            Priority = "High",
            AssignerImg = "../assets/images/faces/7.jpg",
            Assigner = "Emily Clark",
            Status = "Pending",
            Deadline = "2025-03-12",
            CreatedDate = "2025-03-02",
            Progress = "10",
            Selected = false,
            
        },
        new Todo {
            Id = 6,
            Title = "Update Blog Section",
            Priority = "High",
            AssignerImg = "../assets/images/faces/11.jpg",
            Assigner = "Chris Martin",
            Status = "Pending",
            Deadline = "2025-03-12",
            CreatedDate = "2025-03-02",
            Progress = "10",
            Selected = false,
            
        },
        new Todo {
            Id = 7,
            Title = "Set Up Email Campaign",
            Priority = "Medium",
            AssignerImg = "../assets/images/faces/5.jpg",
            Assigner = "Olivia White",
            Status = "In Progress",
            Deadline = "2025-03-22",
            CreatedDate = "2025-03-03",
            Progress = "50",
            Selected = false,
            
        },
        new Todo {
            Id = 8,
            Title = "Review SEO Reports",
            Priority = "Low",
            AssignerImg = "../assets/images/faces/15.jpg",
            Assigner = "James Brown",
            Status = "Pending",
            Deadline = "2025-03-17",
            CreatedDate = "2025-03-01",
            Progress = "0",
            Selected = false,
            
        },
        new Todo {
            Id = 9,
            Title = "Prepare Client Demo",
            Priority = "High",
            AssignerImg = "../assets/images/faces/8.jpg",
            Assigner = "Sophia Green",
            Status = "In Progress",
            Deadline = "2025-03-14",
            CreatedDate = "2025-03-02",
            Progress = "80",
            Selected = false,
            
        },
        new Todo {
            Id = 10,
            Title = "Update User Profiles",
            Priority = "Low",
            AssignerImg = "../assets/images/faces/16.jpg",
            Assigner = "Noah Wilson",
            Status = "Pending",
            Deadline = "2025-03-28",
            CreatedDate = "2025-03-06",
            Progress = "0",
            Selected = false,
            
        }
    };

    public class AssignedTo
    {
        public string? Img { get; set; }
    }

    private bool selectAll;
    private void ToggleSelectAll()
    {
        selectAll = !selectAll;
        foreach (var Todo in TodoData)
        {
           Todo.Selected = selectAll;
        }
    } 

    protected void DeleteCompleted(decimal Id)
    {
        var TodoToRemove = TodoData.FirstOrDefault(o => o.Id == Id);
        if (TodoToRemove != null)
        {
            TodoData.Remove(TodoToRemove);
        }
    } 

}