@page "/nft/dashboard"
@using ApexCharts

<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">NFT</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboards</a></li>
            <li class="breadcrumb-item active" aria-current="page">NFT</li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
        </ol>
    </div>
</div>
<!-- End::page-header -->

<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xxl-9">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card nft-main-banner-card border-0">
                    <div class="card-body">
                        <div class="nft-main-bannr-background">
                            <img src="../assets/images/nft-images/1.png" alt="" class="d-md-block d-none">
                        </div>
                        <h2 class="text-fixed-white">Discover, buy, and sell unique NFTs</h2>
                        <p class="fs-16 op-8 mb-4">Immerse yourself in a world where digital creativity <br> meets blockchain technology</p>
                        <div class="btn-list">
                            <button class="btn btn-lg btn-light">Explore</button>
                            <button class="btn btn-lg btn-outline-light text-fixed-white">Sell Artwork</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 d-flex align-items-center justify-content-between flex-wrap gap-2"> 
                <h6 class="fw-medium mb-0">Trending NFT'S :</h6> 
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"> 
                    <button type="button" class="btn btn-primary btn-sm btn-wave waves-effect waves-light">1D</button> 
                    <button type="button" class="btn btn-primary-light btn-sm btn-wave waves-effect waves-light">1W</button> 
                    <button type="button" class="btn btn-primary-light btn-sm btn-wave waves-effect waves-light">1M</button> 
                    <button type="button" class="btn btn-primary-light btn-sm btn-wave waves-effect waves-light">1Y</button> 
                </div> 
            </div>
            <div class="d-flex align-items-center gap-4 mb-4 flex-wrap"> 
                <div class="nft-tag nft-tag-primary active"> 
                    <a href="javascript:void(0);" class="stretched-link"></a> 
                    <span class="nft-tag-text">Music</span> 
                </div> 
                <div class="nft-tag nft-tag-secondary"> 
                    <a href="javascript:void(0);" class="stretched-link"></a> 
                    <span class="nft-tag-text">Games</span> 
                </div> 
                <div class="nft-tag nft-tag-info"> 
                    <a href="javascript:void(0);" class="stretched-link"></a> 
                    <span class="nft-tag-text">Art</span> 
                </div> 
                <div class="nft-tag nft-tag-success"> 
                    <a href="javascript:void(0);" class="stretched-link"></a> 
                    <span class="nft-tag-text">Photography</span> 
                </div> 
                <div class="nft-tag nft-tag-danger"> 
                    <a href="javascript:void(0);" class="stretched-link"></a> 
                    <span class="nft-tag-text">Sport</span> 
                </div> 
                <div class="nft-tag nft-tag-purple"> 
                    <a href="javascript:void(0);" class="stretched-link"></a> 
                    <span class="nft-tag-text">Cartoon</span> 
                </div> 
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="card custom-card">
                    <div class="d-flex align-items-center justify-content-between nft-like-section w-100 px-3">
                        <div class="flex-fill">
                            <button class="btn btn-sm btn-icon btn-danger rounded-pill btn-wave">
                                <i class="ri-heart-fill"></i>
                            </button>
                        </div>
                        <div>
                            <span class="badge nft-like-badge text-default"><i class="ri-heart-fill me-1 text-danger align-middle d-inline-block"></i>1.32k</span>
                        </div>
                        <p class="mb-0 nft-auction-time">
                            04hrs : 24m : 38s
                        </p>
                    </div>
                    <div class="card-body p-2">
                        <img src="../assets/images/nft-images/2.png" class="card-img mb-3" alt="...">
                        <div class="p-2">
                            <div class="mb-3">
                                <a href=""><h6 class="fw-semibold mb-1 text-truncate">Neon Samurai: Blade of the Future</h6></a>
                                <a href="javascript:void(0);"><span class="fs-13 text-muted fw-medium">By Kairo Tetsuo</span></a>
                            </div>
                            <div class="d-flex align-items-end justify-content-between flex-wrap gap-2">
                                <div class="flex-fill">
                                    <span class="text-muted fs-12 d-block mb-1">Current Bid</span>
                                    <div class="d-flex align-items-center gap-2 fw-semibold">
                                        <div class="lh-1">
                                            <span class="avatar avatar-xs avatar-rounded">
                                                <img src="../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            12.45ETH
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary">Place a Bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="card custom-card">
                    <div class="d-flex align-items-center justify-content-between nft-like-section w-100 px-3">
                        <div class="flex-fill">
                            <button class="btn btn-sm btn-icon btn-danger rounded-pill btn-wave">
                                <i class="ri-heart-fill"></i>
                            </button>
                        </div>
                        <div>
                            <span class="badge nft-like-badge text-default"><i class="ri-heart-fill me-1 text-danger align-middle d-inline-block"></i>1.26k</span>
                        </div>
                        <p class="mb-0 nft-auction-time">
                            04hrs : 24m : 38s
                        </p>
                    </div>
                    <div class="card-body p-2">
                        <img src="../assets/images/nft-images/3.png" class="card-img mb-3" alt="...">
                        <div class="p-2">
                            <div class="mb-3">
                                <a href=""><h6 class="fw-semibold mb-1 text-truncate">Cybercity Uprising: Rebels of the Neon Streets</h6></a>
                                <a href="javascript:void(0);"><span class="fs-13 text-muted fw-medium">By Aiko Nakamura</span></a>
                            </div>
                            <div class="d-flex align-items-end justify-content-between flex-wrap gap-2">
                                <div class="flex-fill">
                                    <span class="text-muted fs-12 d-block mb-1">Current Bid</span>
                                    <div class="d-flex align-items-center gap-2 fw-semibold">
                                        <div class="lh-1">
                                            <span class="avatar avatar-xs avatar-rounded">
                                                <img src="../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            18.34ETH
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary">Place a Bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="card custom-card">
                    <div class="d-flex align-items-center justify-content-between nft-like-section w-100 px-3">
                        <div class="flex-fill">
                            <button class="btn btn-sm btn-icon btn-danger rounded-pill btn-wave">
                                <i class="ri-heart-fill"></i>
                            </button>
                        </div>
                        <div>
                            <span class="badge nft-like-badge text-default"><i class="ri-heart-fill me-1 text-danger align-middle d-inline-block"></i>2.45k</span>
                        </div>
                        <p class="mb-0 nft-auction-time">
                            04hrs : 24m : 38s
                        </p>
                    </div>
                    <div class="card-body p-2">
                        <img src="../assets/images/nft-images/4.png" class="card-img mb-3" alt="...">
                        <div class="p-2">
                            <div class="mb-3">
                                <a href=""><h6 class="fw-semibold mb-1 text-truncate">Holo-Vision: The Last Cyberpunk Hero</h6></a>
                                <a href="javascript:void(0);"><span class="fs-13 text-muted fw-medium">By Ryo Takahashi</span></a>
                            </div>
                            <div class="d-flex align-items-end justify-content-between flex-wrap gap-2">
                                <div class="flex-fill">
                                    <span class="text-muted fs-12 d-block mb-1">Current Bid</span>
                                    <div class="d-flex align-items-center gap-2 fw-semibold">
                                        <div class="lh-1">
                                            <span class="avatar avatar-xs avatar-rounded">
                                                <img src="../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            26.50ETH
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary">Place a Bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3 mb-2">
                            <div class="lh-1">
                                <span class="avatar avatar-md bg-primary-transparent svg-primary"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M21 7.28V5c0-1.1-.9-2-2-2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-2.28c.59-.35 1-.98 1-1.72V9c0-.74-.41-1.37-1-1.72zM20 9v6h-7V9h7zM5 19V5h14v2h-6c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h6v2H5z"></path><circle cx="16" cy="12" r="1.5"></circle></svg> 
                                </span>
                            </div>
                            <div>
                                <span class="d-block fs-13">Your Balance</span>
                                <h4 class="fw-semibold mb-1">162.87ETH</h4>
                                <span class="text-muted fs-12 d-inline-flex align-items-center"><span class="text-success me-2"><i class="ti ti-arrow-narrow-up me-1"></i>2.55%</span>This Year</span>
                            </div>
                        </div>
                        <div id="nft-balance-chart">
                        <ApexChart TItem="NftBalanceChart" Height="60" Options="NftBalanceChartOptions">
                            <ApexPointSeries TItem="NftBalanceChart" Items="nftBalanceChart" SeriesType="@SeriesType.Area" Name="value"
                                XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
                        </ApexChart>
                        </div>
                        <div class="d-grid mt-3">
                            <button class="btn btn-primary d-inline-flex align-items-center justify-content-center"><i class="ti ti-circle-plus me-1 align-middle fs-14"></i>Top Up Balance</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Top Creators
                        </div>
                        <a href="javascript:void(0);" class="text-muted fs-13">View All <i class="ti ti-arrow-narrow-right ms-1"></i></a>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled nft-top-collectors-list">                 
                            @foreach (var creator in topCreators)
                            {
                                <li>
                                    <div class="d-flex align-items-center gap-2 flex-wrap">
                                        <div class="lh-1">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="@creator.ImageUrl" alt="@creator.Name" />
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <span class="fw-semibold d-block">
                                                @creator.Name
                                                @if (creator.IsVerified)
                                                {
                                                    <i class="bi bi-patch-check-fill text-primary align-middle ms-2"></i>
                                                }
                                            </span>
                                             <span class="text-muted fs-13">@creator.HandleName</span> 
                                        </div>
                                        <div>
                                            <button class="btn @(creator.IsFollowing ? "btn-primary" : "btn-light") rounded-pill">
                                                @(creator.IsFollowing ? "Following" : "Follow")
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xxl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    NFT Statistics
                </div>
            </div>
            <div class="card-body pb-2">
                <div class="p-3 border border-dashed rounded mb-4">
                    <div class="d-flex align-items-center justify-content-center flex-wrap gap-5">
                        <div>
                            <div class="mb-2">Growth<span class="badge bg-success ms-2"><i class="ti ti-arrow-up me-1"></i>2.35%</span></div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="fs-13 text-muted">NFT's Sold</div>
                                <h5 class="fw-semibold mb-0">3,297</h5>
                            </div>
                        </div>
                        <div>
                            <div class="mb-2">Market<span class="badge bg-success ms-2"><i class="ti ti-arrow-up me-1"></i>6.96%</span></div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="fs-13 text-muted">Total Market</div>
                                <h5 class="fw-semibold mb-0">$1.45M</h5>
                            </div>
                        </div>
                        <div>
                            <div class="mb-2">Bid<span class="badge bg-danger ms-2"><i class="ti ti-arrow-down me-1"></i>3.85%</span></div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="fs-13 text-muted">Highest Bid</div>
                                <h5 class="fw-semibold mb-0">128ETH</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="nft-statistics">
                <ApexChart TItem="NftStatistics" Height=280 Options=NftStatisticsChartOptions>
                    <ApexPointSeries TItem="NftStatistics" Items="nftStatistics" SeriesType="@SeriesType.Bar"
                        Name="Last Year" XValue="@(e => e.Month)" YAggregate="@(e => e.Sum(e => e.LastYear))"/>
                    <ApexPointSeries TItem="NftStatistics" Items="nftStatistics" SeriesType="@SeriesType.Bar"
                        Name="This Year" XValue="@(e => e.Month)" YAggregate="@(e => e.Sum(e => e.ThisYear))"/>
                </ApexChart>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Top Drops
                </div>
                <a href="javascript:void(0);" class="text-muted fs-13">View All<i class="ti ti-arrow-narrow-right ms-1"></i></a>
            </div>
            <div class="card-body">
                <ul class="list-unstyled nft-top-drops-list">               
                    @foreach (var item in topDrops)
                    {
                        <li>
                            <div class="d-flex align-items-center gap-2">
                                <div class="lh-1">
                                    <span class="avatar avatar-md avatar-rounded">
                                        <img src="@item.ImageUrl" alt="@item.Title" />
                                    </span>
                                </div>
                                <div class="flex-fill">
                                    <span class="d-block fw-semibold">@item.Title</span>
                                    <span class="fs-13 text-muted">By @item.Creator</span>
                                </div>
                                <div class="text-end">
                                    <div class="d-flex align-items-center gap-1">
                                        <div class="lh-1">
                                            <span class="avatar avatar-xs">
                                                <img src="@item.CryptoIconUrl" alt="crypto-icon" />
                                            </span>
                                        </div>
                                        <span class="fw-semibold">@item.Price</span>
                                    </div>
                                    <span class="fs-13 text-muted d-block">@item.Label</span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Featured Authors
                </div>
                <a href="javascript:void(0);" class="text-muted fs-13">View All <i class="ti ti-arrow-narrow-right ms-1"></i></a>
            </div>
            <div class="card-body p-2">
                <div class="Carousel pagination-dynamic text-start featured-collections" id="nft-collections-slide">
                    <div class="Carousel-wrapper">
                        <BlazorSlickCarousel Configurations="BasicConfigurations" @ref="theCarousel">
                            <BlazorSlickCarouselContent>
                                @foreach (var slide in featuredAuthors)
                                    {
                                        <div class="Carousel-slide">
                                            <div class="card custom-card border-0 shadow-none mb-0">
                                                <div class="card-body p-0">
                                                    <div class="row g-2">
                                                        <div class="col-12">
                                                            <img src="@slide.MainImage" alt="" class="nft-featuredcollect-image rounded" />
                                                        </div>
                                                        @foreach (var subImg in slide.SubImages)
                                                        {
                                                            <div class="col-6">
                                                                <img src="@subImg" alt="" class="nft-featuredcollect-image rounded" />
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="card-footer border-top-0 pb-0">
                                                    <div class="d-flex align-items-center">
                                                        <div class="d-flex align-items-center flex-fill">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-md avatar-rounded">
                                                                    <img src="@slide.AuthorImage" alt="@slide.AuthorName" />
                                                                    @if (slide.IsVerified)
                                                                    {
                                                                        <a href="javascript:void(0);" class="badge rounded-pill bg-primary avatar-badge">
                                                                            <i class="ri-check-line align-mmiddle"></i>
                                                                        </a>
                                                                    }
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <p class="mb-0 fw-semibold">
                                                                    <a href="javascript:void(0);">@slide.AuthorName</a>
                                                                </p>
                                                                <p class="text-muted fs-12 mb-0">@slide.userName</p> 
                                                            </div>
                                                        </div>
                                                        <div class="dropdown">
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-primary-light" data-bs-toggle="dropdown">
                                                                <i class="fe fe-more-vertical"></i>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                                                <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                                                <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                            </BlazorSlickCarouselContent>
                        </BlazorSlickCarousel>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    NFT Collection Overview
                </div>
                <div class="d-flex flex-wrap gap-2"> 
                    <div class="dropdown custom-invoice"> 
                        <a href="javascript:void(0);" class="btn btn-outline-light btn-wave waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false">Price<i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> </a> 
                        <ul class="dropdown-menu" role="menu"> 
                            <li><a class="dropdown-item" href="javascript:void(0);">All</a></li> 
                            <li><a class="dropdown-item" href="javascript:void(0);">Under 5 ETH</a></li> 
                            <li><a class="dropdown-item" href="javascript:void(0);">5 ETH - 10 ETH</a></li> 
                            <li><a class="dropdown-item" href="javascript:void(0);">10 ETH - 20 ETH</a></li> 
                            <li><a class="dropdown-item" href="javascript:void(0);">Above 20 ETH</a></li> 
                        </ul> 
                    </div> 
                    <div> 
                        <input class="form-control" type="text" placeholder="Search Here" aria-label=".form-control-sm example"> 
                    </div> 
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>NFT Name</th>
                                <th>Creator</th>
                                <th>Release Date</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Category</th>
                                <th>Blockchain</th>
                                <th>Ownership</th>
                                <th>Volume (ETH)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var nft in nftCollection)
                            {
                                <tr>
                                    <td>@nft.Id</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="lh-1">
                                                <span class="avatar avatar-md avatar-rounded">
                                                    <img src="@nft.ImageUrl" alt="@nft.Title" />
                                                </span>
                                            </div>
                                            <div>
                                                <span class="fw-semibold d-block">@nft.Title</span>
                                                <span class="fs-13 text-muted">@nft.subTitle</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@nft.Creator</td>
                                    <td>@nft.Date.ToString("MMM dd, yyyy")</td>
                                    <td>@nft.Price</td>
                                    <td>
                                        <span class="badge 
                                        bg-@(nft.Status == "Coming Soon"?"primary" :
                                        nft.Status == "Pre-Sale"?"warning" :
                                        "success"
                                        )-transparent">
                                        @nft.Status</span>
                                    </td>
                                    <td>@nft.Category</td>
                                    <td>@nft.Blockchain</td>
                                    <td>@nft.Edition</td>
                                    <td>@nft.TotalValue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer border-top-0">
                <div class="d-flex align-items-center"> 
                    <div> Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div> 
                    <div class="ms-auto"> 
                        <nav aria-label="Page navigation" class="pagination-style-2">
                            <ul class="pagination mb-0 flex-wrap">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0);">
                                        Prev
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">17</a></li>
                                <li class="page-item">
                                    <a class="page-link text-primary" href="javascript:void(0);">
                                        next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- End:: row-3 -->


<!-- Charts -->
@code{

    // NftStatistics Start //
    private List<NftStatistics> nftStatistics { get; set; } = NftStatisticsData.GetNftStatistics();
    private ApexChartOptions<NftStatistics> NftStatisticsChartOptions { get; set; } = new ApexChartOptions<NftStatistics>
    {
        Chart = new () {
                    Height = 280,
                    Toolbar = new ApexCharts.Toolbar {
                        Show = true,
                        Tools = new Tools { Zoom = true, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = true},
                    },
                    Stacked = true,
                },
                DataLabels = new DataLabels {
                    Enabled = false,
                },
                PlotOptions = new PlotOptions {
                    Bar = new PlotOptionsBar {
                        ColumnWidth = "45%",
                        BorderRadius = 2,
                    }
                },
                Legend = new Legend {
                    Show = true,
                    Position = LegendPosition.Bottom,
                    Markers = new() {
                        Width= 10,
                        Height= 10,
                    },
                },
                Stroke = new Stroke { 
                    Curve= Curve.Smooth,
                },
                Grid = new Grid {
                    BorderColor = "#f1f1f1",
                    StrokeDashArray = 3,
                },
                Colors = new Color(new List<string> {"var(--primary-color)", "var(--primary02)"}),
                Yaxis = new List<YAxis>() {
                    new YAxis 
                    {
                        Title = new() {
                            Text = "Statistics",
                            Style = new() {
                                Color = "#adb5be",
                                FontSize = "14px",
                                FontWeight = 600,
                                CssClass = "apexcharts-yaxis-label",
                            }
                        },
                        
                    }
                },
                Xaxis =  new XAxis {
                    Categories=new[] {"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"},
                    AxisBorder = new() {
                        Show = true,
                        Color = "rgba(119, 119, 142, 0.05)",
                        OffsetX = 0,
                        OffsetY = 0,
                    },
                    AxisTicks = new() {
                        Show = true,
                        BorderType = ApexCharts.BorderType.Solid,
                        Color = "rgba(119, 119, 142, 0.05)",
                        OffsetX = 0,
                        OffsetY = 0
                    },
                    Labels = new(){
                        Rotate = -90
                    }
                },
    };

    public class NftStatistics {
        public string? Month { get; set; }
        public decimal LastYear { get; set; }
        public decimal ThisYear { get; set; }
    }

    public static class NftStatisticsData {
        public static List<NftStatistics> GetNftStatistics() {
            return new List<NftStatistics> {
                new NftStatistics { Month = "Jan", LastYear = 20, ThisYear = 85 },
                new NftStatistics { Month = "Feb", LastYear = 38, ThisYear = 65 },
                new NftStatistics { Month = "Mar", LastYear = 38, ThisYear = 75 },
                new NftStatistics { Month = "Apr", LastYear = 72, ThisYear = 38 },
                new NftStatistics { Month = "May", LastYear = 55, ThisYear = 85 },
                new NftStatistics { Month = "Jun", LastYear = 63, ThisYear = 35 },
                new NftStatistics { Month = "Jul", LastYear = 43, ThisYear = 62 },
                new NftStatistics { Month = "Aug", LastYear = 76, ThisYear = 40 },
                new NftStatistics { Month = "Sep", LastYear = 55, ThisYear = 40 },
                new NftStatistics { Month = "Oct", LastYear = 80, ThisYear = 64 },
                new NftStatistics { Month = "Nov", LastYear = 40, ThisYear = 50 },
                new NftStatistics { Month = "Dec", LastYear = 80, ThisYear = 89 },
            };
        }
    }
    // NftStatistics End //

    // nft-balance-chart start //
    private List<NftBalanceChart> nftBalanceChart { get; set; } = NftBalanceChartData.GetData();

    private ApexChartOptions<NftBalanceChart> NftBalanceChartOptions { get; set; } = new ApexChartOptions<NftBalanceChart>
    {
        Chart = new()
        {
            Type = ChartType.Area,
            Height = 60,
            Sparkline = new(){
                Enabled = true,
            },
            Toolbar = new ApexCharts.Toolbar{
                Tools = new Tools
                {
                    Zoom = false,
                    Zoomin = false,
                    Zoomout = false,
                    Pan = false,
                    Reset = false,
                    Download = false
                },
            }, 
        },
        Stroke = new Stroke{
            Show = true,
            Curve = Curve.Smooth,
            LineCap = ApexCharts.LineCap.Butt,
            Width = 1.5,
            DashArray = 0
        },
         Fill = new Fill{
            Type = new List<FillType> { FillType.Gradient },
            Gradient = new FillGradient{
                ShadeIntensity = 1,
                OpacityFrom = 0.4,
                OpacityTo = 0.1,
                Stops = [0, 90, 100],
                ColorStops = new List<FillGradientStops>
                {
                    new FillGradientStops { Offset = 0, Color = "var(--primary01)", Opacity = 1 },
                    new FillGradientStops { Offset = 75, Color = "var(--primary01)", Opacity = 1 },
                    new FillGradientStops { Offset = 100, Color = "var(--primary01)", Opacity = 1 },
                }
            },
        },
        Xaxis =  new XAxis {
            AxisBorder = new () {
                Show = false,
            },
        },
        Yaxis = new List<YAxis>() {
                new YAxis {
                    Min = 0,
                    Show = false,
                    AxisBorder = new () {
                       Show = false,
                    },
                },
            },
        Colors = new List<string> { "var(--primary-color)" },
       
    };

    public class NftBalanceChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class NftBalanceChartData
    {
        public static List<NftBalanceChart> GetData()
        {
            return new List<NftBalanceChart>
            {
                new NftBalanceChart { Series = 1, Value = 20 },
                new NftBalanceChart { Series = 2, Value = 14 },
                new NftBalanceChart { Series = 3, Value = 19 },
                new NftBalanceChart { Series = 4, Value = 10 },
                new NftBalanceChart { Series = 5, Value = 25 },
                new NftBalanceChart { Series = 6, Value = 20 },
                new NftBalanceChart { Series = 7, Value = 22 },
                new NftBalanceChart { Series = 8, Value = 9 },
                new NftBalanceChart { Series = 9, Value = 12 },
            };
        }
    }
    // nft-balance-chart end //

}

@code{

    public class NftItem
    {
        public int Id { get; set; }
        public string? ImageUrl { get; set; }
        public string? Title { get; set; }
         public string? subTitle { get; set; }
        public string? Creator { get; set; }
        public DateTime Date { get; set; }
        public string? Price { get; set; }
        public string? Status { get; set; }
        public string? Category { get; set; }
        public string? Blockchain { get; set; }
        public string? Edition { get; set; }
        public string? TotalValue { get; set; }
    }
    List<NftItem> nftCollection = new List<NftItem>
    {
        new NftItem
        {
            Id = 1,
            ImageUrl = "../assets/images/nft-images/40.png",
            Title = "Neon Samurai",
            subTitle = "@KairoX",
            Creator = "Kairo Tetsuo",
            Date = new DateTime(2025, 2, 25),
            Price = "10 ETH",
            Status = "Sold Out",
            Category = "Cyberpunk",
            Blockchain = "Ethereum",
            Edition = "1 of 1",
            TotalValue = "50 ETH"
        },
        new NftItem
        {
            Id = 2,
            ImageUrl = "../assets/images/nft-images/42.png",
            Title = "Cybercity Uprising",
            subTitle = "@NamiGhost",
            Creator = "Aiko Nakamura",
            Date = new DateTime(2025, 3, 10),
            Price = "5 ETH",
            Status = "50% Sold",
            Category = "Cyberpunk",
            Blockchain = "Polygon",
            Edition = "3 of 10",
            TotalValue = "15 ETH"
        },
        new NftItem
        {
            Id = 3,
            ImageUrl = "../assets/images/nft-images/35.png",
            Title = "Holo-Vision Hero",
            subTitle = "@TakaraVision",
            Creator = "Ryo Takahashi",
            Date = new DateTime(2025, 3, 18),
            Price = "7 ETH",
            Status = "80% Sold",
            Category = "Sci-Fi",
            Blockchain = "Ethereum",
            Edition = "5 of 5",
            TotalValue = "20 ETH"
        },
        new NftItem
        {
            Id = 4,
            ImageUrl = "../assets/images/nft-images/36.png",
            Title = "Cyber Phoenix",
            subTitle = "@CypherNova",
            Creator = "Nova Cypher",
            Date = new DateTime(2025, 4, 2),
            Price = "12 ETH",
            Status = "10% Sold",
            Category = "Cyberpunk",
            Blockchain = "Binance",
            Edition = "10 of 20",
            TotalValue = "10 ETH"
        },
        new NftItem
        {
            Id = 5,
            ImageUrl = "../assets/images/nft-images/37.png",
            Title = "Digital Outlaws",
            subTitle = "@ZaraKx",
            Creator = "Zara Kai",
            Date = new DateTime(2025, 4, 15),
            Price = "15 ETH",
            Status = "Coming Soon",
            Category = "Cyberpunk",
            Blockchain = "Solana",
            Edition = "1 of 1",
            TotalValue = "0 ETH"
        },
        new NftItem
        {
            Id = 6,
            ImageUrl = "../assets/images/nft-images/38.png",
            Title = "Cyber Reaper",
            subTitle = "@XenoMax",
            Creator = "Maxim Xeno",
            Date = new DateTime(2025, 4, 20),
            Price = "8 ETH",
            Status = "Pre-Sale",
            Category = "Cyberpunk",
            Blockchain = "Ethereum",
            Edition = "7 of 10",
            TotalValue = "25 ETH"
        }
    };

    //Top Drops
    public class TopDropItem
    {
        public string? ImageUrl { get; set; }
        public string? Title { get; set; }
        public string? Creator { get; set; }
        public string? Price { get; set; }
        public string? CryptoIconUrl { get; set; }
        public string? Label { get; set; } = "Sold At";  // Default label text
    }
    List<TopDropItem> topDrops = new List<TopDropItem>
    {
        new TopDropItem
        {
            ImageUrl = "../assets/images/nft-images/36.png",
            Title = "Blade of the Future",
            Creator = "Kairo Tetsuo",
            Price = "10 ETH",
            CryptoIconUrl = "../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg"
        },
        new TopDropItem
        {
            ImageUrl = "../assets/images/nft-images/38.png",
            Title = "Rebels of the Neon Streets",
            Creator = "Aiko Nakamura",
            Price = "5 ETH",
            CryptoIconUrl = "../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg"
        },
        new TopDropItem
        {
            ImageUrl = "../assets/images/nft-images/40.png",
            Title = "The Last Cyberpunk Hero",
            Creator = "Ryo Takahashi",
            Price = "7 ETH",
            CryptoIconUrl = "../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg"
        },
        new TopDropItem
        {
            ImageUrl = "../assets/images/nft-images/41.png",
            Title = "Reborn in the Matrix",
            Creator = "Nova Cypher",
            Price = "12 ETH",
            CryptoIconUrl = "../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg"
        },
        new TopDropItem
        {
            ImageUrl = "../assets/images/nft-images/42.png",
            Title = "Neon Rage",
            Creator = "Zara Kai",
            Price = "7 ETH",
            CryptoIconUrl = "../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg"
        },
        new TopDropItem
        {
            ImageUrl = "../assets/images/nft-images/43.png",
            Title = "Dawn of Darkness",
            Creator = "Maxim Xeno",
            Price = "8 ETH",
            CryptoIconUrl = "../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg"
        }
    };

    //Top Creators
    public class Creator
    {
        public string? ImageUrl { get; set; }
        public string? Name { get; set; }
        public string? HandleName { get; set; }
        public bool IsVerified { get; set; } = true; 
        public bool IsFollowing { get; set; } = false; 
    }
    List<Creator> topCreators = new List<Creator>
    {
        new Creator { ImageUrl = "../assets/images/nft-images/6.jpg", Name = "Kairo Tetsuo", HandleName = "@KairoX", IsFollowing = false },
        new Creator { ImageUrl = "../assets/images/nft-images/15.jpg", Name = "Aiko Nakamura", HandleName = "@NamiGhost", IsFollowing = true },
        new Creator { ImageUrl = "../assets/images/nft-images/16.jpg", Name = "Kairo Tetsuo", HandleName = "@KairoX", IsFollowing = false },
        new Creator { ImageUrl = "../assets/images/nft-images/17.jpg", Name = "Ryo Takahashi", HandleName = "@TakaraVision", IsFollowing = false },
        new Creator { ImageUrl = "../assets/images/nft-images/11.jpg", Name = "Nova Cypher", HandleName = "@CypherNova", IsFollowing = false },
        new Creator { ImageUrl = "../assets/images/nft-images/9.jpg", Name = "Zara Kai", HandleName = "@ZaraKx", IsFollowing = false },
        new Creator { ImageUrl = "../assets/images/nft-images/8.jpg", Name = "Maxim Xeno", HandleName = "@XenoMax", IsFollowing = false }
    };

    //Featured Authors
    public class FeaturedAuthorSlide
    {
        public string? MainImage { get; set; }
        public string[] SubImages { get; set; } = Array.Empty<string>();
        public string? AuthorImage { get; set; }
        public string? AuthorName { get; set; }
        public string? userName { get; set; }
        public bool IsVerified { get; set; } = true;
    }
    List<FeaturedAuthorSlide> featuredAuthors = new()
    {
        new FeaturedAuthorSlide
        {
            MainImage = "../assets/images/nft-images/38.png",
            SubImages = new[] { "../assets/images/nft-images/40.png", "../assets/images/nft-images/41.png" },
            AuthorImage = "../assets/images/faces/5.jpg",
            AuthorName = "Melissa Smith",
            userName = "@melissa"
        },
        new FeaturedAuthorSlide
        {
            MainImage = "../assets/images/nft-images/35.png",
            SubImages = new[] { "../assets/images/nft-images/36.png", "../assets/images/nft-images/37.png" },
            AuthorImage = "../assets/images/faces/15.jpg",
            AuthorName = "Simon Cowell",
            userName = "@simon"
        },
        new FeaturedAuthorSlide
        {
            MainImage = "../assets/images/nft-images/39.png",
            SubImages = new[] { "../assets/images/nft-images/42.png", "../assets/images/nft-images/43.png" },
            AuthorImage = "../assets/images/faces/10.jpg",
            AuthorName = "Json Talor",
            userName = "@talor"
        }
    };
}

<!-- BlazorSlickCarousel Settings -->
@code {

    public BlazorSlickCarousel? theCarousel;
    public WMBSCInitialSettings? BasicConfigurations;

    protected override void OnInitialized() {
        BasicConfigurations = new WMBSCInitialSettings
        {
            arrows = false,
            dots = false,
            slidesToShow = 1,
            slidesToScroll = 1,
            infinite = true,
            autoplay = true,
            autoplaySpeed = 1000,
            responsive = new List<WMBSCResponsiveSettings>
            {
                new WMBSCResponsiveSettings
                {
                    breakpoint = 1800,
                    settings = new WMBSCSettings
                    {
                        slidesToShow = 1,
                        arrows = false,
                        dots = false,
                        slidesToScroll = 1,
                        infinite = true,
                        autoplay = true,
                        autoplaySpeed = 3000
                    }
                },
                new WMBSCResponsiveSettings
                {
                    breakpoint = 1200,
                    settings = new WMBSCSettings
                    {
                        slidesToShow = 1,
                        arrows = false,
                        dots = false,
                        slidesToScroll = 1,
                        infinite = true,
                        autoplay = true,
                        autoplaySpeed = 1500
                    }
                },
                new WMBSCResponsiveSettings
                {
                    breakpoint = 768,
                    settings = new WMBSCSettings
                    {
                        slidesToShow = 1,
                        arrows = false,
                        dots = false,
                        slidesToScroll = 1,
                        infinite = true,
                        autoplay = true,
                        autoplaySpeed = 1500
                    }
                },
                new WMBSCResponsiveSettings
                {
                    breakpoint = 500,
                    settings = new WMBSCSettings
                    {
                        slidesToShow = 1,
                        arrows = false,
                        dots = false,
                        slidesToScroll = 1,
                        infinite = true,
                        autoplay = true,
                        autoplaySpeed = 1500
                    }
                }
            }
        };
    }
}

