---
import Authentication from "../../../../layouts/authentication.astro";
import { Image } from "astro:assets";
import togglelogo from "../../../../assets/images/brand-logos/toggle-logo.png";
import BG9 from "../../../../assets/images/media/backgrounds/9.png";
import facebook from "../../../../assets/images/media/apps/facebook.png";
import google from "../../../../assets/images/media/apps/google.png";
const basePath = import.meta.env.BASE_URL;
---

<Authentication Seo="Sign-up Basic" bodyClass="authentication-background">
    <div class="authentication-basic-background">
        <Image src={BG9} alt="" />
    </div>
    <div class="container">
        <div
            class="row justify-content-center align-items-center authentication authentication-basic h-100"
        >
            <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6 col-sm-8 col-12">
                <div class="card custom-card border-0 my-4">
                    <div class="card-body p-5">
                        <div class="mb-4">
                            <a href={basePath}>
                                <img
                                    src={togglelogo.src}
                                    alt="logo"
                                    class="desktop-dark"
                                />
                            </a>
                        </div>
                        <div>
                            <h4 class="mb-1 fw-semibold">Sign Up</h4>
                            <p class="mb-4 text-muted fw-normal">
                                Join us by creating a free account !
                            </p>
                        </div>
                        <div class="row gy-3">
                            <div class="col-xl-12">
                                <label
                                    for="signin-email"
                                    class="form-label text-default">Email</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    id="signin-email"
                                    placeholder="Enter Email"
                                    value="tomphillip21@gmail.com"
                                />
                            </div>
                            <div class="col-xl-12 mb-2">
                                <label
                                    for="signin-password"
                                    class="form-label text-default d-block"
                                    >Password</label
                                >
                                <div class="position-relative">
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="signin-password"
                                        placeholder="Enter Password"
                                        value="12345678"
                                    />
                                    <a
                                        href="javascript:void(0);"
                                        class="show-password-button text-muted"
                                        onclick="createpassword('signin-password',this)"
                                        id="button-addon2"
                                        ><i class="ri-eye-off-line align-middle"
                                        ></i></a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="d-grid mt-3">
                            <a href={basePath} class="btn btn-primary"
                                >Sign In</a
                            >
                        </div>
                        <div class="text-center my-3 authentication-barrier">
                            <span class="op-4 fs-13">OR</span>
                        </div>
                        <div class="d-grid mb-3">
                            <button
                                class="btn btn-white btn-w-lg border d-flex align-items-center justify-content-center flex-fill mb-3"
                            >
                                <span class="avatar avatar-xs">
                                    <Image src={google} alt="" />
                                </span>
                                <span
                                    class="lh-1 ms-2 fs-13 text-default fw-medium"
                                    >Signup with Google</span
                                >
                            </button>
                            <button
                                class="btn btn-white btn-w-lg border d-flex align-items-center justify-content-center flex-fill"
                            >
                                <span class="avatar avatar-xs">
                                    <Image src={facebook} alt="" />
                                </span>
                                <span
                                    class="lh-1 ms-2 fs-13 text-default fw-medium"
                                    >Signup with Facebook</span
                                >
                            </button>
                        </div>
                        <div class="text-center mt-3 fw-medium">
                            Already have a account? <a
                                href={`${basePath}pages/authentication/sign-in/basic`}
                                class="text-primary">Sign In</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        import "../../../../scripts/js/show-password.js";
    </script>
</Authentication>
