
         <!-- Scroll To Top -->
         <div class="scrollToTop">
            <span class="arrow lh-1"><i class="ti ti-arrow-big-up fs-18"></i></span>
         </div>
         <div id="responsive-overlay"></div>
         <!-- Scroll To Top -->

         <!-- Popper JS -->
         <script src="{{absolute_url(asset('build/libs/@popperjs/core/umd/popper.min.js'))}}"></script>

         <!-- Bootstrap JS -->
         <script src="{{absolute_url(asset('build/libs/bootstrap/js/bootstrap.bundle.min.js'))}}"></script>

         <!-- Node Waves JS-->
         <script src="{{absolute_url(asset('build/libs/node-waves/waves.min.js'))}}"></script>

         <!-- Simplebar JS -->
         <script src="{{absolute_url(asset('build/libs/simplebar/simplebar.min.js'))}}"></script>
         {{ encore_entry_script_tags('js/simplebar') }}

         <!-- Auto Complete JS -->
         <script src="{{absolute_url(asset('build/libs/@tarekraafat/autocomplete.js/autoComplete.min.js'))}}"></script>

         <!-- Color Picker JS -->
         <script src="{{absolute_url(asset('build/libs/@simonwep/pickr/pickr.es5.min.js'))}}"></script>

         <!-- Date & Time Picker JS -->
         <script src="{{absolute_url(asset('build/libs/flatpickr/flatpickr.min.js'))}}"></script>

         <!-- Sticky JS -->
         {{ encore_entry_script_tags('js/sticky') }}

        <!-- Custom JS -->
         {{ encore_entry_script_tags('js/custom') }}

        <!-- Custom-Switcher JS -->
         {{ encore_entry_script_tags('js/custom-switcher') }}