<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="horizontal" data-nav-style="menu-hover" data-menu-position="fixed" data-theme-mode="light">

    <head>

        <!-- Meta Data -->
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Description" content="Asp.Net Mvc5 Bootstrap Responsive Admin Web Dashboard Template">
        <meta name="Author" content="Spruko Technologies Private Limited">
        <meta name="keywords" content="dashboard, admin panel ui, admin template, dot net, asp net admin panel, asp net admin template, net core mvc, framework dot net, aspnet , netcore, asp core, net mvc, dashboard ui, template dashboard, adminpanel dashboard.">
    
        <!-- Title -->
        <title>@ViewData["Title"] Vyzor - Asp.Net Mvc5 Bootstrap 5 Premium Admin & Dashboard Template</title>

        <!-- Favicon -->
        <link rel="icon" href="@Url.Content("~/assets/images/brand-logos/favicon.ico")" type="image/x-icon">

        <!-- Bootstrap Css -->
        <link id="style" href="@Url.Content("~/assets/libs/bootstrap/css/bootstrap.min.css")" rel="stylesheet" >
        
        <script>
            if(localStorage.vyzordarktheme){
                document.querySelector("html").setAttribute("data-theme-mode","dark")
            }
            if(localStorage.vyzorrtl){
                document.querySelector("html").setAttribute("dir","rtl")
                document.querySelector("#style")?.setAttribute("href", "@Url.Content("~/assets/libs/bootstrap/css/bootstrap.rtl.min.css")");
            }
            if(localStorage.vyzorltr){
                document.querySelector("html").setAttribute("dir","ltr")
                document.querySelector("#style")?.setAttribute("href", "@Url.Content("~/assets/libs/bootstrap/css/bootstrap.min.css")");
            }
            let html = document.querySelector("html");
            
            if (window.innerWidth < 992) {
            html.setAttribute("data-toggled", "close");
            }
        </script>

        <!-- Style Css -->
        <link href="@Url.Content("~/assets/css/styles.css")" rel="stylesheet">

        <!-- Icons Css -->
        <link href="@Url.Content("~/assets/css/icons.css")" rel="stylesheet">

        <!-- Node Waves Css -->
        <link href="@Url.Content("~/assets/libs/node-waves/waves.min.css")" rel="stylesheet" >

        <!-- SwiperJS Css -->
        <link rel="stylesheet" href="@Url.Content("~/assets/libs/swiper/swiper-bundle.min.css")">

        <!-- Color Picker Css -->
        <link rel="stylesheet" href="@Url.Content("~/assets/libs/flatpickr/flatpickr.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/assets/libs/@simonwep/pickr/themes/nano.min.css")">

        <!-- Choices Css -->
        <link rel="stylesheet" href="@Url.Content("~/assets/libs/choices.js/public/assets/styles/choices.min.css")">
        
        @await RenderSectionAsync("Styles", required: false)

    </head>

    <body class="landing-body">

		<!-- Start::main-switcher -->
        <partial name="~/Views/Shared/layouts/landingpage/_switcher.cshtml" />
		<!-- End::main-switcher -->

        <div class="landing-page-wrapper">

            <!-- Start::main-header -->
            <partial name="~/Views/Shared/layouts/landingpage/_main-header.cshtml" />
            <!-- End::main-header -->

            <!-- Start::main-sidebar -->
            <partial name="~/Views/Shared/layouts/landingpage/_main-sidebar.cshtml" />
            <!-- End::main-sidebar -->

            <!-- Start::app-content -->
            <div class="main-content landing-main">

                @RenderBody()
                
            </div>
            <!-- End::app-content -->

            <!-- Start::main-footer -->
            <partial name="~/Views/Shared/layouts/landingpage/_footer.cshtml" />
            <!-- End::main-footer -->

        </div>

        <div class="scrollToTop">
            <span class="arrow"><i class="ti ti-arrow-big-up fs-18"></i></span>
        </div>
        <div id="responsive-overlay"></div>

        <!-- Popper JS -->
        <script src="@Url.Content("~/assets/libs/@popperjs/core/umd/popper.min.js")"></script>

        <!-- Bootstrap JS -->
        <script src="@Url.Content("~/assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>

        <!-- Color Picker JS -->
        <script src="@Url.Content("~/assets/libs/@simonwep/pickr/pickr.es5.min.js")"></script>

        <!-- Choices JS -->
        <script src="@Url.Content("~/assets/libs/choices.js/public/assets/scripts/choices.min.js")"></script>

        <!-- Swiper JS -->
        <script src="@Url.Content("~/assets/libs/swiper/swiper-bundle.min.js")"></script>

        @await RenderSectionAsync("Scripts", required: false)

        <!-- Defaultmenu JS -->
        <script src="@Url.Content("~/assets/js/defaultmenu.min.js")"></script>

        <!-- Internal Landing JS -->
        <script src="@Url.Content("~/assets/js/landing.js")"></script>

        <!-- Node Waves JS-->
        <script src="@Url.Content("~/assets/libs/node-waves/waves.min.js")"></script>

        <!-- Sticky JS -->
        <script src="@Url.Content("~/assets/js/sticky.js")"></script>

    </body>

</html>