  @page "/analytics"
  @using ApexCharts
  
<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">Analytics</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboards</a></li>
            <li class="breadcrumb-item active" aria-current="page">Analytics</li>
        </ol>
    </div>
</div>
<!-- End::page-header -->

<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xxl-9">
        <div class="row">
            @foreach (var Data in DashboardStatsData)
            {
                    <div class="col-xxl-3 col-lg-6">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="d-flex align-items-start gap-3">
                                <div>
                                    <span class="avatar avatar-md bg-@Data.AvatarBgColor svg-white">
                                        @((MarkupString)(Data.IconSvg ?? ""))
                                    </span>
                                </div>
                                <div>
                                    <span class="d-block text-muted">@Data.Title</span>
                                    <h5 class="fw-semibold mb-1">@Data.Value</h5>
                                    <div class="text-muted fs-12">
                                        <span class="text-@Data.PercentColor"><i class="ti ti-arrow-narrow-@Data.PercentChangeDir me-1"></i>@Data.Percent</span>
                                        This Year
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            }
            <div class="col-xxl-4">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Sessions By Device
                        </div>
                        <div class="dropdown custom-anal"> 
                            <a href="javascript:void(0);" class="p-2 fs-12 text-muted" data-bs-toggle="dropdown" aria-expanded="false"> View All<i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> </a> 
                            <ul class="dropdown-menu" role="menu"> 
                                <li><a class="dropdown-item" href="javascript:void(0);">Day</a></li> 
                                <li><a class="dropdown-item" href="javascript:void(0);">Month</a></li> 
                                <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li> 
                            </ul> 
                        </div>
                    </div>
                    <div class="card-body sessions-device">
                        <ApexChart TItem="Impression" Options=ImpressionChartOptions Height="260">
                            <ApexPointSeries TItem="Impression" Items="impressions" SeriesType="SeriesType.Donut" XValue="@(e => e.ImpressionData)" YAggregate="@(e => e.Sum(e => e.ImpressionValue))" />
                        </ApexChart>
                    </div>
                    <div class="card-footer p-0">
                        <div class="row">
                            <div class="col">
                                <div class="p-3 text-center border-end">
                                    <h5 class="fw-semibold mb-1">1754</h5>
                                    <span class="fs-12 d-block">Mobile</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-3 text-center custom-border-end">
                                    <h5 class="fw-semibold mb-1">1234</h5>
                                    <span class="fs-12 d-block">Tablet</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-3 text-center">
                                    <h5 class="fw-semibold mb-1">878</h5>
                                    <span class="fs-12 d-block">Desktop</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Audience Metrics
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="audience-metrics">
                        <ApexChart TItem="Earnings"  Height="330" Options=EarningsChartOptions>
                                <ApexPointSeries TItem="Earnings" Items="earnings" SeriesType="@SeriesType.Bar" Name="Views"
                                    XValue="@(e => e.Month)" YAggregate="@(e => e.Sum(e => e.Views))"/>
                                <ApexPointSeries TItem="Earnings" Items="earnings" SeriesType="@SeriesType.Line" Name="Followers"
                                    XValue="@(e => e.Month)" YAggregate="@(e => e.Sum(e => e.Followers))"/>
                        </ApexChart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header">
                        <div class="card-title">
                            Visitors By Countries
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Country</th>
                                        <th>Visitors</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Data in VisitorsByCountriesData)
                                    {
                                    <tr>
                                        <td class="border-bottom-0">@Data.Id</td>
                                            <td class="border-bottom-0">
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-xs">
                                                            <img src="@Data.FlagImageUrl" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="fw-semibold">@Data.CountryName</div>
                                                </div>
                                            </td>
                                        <td class="border-bottom-0"><span class="fs-12 text-muted me-2">(<i class="ti ti-arrow-@Data.GrowthDir text-@Data.GrowthColor fs-16 align-middle"></i>@Data.Percent)</span>@Data.UserCount</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Top Campaigns
                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="p-2 fs-12 text-muted tag-link" data-bs-toggle="dropdown">
                                View All<i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Download</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Import</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Export</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive campaigntable custom-border-table">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col">Provider</th>
                                        <th scope="col">Sales</th>
                                        <th scope="col">Goal</th>
                                        <th scope="col">Status</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Data in TopCampaignsData)
                                    {
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center lh-1">
                                                    <span class="avatar avatar-sm p-1 bg-light me-2">
                                                        <img src="@Data.ImageUrl">
                                                    </span>
                                                <div><p class="fw-medium mb-1">@Data.Name</p><span class="fs-12 text-muted">@Data.Role</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            @Data.Earnings
                                        </td>
                                        <td>
                                            <span class="text-@Data.GrowthPercentColor">@Data.GrowthPercent</span>
                                        </td>
                                        <td><span class="badge bg-@Data.StatusBgColor-transparent">@Data.Status</span></td>
                                        <td class="text-end">
                                            <div class="btn-list">
                                                <a href="javascript:void(0);" class="btn btn-light btn-icon btn-sm" data-bs-toggle="tooltip" title="Edit" data-bs-original-title="Edit" aria-label="Edit"><i class="bi bi-pencil-square"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-light btn-icon btn-sm" data-bs-toggle="tooltip" title="Delete" data-bs-original-title="Delete" aria-label=""><i class="bi bi-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Engagement Metrics
                        </div>
                        <div class="d-flex flex-wrap gap-2"> 
                            <div> 
                                <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=".form-control-sm example"> 
                            </div> 
                            <div class="dropdown"> 
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm btn-wave waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false"> Sort By<i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> 
                                </a> 
                                <ul class="dropdown-menu" role="menu"> 
                                    <li><a class="dropdown-item" href="javascript:void(0);">New</a></li> 
                                    <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li> 
                                    <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li> 
                                </ul> 
                            </div> 
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            S.No
                                        </th>
                                        <th>
                                            User
                                        </th>
                                        <th>
                                            Sessions	
                                        </th>
                                        <th>
                                            Country
                                        </th>
                                        <th>
                                            Page Views
                                        </th>
                                        <th>
                                            Bounce Rate
                                        </th>
                                        <th class="text-center">
                                            Conversion Rate
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Data in EngagementMetricsData)
                                    {
                                    <tr>
                                        <td class="text-center">@Data.Id</td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-sm avatar-rounded">
                                                        <img src="@Data.ProfileImage" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    @Data.Name
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Data.Sessions</td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-xs avatar-rounded">
                                                        <img src="@Data.CountryFlag" alt="">
                                                    </span>
                                                </div>
                                                <div>
                                                    @Data.Country
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Data.PageViews</td>
                                        <td>@Data.BounceRate</td>
                                        <td class="text-center">@Data.ConversionRate</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer border-top-0"> 
                        <div class="d-flex align-items-center flex-wrap"> 
                            <div> Showing 5 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div>
                            <div class="ms-auto"> 
                            <nav aria-label="Page navigation" class="pagination-style-4"> 
                                <ul class="pagination mb-0"> 
                                    <li class="page-item disabled"> <a class="page-link" href="javascript:void(0);"> Prev </a> </li>
                                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li> 
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li> 
                                        <li class="page-item"> <a class="page-link text-primary" href="javascript:void(0);"> next </a> </li> 
                                    </ul> 
                                </nav> 
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header">
                        <div class="card-title">
                            Browser Insights
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled browser-insights-list">
                            @foreach (var Data in BrowserInsightsData)
                            {
                                <li>
                                    <div class="d-flex align-items-start gap-3">
                                        <div class="lh-1">
                                            <span class="avatar avatar-rounded avatar-sm">
                                                <img src="@Data.ImageUrl" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <span class="fw-medium">@Data.Name</span>
                                            <span class="d-block text-muted fs-12">@Data.Company</span>
                                        </div>
                                        <div class="text-end w-25">
                                            <span class="d-block mb-1 fw-semibold">
                                                @Data.Users
                                            </span>
                                            <div class="progress progress-animate progress-xs w-75 ms-auto"> 
                                                <div class="progress-bar bg-@Data.ProgressColor" role="progressbar" style="width: @Data.Progress%" aria-valuenow="@Data.Progress" aria-valuemin="0" aria-valuemax="100"> </div> 
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Users By Time Of Week
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div id="users-by-time">
                            <ApexChart TItem="Heatmapbasic" Options="Heatmapbasicoptions" Height="262">
                                @foreach (var source in incidents.GroupBy(e => e.Source))
                                {
                                    <ApexPointSeries TItem="Heatmapbasic"
                                                Items="source.OrderBy(e=>e.WeekNumber)"
                                                Name="@source.Key!.ToString()"
                                                SeriesType="SeriesType.Heatmap"
                                                XValue="@(e => e.WeekName)"
                                                YAggregate="@(e => (int)e.Average(a=>a.Severity))" />
                                }
                            </ApexChart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">    
                            Top Referral Pages
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3 flex-wrap">
                            <h4 class="fw-bold mb-0">4,289</h4>
                            <div class="ms-2">
                                <span class="badge bg-success-transparent">1.02<i class="ri-arrow-up-s-fill align-mmiddle ms-1"></i></span>
                                <span class="text-muted ms-1 text-nowrap">compared to last week</span>
                            </div>
                        </div>
                        <div class="progress-stacked progress-animate progress-sm mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 21%" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-info" role="progressbar" style="width: 26%" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 18%" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <ul class="list-unstyled mb-0 pt-2 top-referral-pages">
                            <li class="primary">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>blog/how-to-improve-seo</div>
                                    <div class="fs-12 text-muted">1,250</div>
                                </div>
                            </li>
                            <li class="info">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>products/new-launch</div>
                                    <div class="fs-12 text-muted">1,100</div>
                                </div>
                            </li>
                            <li class="warning">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>services/digital-marketing</div>
                                    <div class="fs-12 text-muted">950</div>
                                </div>
                            </li>
                            <li class="success">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>pricing</div>
                                    <div class="fs-12 text-muted">890</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Average Sessions
                        </div>
                    </div>
                    <div class="card-body pb-0">
                        <div class="d-flex gap-3 flex-wrap align-items-center mb-3"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="text-primary bg-primary-transparent rounded-1 px-1" viewBox="0 0 24 24"><g fill="currentColor"><path fill-opacity="0.5" d="M8 13h6v4H8z"></path><path d="M6 6H4v12h2zm14 1H8v4h12z"></path></g></svg> <div> 
                                <h6 class="fw-medium mb-0">3m 45s</h6> 
                            </div> 
                            <div class="ms-auto text-muted fs-11 text-end"> 
                                <div class="fw-medium">From Last Week</div> 
                                <span class="text-success fw-semibold"> 1.25% <i class="ri-arrow-up-line lh-1 align-center fs-14 fw-normal"></i></span> 
                            </div> 
                        </div>
                        <div id="analytics-avgsession">
                            <ApexChart TItem="Avgsessions" Options=AvgsessionsChartOptions>
                                <ApexPointSeries TItem="Avgsessions" Items="avgsessions" SeriesType="@SeriesType.Bar" XValue="@(e => e.Week)" YAggregate="@(e => e.Sum(e => e.Value))"/>
                            </ApexChart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->


<!-- Charts -->
@code{

    // Impression Chart Start //
    private List<Impression> impressions { get; set; } = DataImpressionchart.Impressionchart();
    private ApexChartOptions<Impression> ImpressionChartOptions { get; set; } = new ApexChartOptions<Impression>
    {
        Chart = new (){
            Height = 260,
        },
        DataLabels = new DataLabels {
                Enabled = false,
        },
        Legend = new Legend {
            Show = false,
        },
        Stroke = new Stroke { 
                Show= true,
                Curve = [Curve.Smooth],
                LineCap = LineCap.Round,
                Colors = new List<string> {"fff"},
                Width = 0,
                DashArray = 0
        },
        PlotOptions = new PlotOptions {
                Pie = new(){
                    Donut= new(){
                        Size = "85%",
                        
                        Labels = new(){
                            Show = true,
                            Name = new(){
                                Show = true,
                                FontSize = "20px",
                                FontFamily = "Montserrat, sans-serif",
                                Color = "#495057",
                                OffsetY = -5
                            },
                            Value = new(){
                                Show = true,
                                FontSize = "22px",
                                Color = null,
                                OffsetY = 5,
                                FontWeight = 600,
                                FontFamily = "Montserrat, sans-serif",
                                Formatter = @"function (val) { return val + '%'}"
                            },
                            Total = new(){
                                Show = true,
                                ShowAlways = true,
                                Label = "Total Audience",
                                FontSize = "14px",
                                FontWeight = 400,
                                Color = "#495057",
                            }
                        },
                    },
                },
            },
        Colors = new List<string> {"var(--primary-color)","rgb(255, 73, 205)", "rgb(253, 175, 34)" },
    };
    public static class DataImpressionchart
    {
        public static List<Impression> Impressionchart()
        {
            return new List<Impression>
            {
                new Impression { ImpressionData = "Mobile", ImpressionValue = 1754},
                new Impression { ImpressionData = "Tablet", ImpressionValue = 1234},
                new Impression { ImpressionData = "Desktop", ImpressionValue = 878},
            };
        }
    }
    public class Impression
    {
        public string? ImpressionData { get; set; }
        public decimal ImpressionValue { get; set; }
    }
    // Impression Chart End //   


     // audience-metrics//
    private List<Earnings> earnings { get; set; } = EarningsData.GetEarnings();
    private ApexChartOptions<Earnings> EarningsChartOptions { get; set; } = new ApexChartOptions<Earnings>
    {
         Chart = new () {
                Height = 330,
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
        },
        Grid = new Grid {
                BorderColor = "#f1f1f1",
                StrokeDashArray = 3,
                 Padding = new() {
                    Bottom = -10,
                },
        },
        DataLabels = new DataLabels {
                Enabled = false,
        },
        Stroke = new Stroke { 
                Width = [1, 1, 1],
                Curve = [Curve.Straight, Curve.Smooth],
                DashArray = [0,2],
        },
        Legend = new Legend{
            Show = false,
        },
        Xaxis=new() {
                AxisBorder=new() {
                    Color = "#e9e9e9", 
                },
        },
        PlotOptions = new PlotOptions {
                Bar = new PlotOptionsBar {
                    ColumnWidth = "30%",
                    BorderRadius = 2,
                }
        }, 
        Colors = new List<string> {"var(--primary-color)", "rgb(255, 73, 205)"}    
    };
    public class Earnings {
        public string? Month { get; set; }
        public decimal Views { get; set; }
        public decimal Followers { get; set; }
    } ;
    public static class EarningsData {
        public static List<Earnings> GetEarnings() {
            
            List<Earnings> earnings = new List<Earnings>
            {  
                new Earnings { Month = "Jan", Views = 23, Followers = 44},
                new Earnings { Month = "Feb", Views = 11, Followers = 55},
                new Earnings { Month = "Mar", Views = 22, Followers = 41},
                new Earnings { Month = "Apr", Views = 27, Followers = 67},
                new Earnings { Month = "May", Views = 13, Followers = 22},
                new Earnings { Month = "Jun", Views = 22, Followers = 43},
                new Earnings { Month = "Jul", Views = 37, Followers = 21},
                new Earnings { Month = "Aug", Views = 21, Followers = 41},
                new Earnings { Month = "Sep", Views = 44, Followers = 56},
                new Earnings { Month = "Oct", Views = 22, Followers = 27},
                new Earnings { Month = "Nov", Views = 45, Followers = 43},
                new Earnings { Month = "Dec", Views = 35, Followers = 27},
            };
            return earnings;
        }
    }
    // audience-metrics//

    // Users By Time Of Week //
    private List<Heatmapbasic> incidents { get; set; } = DataHeatmapbasic.GetHeatmapbasics();
    private ApexChartOptions<Heatmapbasic> Heatmapbasicoptions { get; set; } =  new ApexChartOptions<Heatmapbasic>
    {
        
        Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
        },
        DataLabels = new DataLabels {
                Enabled = false,
        },
        Colors = new List<string> {"#32d484"},
        Grid = new Grid {
            BorderColor = "#f2f5f7",
        },
        Xaxis=new() {
            Labels = new XAxisLabels{
                Show = true,
                Style = new AxisLabelStyle {
                    Colors = "#8c9097",
                    FontSize = "11px",
                    FontWeight = "600",
                    CssClass = "apexcharts-xaxis-label",
                },
            },
        },
        Yaxis = new List<YAxis>() {
                new YAxis {
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new AxisLabelStyle()
                        {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = "600",
                        CssClass = "apexcharts-yaxis-label",
                        }
                    },
                },
        },
    };
    public static class DataHeatmapbasic
    {
        public static List<Heatmapbasic> GetHeatmapbasics()
        {
            List<Heatmapbasic> Heatmapbasics = new List<Heatmapbasic>
            {
                new Heatmapbasic { Source = "1AM", WeekNumber = 1, WeekName = "Sun", Severity = 51 },
                new Heatmapbasic { Source = "1AM", WeekNumber = 2, WeekName = "Mon", Severity = 27 },
                new Heatmapbasic { Source = "1AM", WeekNumber = 3, WeekName = "Tue", Severity = 10 },
                new Heatmapbasic { Source = "1AM", WeekNumber = 4, WeekName = "Wed", Severity = 3 },
                new Heatmapbasic { Source = "1AM", WeekNumber = 5, WeekName = "Thu", Severity = 69 },
                new Heatmapbasic { Source = "1AM", WeekNumber = 6, WeekName = "Fri", Severity = 75 },
                new Heatmapbasic { Source = "1AM", WeekNumber = 7, WeekName = "Sat", Severity = 16 },
                new Heatmapbasic { Source = "4AM", WeekNumber = 1, WeekName = "Sun", Severity = 76 },
                new Heatmapbasic { Source = "4AM", WeekNumber = 2, WeekName = "Mon", Severity = 26 },
                new Heatmapbasic { Source = "4AM", WeekNumber = 3, WeekName = "Tue", Severity = 59 },
                new Heatmapbasic { Source = "4AM", WeekNumber = 4, WeekName = "Wed", Severity = 59 },
                new Heatmapbasic { Source = "4AM", WeekNumber = 5, WeekName = "Thu", Severity = 31 },
                new Heatmapbasic { Source = "4AM", WeekNumber = 6, WeekName = "Fri", Severity = 21 },
                new Heatmapbasic { Source = "4AM", WeekNumber = 7, WeekName = "Sat", Severity = 51 },
                new Heatmapbasic { Source = "8AM", WeekNumber = 1, WeekName = "Sun", Severity = 12 },
                new Heatmapbasic { Source = "8AM", WeekNumber = 2, WeekName = "Mon", Severity = 31 },
                new Heatmapbasic { Source = "8AM", WeekNumber = 3, WeekName = "Tue", Severity = 32 },
                new Heatmapbasic { Source = "8AM", WeekNumber = 4, WeekName = "Wed", Severity = 83 },
                new Heatmapbasic { Source = "8AM", WeekNumber = 5, WeekName = "Thu", Severity = 46 },
                new Heatmapbasic { Source = "8AM", WeekNumber = 6, WeekName = "Fri", Severity = 5 },
                new Heatmapbasic { Source = "8AM", WeekNumber = 7, WeekName = "Sat", Severity = 68 },
                new Heatmapbasic { Source = "12AM", WeekNumber = 1, WeekName = "Sun", Severity = 26 },
                new Heatmapbasic { Source = "12AM", WeekNumber = 2, WeekName = "Mon", Severity = 19 },
                new Heatmapbasic { Source = "12AM", WeekNumber = 3, WeekName = "Tue", Severity = 19 },
                new Heatmapbasic { Source = "12AM", WeekNumber = 4, WeekName = "Wed", Severity = 78 },
                new Heatmapbasic { Source = "12AM", WeekNumber = 5, WeekName = "Thu", Severity = 29 },
                new Heatmapbasic { Source = "12AM", WeekNumber = 6, WeekName = "Fri", Severity = 50 },
                new Heatmapbasic { Source = "12AM", WeekNumber = 7, WeekName = "Sat", Severity = 70 },
                new Heatmapbasic { Source = "3PM", WeekNumber = 1, WeekName = "Sun", Severity = 18 },
                new Heatmapbasic { Source = "3PM", WeekNumber = 2, WeekName = "Mon", Severity = 75 },
                new Heatmapbasic { Source = "3PM", WeekNumber = 3, WeekName = "Tue", Severity = 30 },
                new Heatmapbasic { Source = "3PM", WeekNumber = 4, WeekName = "Wed", Severity = 30 },
                new Heatmapbasic { Source = "3PM", WeekNumber = 5, WeekName = "Thu", Severity = 63 },
                new Heatmapbasic { Source = "3PM", WeekNumber = 6, WeekName = "Fri", Severity = 15 },
                new Heatmapbasic { Source = "3PM", WeekNumber = 7, WeekName = "Sat", Severity = 26 },
                new Heatmapbasic { Source = "7PM", WeekNumber = 1, WeekName = "Sun", Severity = 6 },
                new Heatmapbasic { Source = "7PM", WeekNumber = 2, WeekName = "Mon", Severity = 49 },
                new Heatmapbasic { Source = "7PM", WeekNumber = 3, WeekName = "Tue", Severity = 21 },
                new Heatmapbasic { Source = "7PM", WeekNumber = 4, WeekName = "Wed", Severity = 27 },
                new Heatmapbasic { Source = "7PM", WeekNumber = 5, WeekName = "Thu", Severity = 49 },
                new Heatmapbasic { Source = "7PM", WeekNumber = 6, WeekName = "Fri", Severity = 53 },
                new Heatmapbasic { Source = "7PM", WeekNumber = 7, WeekName = "Sat", Severity = 20 },
                new Heatmapbasic { Source = "12PM", WeekNumber = 1, WeekName = "Sun", Severity = 61 },
                new Heatmapbasic { Source = "12PM", WeekNumber = 2, WeekName = "Mon", Severity = 35 },
                new Heatmapbasic { Source = "12PM", WeekNumber = 3, WeekName = "Tue", Severity = 2 },
                new Heatmapbasic { Source = "12PM", WeekNumber = 4, WeekName = "Wed", Severity = 62 },
                new Heatmapbasic { Source = "12PM", WeekNumber = 5, WeekName = "Thu", Severity = 39 },
                new Heatmapbasic { Source = "12PM", WeekNumber = 6, WeekName = "Fri", Severity = 15 },
                new Heatmapbasic { Source = "12PM", WeekNumber = 7, WeekName = "Sat", Severity = 19 },
            };
            return Heatmapbasics;
        }
    }
    public class Heatmapbasic
    {
        public string? Source { get; set; }
        public int WeekNumber { get; set; }
        public string? WeekName { get; set; }
        public int Severity { get; set; }
    }
    //  Users By Time Of Week //


    // Average Sessions //
        private List<Avgsessions> avgsessions { get; set; } = AvgsessionsData.GetAvgsessionss();
        private ApexChartOptions<Avgsessions> AvgsessionsChartOptions { get; set; } =  new ApexChartOptions<Avgsessions>
        {
            
        Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                },
                Height = 280, 
        },
        Stroke = new Stroke { 
                Show= true,
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                DashArray = [0],
        },
        Grid = new Grid {
                Show = true,
                 Xaxis=new() {
                    Lines=new() {
                        Show= true
                    }
                },
                Yaxis=new() {
                    Lines=new() {
                          Show= false
                    }
                },
                Padding = new() {
                    Top = 2,
                    Right = 2,
                    Bottom = 2,
                    Left = 2,
                },
                BorderColor = "#f1f1f1",
                StrokeDashArray = 3,
        },
        Yaxis = new List<YAxis>() {
                new YAxis {
                    Min = 0,
                    Show = false,
                    AxisBorder = new () {
                        Show = false,
                },
                },
        },
        Xaxis =  new XAxis {
                AxisBorder = new () {
                    Show = false,
                },
        },
        PlotOptions = new PlotOptions {
                Bar = new PlotOptionsBar {
                    BorderRadius = 2,
                    ColumnWidth = "30%",
                },
        },
        DataLabels = new DataLabels {
                Enabled = false,
        },
        Colors = new List<string> {"var(--primary-color)"},
        Tooltip = new Tooltip { 
                Enabled= false,
        }, 

        
    };
    public class Avgsessions {
        public string? Week { get; set; }
        public decimal Value { get; set; }
    } ;
    public static class AvgsessionsData {
        public static List<Avgsessions> GetAvgsessionss() {
            List<Avgsessions> avgsessions = new List<Avgsessions> 
            {
                new Avgsessions { Week = "Sun", Value = 65 },
                new Avgsessions { Week = "Mon", Value = 38 },
                new Avgsessions { Week = "Tue", Value = 56 },
                new Avgsessions { Week = "Wed", Value = 22 },
                new Avgsessions { Week = "Thu", Value = 65 },
                new Avgsessions { Week = "Fri", Value = 96 },
                new Avgsessions { Week = "Sat", Value = 53 },
            };
            return avgsessions;
        }
    }
    //Average Sessions //
}

@code{

    public class BrowserInsights{
        public string? Name { get; set; }
        public string? Company { get; set; }
        public string? ImageUrl { get; set; }
        public string? Users { get; set; }
        public int Progress { get; set; }
        public string? ProgressColor { get; set; }
    }

    private List<BrowserInsights> BrowserInsightsData = new(){
        new BrowserInsights 
        { 
            Name = "Google", 
            Company = "Google, Inc", 
            ImageUrl = "assets/images/browsers/chrome.png", 
            Users = "1,215", 
            Progress = 78, 
            ProgressColor = "primary" 
        },
        new BrowserInsights 
        { 
            
            Name = "Edge", 
            Company = "Microsoft Corp, Inc",
            ImageUrl = "assets/images/browsers/edge.png", 
            Users = "978", 
            Progress = 72, 
            ProgressColor = "secondary" 
        },
        new BrowserInsights 
        { 
            Name = "Firefox",
            Company = "Mozilla, Inc", 
            ImageUrl = "assets/images/browsers/firefox.png", 
            Users = "815",
            Progress = 64, 
            ProgressColor = "warning"
        },
        new BrowserInsights 
        { 
            Name = "Opera", 
            Company = "Opera, Inc", 
            ImageUrl = "assets/images/browsers/opera.png",
            Users = "1,347", 
            Progress = 58,
            ProgressColor = "info" 
        },
        new BrowserInsights 
        { 
            Name = "Safari", 
            Company = "Apple Corp, Inc", 
            ImageUrl = "assets/images/browsers/safari.png", 
            Users = "1,123", 
            Progress = 63, 
            ProgressColor = "success" 
        },
        new BrowserInsights
        {  
            Name = "Uc Browser", 
            Company = "Uc Browser, Inc", 
            ImageUrl = "assets/images/browsers/uc.png",
            Users = "1,189", 
            Progress = 55, 
            ProgressColor = "danger" 
        }
    };

    public class VisitorsByCountries{
        public int Id { get; set; }
        public string? CountryName { get; set; }
        public string? FlagImageUrl { get; set; }
        public string? Percent { get; set; }
        public string? GrowthDir { get; set; } 
        public string? GrowthColor { get; set; } 
        public string? UserCount { get; set; }
    }
    private List<VisitorsByCountries> VisitorsByCountriesData = new(){
        new VisitorsByCountries { Id = 1, CountryName = "USA", FlagImageUrl = "assets/images/flags/us_flag.jpg", Percent = "2.15%", GrowthDir = "up", GrowthColor = "success", UserCount = "45,234" },
        new VisitorsByCountries { Id = 2, CountryName = "Argentina", FlagImageUrl = "assets/images/flags/argentina_flag.jpg", Percent = "1.62%", GrowthDir = "up", GrowthColor = "success", UserCount = "12,234" },
        new VisitorsByCountries { Id = 3, CountryName = "Italy", FlagImageUrl = "assets/images/flags/italy_flag.jpg", Percent = "0.85%", GrowthDir = "down", GrowthColor = "danger", UserCount = "7,234" },
        new VisitorsByCountries { Id = 4, CountryName = "Russia", FlagImageUrl = "assets/images/flags/russia_flag.jpg", Percent = "3.51%", GrowthDir = "up", GrowthColor = "success", UserCount = "3,543" },
        new VisitorsByCountries { Id = 5, CountryName = "Spain", FlagImageUrl = "assets/images/flags/spain_flag.jpg", Percent = "0.56%", GrowthDir = "up", GrowthColor = "success", UserCount = "2,463" },
        new VisitorsByCountries { Id = 6, CountryName = "Uae", FlagImageUrl = "assets/images/flags/uae_flag.jpg", Percent = "1.92%", GrowthDir = "up", GrowthColor = "success", UserCount = "1,832" },
    };

    public class TopCampaigns{
        public int Id { get; set; }                   
        public string? Name { get; set; }        
        public string? Role { get; set; }            
        public string? ImageUrl { get; set; }          
        public string? Earnings { get; set; }          
        public string? GrowthPercent { get; set; }     
        public string? GrowthPercentColor { get; set; }       
        public string? Status { get; set; }             
        public string? StatusBgColor { get; set; }  
    }
    private List<TopCampaigns> TopCampaignsData = new(){
        new TopCampaigns { Id = 1, Name = "Leo Phillips", Role = "Influencer", ImageUrl = "assets/images/faces/1.jpg", Earnings = "$12,465", GrowthPercent = "23.3%", GrowthPercentColor = "primary", Status = "On process", StatusBgColor = "info" },
        new TopCampaigns { Id = 2, Name = "Noah Russell", Role = "Influencer", ImageUrl = "assets/images/faces/2.jpg", Earnings = "$3,576", GrowthPercent = "19.4%", GrowthPercentColor = "secondary", Status = "Achieved", StatusBgColor = "success" },
        new TopCampaigns { Id = 3, Name = "Henry Morgan", Role = "Youtuber", ImageUrl = "assets/images/faces/3.jpg", Earnings = "$12,764", GrowthPercent = "12.76%", GrowthPercentColor = "success", Status = "On Process", StatusBgColor = "info" },
        new TopCampaigns { Id = 4, Name = "Ava Taylor", Role = "Content Creator", ImageUrl = "assets/images/faces/4.jpg", Earnings = "$13,864", GrowthPercent = "16.78%", GrowthPercentColor = "warning", Status = "Achieved", StatusBgColor = "success" },
        new TopCampaigns { Id = 5, Name = "Liam Parker", Role = "Youtuber", ImageUrl = "assets/images/faces/5.jpg", Earnings = "$9,756", GrowthPercent = "6.13%", GrowthPercentColor = "info", Status = "Achieved", StatusBgColor = "success" },
    };
     
    public class EngagementMetrics{
        public int Id { get; set; }
        public string? Name { get; set; }
        public string? ProfileImage { get; set; }
        public int Sessions { get; set; }
        public string? Country { get; set; }
        public string? CountryFlag { get; set; }
        public int PageViews { get; set; }
        public string? BounceRate { get; set; }
        public string? ConversionRate { get; set; }
    }
    
    private List<EngagementMetrics> EngagementMetricsData = new List<EngagementMetrics>{
        new EngagementMetrics
        {
            Id = 1,
            Name = "John Doe",
            ProfileImage = "../assets/images/faces/12.jpg",
            Sessions = 120,
            Country = "United States",
            CountryFlag = "../assets/images/flags/us_flag.jpg",
            PageViews = 350,
            BounceRate = "45%",
            ConversionRate = "5.2%"
        },
        new EngagementMetrics
        {
            Id = 2,
            Name = "Jane Smith",
            ProfileImage = "../assets/images/faces/1.jpg",
            Sessions = 95,
            Country = "Germany",
            CountryFlag = "../assets/images/flags/germany_flag.jpg",
            PageViews = 240,
            BounceRate = "38%",
            ConversionRate = "6.8%"
        },
        new EngagementMetrics
        {
            Id = 3,
            Name = "Chris Johnson",
            ProfileImage = "../assets/images/faces/14.jpg",
            Sessions = 110,
            Country = "Canada",
            CountryFlag = "../assets/images/flags/canada_flag.jpg",
            PageViews = 290,
            BounceRate = "40%",
            ConversionRate = "4.5%"
        },
        new EngagementMetrics
        {
            Id = 4,
            Name = "Emily Davis",
            ProfileImage = "../assets/images/faces/4.jpg",
            Sessions = 75,
            Country = "Argentina",
            CountryFlag = "../assets/images/flags/argentina_flag.jpg",
            PageViews = 200,
            BounceRate = "50%",
            ConversionRate = "3.8%"
        },
        new EngagementMetrics
        {
            Id = 5,
            Name = "Michael Brown",
            ProfileImage = "../assets/images/faces/15.jpg",
            Sessions = 135,
            Country = "India",
            CountryFlag = "../assets/images/flags/india_flag.jpg",
            PageViews = 400,
            BounceRate = "30%",
            ConversionRate = "7.1%"
        }
    };

    public class DashboardStats{
        public string? Title { get; set; }   
        public string? Value { get; set; }        
        public string? IconSvg { get; set; }            
        public string? AvatarBgColor { get; set; } 
        public string? Percent { get; set; }   
        public string? PercentColor { get; set; }   
        public string? PercentChangeDir { get; set; }    
    }
   
    private List<DashboardStats> DashboardStatsData = new List<DashboardStats>{
        new DashboardStats
        {
            Title = "Total Users",
            Value = "42,643",
            IconSvg = "<svg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#5f6368'><g><rect fill='none' height='24' width='24'/></g><g><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 4c1.93 0 3.5 1.57 3.5 3.5S13.93 13 12 13s-3.5-1.57-3.5-3.5S10.07 6 12 6zm0 14c-2.03 0-4.43-.82-6.14-2.88C7.55 15.8 9.68 15 12 15s4.45.8 6.14 2.12C16.43 19.18 14.03 20 12 20z'/></g></svg>", 
            AvatarBgColor = "primary",
            Percent = "0.45%",
            PercentColor = "success",
            PercentChangeDir = "up",
        },
        new DashboardStats
        {
            Title = "Total Sessions",
            Value = "143K",
            IconSvg = "<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#5f6368'><path d='M0 0h24v24H0z' fill='none'/><path d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-5h2v5zm4 0h-2v-3h2v3zm0-5h-2v-2h2v2zm4 5h-2V7h2v10z'/></svg>",
            AvatarBgColor = "secondary",
            Percent = "2.76%",
            PercentColor = "success",
            PercentChangeDir = "up",
        },
        new DashboardStats
        {
            Title = "Bounce Rate",
            Value = "91.6%",
            IconSvg = "<svg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#5f6368'><g><rect fill='none' height='24' width='24'/></g><g><g><g><g><path d='M7.5,11C9.43,11,11,9.43,11,7.5S9.43,4,7.5,4S4,5.57,4,7.5S5.57,11,7.5,11z M7.5,6C8.33,6,9,6.67,9,7.5S8.33,9,7.5,9 S6,8.33,6,7.5S6.67,6,7.5,6z'/></g></g><g><rect height='2' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -4.9706 12)' width='20.63' x='1.69' y='11'/></g><g><g><path d='M16.5,13c-1.93,0-3.5,1.57-3.5,3.5s1.57,3.5,3.5,3.5s3.5-1.57,3.5-3.5S18.43,13,16.5,13z M16.5,18 c-0.83,0-1.5-0.67-1.5-1.5s0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5S17.33,18,16.5,18z'/></g></g></g></g></svg>",
            AvatarBgColor = "success",
            Percent = "3.85%",
            PercentColor = "success",
            PercentChangeDir = "up",
        },
        new DashboardStats
        {
            Title = "Avg Session Duration",
            Value = "2m 27s",
            IconSvg = "<svg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#5f6368'><g><rect fill='none' height='24' width='24'/></g><g><g><rect height='2' width='6' x='9' y='1'/><path d='M19.03,7.39l1.42-1.42c-0.43-0.51-0.9-0.99-1.41-1.41l-1.42,1.42C16.07,4.74,14.12,4,12,4c-4.97,0-9,4.03-9,9 c0,4.97,4.02,9,9,9s9-4.03,9-9C21,10.88,20.26,8.93,19.03,7.39z M13,14h-2V8h2V14z'/></g></g></svg>",
            AvatarBgColor = "warning",
            Percent = "2.44%",
            PercentColor = "danger",
            PercentChangeDir = "down",
        }
    };
}
