---
const { cardClass, bodyClass, school } = Astro.props;
---

<div class={`card custom-card ${cardClass}`}>
    <div class={`card-body ${bodyClass}`}>
        <div
            class={`d-flex align-items-center gap-2 justify-content-between ${school.flexClass}`}
        >
            <div>
                <span class="d-block mb-1">{school.title}</span>
                <div class="d-flex align-items-center gap-2 flex-wrap">
                    <h5 class="fw-semibold mb-0">{school.value}</h5>
                    <div class="fs-12 text-muted">
                        <span
                            class={`badge bg-${school.badgeColor}-transparent rounded-pill d-inline-flex align-items-center`}
                            ><i
                                class={`ti ti-trending-${school.icon} me-1 align-middle`}
                            ></i>{school.percent}</span
                        >
                        This Year
                    </div>
                </div>
            </div>
            <div class="lh-1">
                <span
                    class={`avatar avatar-lg bg-${school.svgColor}-transparent svg-${school.svgColor}`}
                    set:html={school.svgIcon}
                />
            </div>
        </div>
    </div>
</div>
