---
const { cardClass, bodyClass, medical } = Astro.props;
---

<div class={`card custom-card ${cardClass}`}>
    <div class={`card-body ${bodyClass}`}>
        <div class="d-flex align-items-start justify-content-between mb-2">
            <div class="flex-fill">
                <div class="mb-2">{medical.title}</div>
                <h4 class={`fw-semibold text-${medical.svgColor} mb-0`}>
                    {medical.value}
                </h4>
            </div>
            <div>
                <span
                    class={`avatar avatar-md bg-${medical.svgColor}-transparent svg-${medical.svgColor}`}
                    set:html={medical.svgIcon}
                />
            </div>
        </div>
        <div class="d-flex fs-13 align-items-center justify-content-between">
            <div class="text-muted">{medical.month}</div>
            <div class={`text-${medical.percentColor} fw-medium d-inline-flex`}>
                <i class={medical.icon}></i>{medical.percent}
            </div>
        </div>
    </div>
</div>
