@page "/crypto/dashboard"
@using ApexCharts
@using Soenneker.Blazor.TomSelect
@using Soenneker.Blazor.TomSelect.Configuration
@using Soenneker.Blazor.TomSelect.Enums


<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">Crypto</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboards</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crypto</li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </div>
</div>
<!-- End::page-header -->

<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xxl-9">
        <div class="row">
            <div class="col-xxl-3 col-xl-6">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3 flex-wrap">
                            <div>
                                <span class="avatar avatar-md">
                                    <img src="../assets/images/crypto-currencies/crypto-icons/bitcoin-btc-logo.svg"
                                        alt="">
                                </span>
                            </div>
                            <div class="flex-fill">
                                <h5 class="fw-semibold">21.235-BTC</h5>
                                <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap">
                                    <div class="text-success fw-medium fs-12"><i
                                            class="ti ti-trending-up mx-1 align-middle"></i> 4.21%</div>
                                    <div id="btc-chart">
                                    <ApexChart TItem="BtcChart" Height="20" Options="BtcChartOptions">

                                        <ApexPointSeries TItem="BtcChart" Items="btcChart" SeriesType="@SeriesType.Area" Name=""
                                            XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
                                    
                                    </ApexChart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-6">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3 flex-wrap">
                            <div>
                                <span class="avatar avatar-md">
                                    <img src="../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg"
                                        alt="">
                                </span>
                            </div>
                            <div class="flex-fill">
                                <h5 class="fw-semibold">164.75-ETH</h5>
                                <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap">
                                    <div class="text-danger fw-medium fs-12"><i
                                            class="ti ti-trending-down mx-1 align-middle"></i> 2.21%</div>
                                    <div id="eth-chart">
                                    <ApexChart TItem="EthChart" Height="20" Options="EthChartOptions">
                                        <ApexPointSeries TItem="EthChart" Items="ethChart" SeriesType="@SeriesType.Area" Name=""
                                            XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
                                    </ApexChart>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-6">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3 flex-wrap">
                            <div>
                                <span class="avatar avatar-md">
                                    <img src="../assets/images/crypto-currencies/crypto-icons/tether-usdt-logo.svg"
                                        alt="">
                                </span>
                            </div>
                            <div class="flex-fill">
                                <h5 class="fw-semibold">31,421-USDT</h5>
                                <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap">
                                    <div class="text-success fw-medium fs-12"><i
                                            class="ti ti-trending-up me-1 align-middle d-inline-block"></i>12.43%</div>
                                    <div id="tether-chart">
                                    <ApexChart TItem="USDTChart" Height="20" Options="USDTChartOptions">
                                        <ApexPointSeries TItem="USDTChart" Items="usdtChart" SeriesType="@SeriesType.Area" Name=""
                                            XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
                                    </ApexChart>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-6">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3 flex-wrap">
                            <div>
                                <span class="avatar avatar-md">
                                    <img src="../assets/images/crypto-currencies/crypto-icons/binance-usd-busd-logo.svg"
                                        alt="">
                                </span>
                            </div>
                            <div class="flex-fill">
                                <h5 class="fw-semibold">4,224-BNB</h5>
                                <div class="d-flex align-items-end justify-content-between gap-3 flex-wrap">
                                    <div class="text-danger fw-medium fs-12"><i
                                            class="ti ti-trending-down me-1 align-middle d-inline-block"></i>15.54%</div>
                                    <div id="bnb-chart">
                                    <ApexChart TItem="BNBChart" Height="20" Options="BNBChartOptions">
                                        <ApexPointSeries TItem="BNBChart" Items="bnbChart" SeriesType="@SeriesType.Area" Name=""
                                            XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
                                    </ApexChart>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Crypto Performance
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="p-3 d-flex align-items-center gap-4 border border-dashed rounded flex-wrap mb-2">
                            <div class="d-flex align-items-center gap-2 flex-wrap">
                                <span class="avatar avatar-sm">
                                    <img src="../assets/images/crypto-currencies/crypto-icons/bitcoin-btc-logo.svg"
                                        alt="">
                                </span>
                                <div>
                                    <span class="fw-medium">Bitcoin</span> - <span class="text-muted">BTC</span>
                                </div>
                            </div>
                            <h6 class="fw-medium mb-0">$42,761.32 USD<span class="text-success mx-2">0.14%</span>(24H)
                            </h6>
                            <div class="d-flex gap-4 align-items-center flex-wrap">
                                <div>Open - <span class="text-success fw-medium">6612.98</span></div>
                                <div>High - <span class="text-success fw-medium">6625.97</span></div>
                                <div>Low - <span class="text-danger fw-medium">6612.34</span></div>
                                <div>Close - <span class="text-success fw-medium">6623.45</span></div>
                            </div>
                        </div>
                        <div id="coin-statistics">
                        <ApexChart TItem="Candlestickbasicchart" XAxisType="XAxisType.Datetime" Options=CandlestickbasicOptions >
                        <ApexCandleSeries TItem="Candlestickbasicchart" Items="Candlestickbasiccharts" Name="datetime"
                                        XValue="@(e => e.Date)"Open="@(e => e.Open)" High="@(e => e.High)" Low="@(e => e.Low)" Close="@(e => e.Close)" />
                          </ApexChart>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Transactions History
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled crypto-transaction-history-list">
                            <li>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md bg-light avatar-rounded p-2 border">
                                            <img src="../assets/images/crypto-currencies/crypto-icons/bitcoin-btc-logo.svg"
                                                alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="fw-semibold d-block">Deposit</span>
                                        <span class="fs-12 text-muted">2025-02-10 14:30</span>
                                    </div>
                                    <div class="text-end">
                                        <span class="fw-semibold d-block">0.25 BTC</span>
                                        <span class="badge bg-success">Completed</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md bg-light avatar-rounded p-2 border">
                                            <img src="../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg"
                                                alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="fw-semibold d-block">Withdrawal</span>
                                        <span class="fs-12 text-muted">2025-02-11 10:00</span>
                                    </div>
                                    <div class="text-end">
                                        <span class="fw-semibold d-block">500 ETH</span>
                                        <span class="badge bg-warning">Pending</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md bg-light avatar-rounded p-2 border">
                                            <img src="../assets/images/crypto-currencies/crypto-icons/solana-sol-logo.svg"
                                                alt="" class="custom-bitcoin">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="fw-semibold d-block">Transfer</span>
                                        <span class="fs-12 text-muted">2025-02-12 16:45</span>
                                    </div>
                                    <div class="text-end">
                                        <span class="fw-semibold d-block">2,000 XRP</span>
                                        <span class="badge bg-success">Completed</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md bg-light avatar-rounded p-2 border">
                                            <img src="../assets/images/crypto-currencies/crypto-icons/bitcoin-btc-logo.svg"
                                                alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="fw-semibold d-block">Deposit</span>
                                        <span class="fs-12 text-muted">2025-02-13 09:30</span>
                                    </div>
                                    <div class="text-end">
                                        <span class="fw-semibold d-block">1.5 BTC</span>
                                        <span class="badge bg-danger">Failed</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md bg-light avatar-rounded p-2 border">
                                            <img src="../assets/images/crypto-currencies/crypto-icons/tether-usdt-logo.svg"
                                                alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="fw-semibold d-block">Withdrawal</span>
                                        <span class="fs-12 text-muted">2025-02-14 13:20</span>
                                    </div>
                                    <div class="text-end">
                                        <span class="fw-semibold d-block">1500 USDT</span>
                                        <span class="badge bg-success">Completed</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="lh-1">
                                        <span class="avatar avatar-md bg-light avatar-rounded p-2 border">
                                            <img src="../assets/images/crypto-currencies/crypto-icons/bitcoin-btc-logo.svg"
                                                alt="">
                                        </span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="fw-semibold d-block">Deposit</span>
                                        <span class="fs-12 text-muted">2025-02-14 17:05</span>
                                    </div>
                                    <div class="text-end">
                                        <span class="fw-semibold d-block">5.0 BTC</span>
                                        <span class="badge bg-warning">Pending</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Recent Activity
                        </div>
                        <a href="javascript:void(0);" class="fs-12 text-muted">View All <i
                                class="ti ti-arrow-narrow-right ms-1"></i></a>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled recent-activity-crypto-list">
                            @foreach (var activity in RecentActivityData)
                            {
                                <li>
                                    <div class="d-flex align-items-center gap-2">
                                        <div>
                                            <span class="avatar avatar-sm avatar-rounded flex-shrink-0">
                                                <img src="@activity.AvatarUrl" alt="@activity.Name" />
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <span class="fw-semibold">@activity.Name</span>
                                            <p class="mb-0">@activity.Currency - <span class="text-muted">(@activity.Amount)</span></p>
                                        </div>
                                        <div class="text-end">
                                            <span class="fs-12 text-muted mb-1">@activity.Date</span>
                                            <p class="mb-0">
                                                <span 
                                                class="fs-11 fw-semibold 
                                                text-@(activity.Status == "Sent"?"danger" : 
                                                activity.Status == "Received"?"success" :
                                                activity.Status == "Processing"?"info" : 
                                                "muted")">
                                                @activity.Status</span> - @activity.Time
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card custom-card overflow-hidden">
                    <div class="card-header">
                        <div class="card-title">
                            Coin Price Statistics
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">                     
                            @foreach (var stat in CoinPriceStatisticsData)
                            {
                                <li class="list-group-item">
                                    <div class="d-flex w-100 justify-content-between align-items-center flex-wrap">
                                        <p class="tx-14 mb-0 font-weight-semibold text-dark">
                                            @stat.Title
                                            @if (!string.IsNullOrEmpty(stat.BadgeText))
                                            {
                                                <span class="badge @stat.BadgeClass ms-3">@stat.BadgeText</span>
                                            }
                                        </p>

                                        <p class="@stat.ValueClass mb-0 tx-15 d-flex">
                                            <span class="numberfont">@stat.Value</span>
                                            @if (!string.IsNullOrEmpty(stat.IconClass))
                                            {
                                                <i class="@stat.IconClass"></i>
                                            }
                                            @if (!string.IsNullOrEmpty(stat.Note))
                                            {
                                                @stat.Note
                                            }
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="mb-1 text-muted">Your Balance</p>
                                <h5 class="fw-semibold mb-1">$23,895.00</h5>
                                <p class=" text-muted fs-12 mb-4">Total Value : 13.50234BTC</p>
                            </div>
                            <div class="dropdown custom-invoice">
                                <a href="javascript:void(0);" class="btn-outline-light btn btn-sm text-muted"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    View All<i class="ri-arrow-down-s-line align-middle ms-1"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);">Today</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Last Week</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-sm-6 col-6">
                                <div class="d-flex align-items-center flex-wrap gap-3">
                                    <div class="lh-1">
                                        <div class="avatar bg-primary-transparent">
                                            <i class="ti ti-arrow-big-up-lines fs-20"></i>
                                        </div>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="text-md mb-1 fw-semibold">$22,490.00</span>
                                        <p class="mb-0 fs-12  text-muted">Invested</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-6 col-6">
                                <div class="d-flex align-items-center flex-wrap gap-3">
                                    <div class="lh-1">
                                        <div class="avatar bg-primary-transparent">
                                            <i class="ti ti-corner-up-right-double fs-20"></i>
                                        </div>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="text-md mb-1  fw-semibold">$22,490.00</span>
                                        <p class="mb-0 fs-12  text-muted">Expenditure</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Buy & Sell Crypto
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs tab-style-1 d-sm-flex d-block nav-justified" role="tablist">
                            <li class="nav-item me-sm-2 me-0" role="presentation">
                                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#buy-crypto"
                                    aria-current="page" href="#buy-crypto" aria-selected="true" role="tab">Buy</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#sell-crypto"
                                    href="#sell-crypto" aria-selected="false" role="tab" tabindex="-1">Sell</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane border-0 p-0 active show" id="buy-crypto" role="tabpanel"
                                aria-labelledby="buy-crypto">
                                <div>
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control w-100" aria-label="crypto buy select"
                                            placeholder="Enter Value">
                                        @if (isRendered)
                                        {
                                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_options1" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                                        }
                                    </div>
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control w-100" aria-label="crypto buy select"
                                            placeholder="Amount Obtained">
                                        @if (isRendered)
                                        {
                                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_options2" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                                        }
                                    </div>
                                    <div>
                                        <div class="fs-14 py-2"><span class="fw-medium text-dark">Price:</span><span
                                                class="text-muted ms-2 fs-14 d-inline-block">6.003435</span><span
                                                class="text-dark fw-medium float-end">BTC</span></div>
                                        <div class="fs-14 py-2"><span class="fw-medium text-dark">Amount:</span><span
                                                class="text-muted ms-2 fs-14 d-inline-block">2,34,4543.00</span><span
                                                class="text-dark fw-medium float-end">LTC</span></div>
                                        <div class="fw-medium fs-14 py-2">Total: <span
                                                class="fs-14 d-inline-block">22.00 BTC</span></div>
                                        <div class="fs-12 text-success">Additional Charges: 0.32%(0.0001231 BTC)</div>
                                        <label class="fw-medium fs-12 mt-4 mb-3">SELECT PAYMENT METHOD :</label>
                                        <div class="row g-2">
                                            <div class="col-xl-6">
                                                <div class="p-2 border rounded">
                                                    <div class="form-check mb-0">
                                                        <input class="form-check-input" type="radio"
                                                            name="flexRadioDefault" id="flexRadioDefault1" checked>
                                                        <label class="form-check-label fs-12" for="flexRadioDefault1">
                                                            Credit / Debit Cards
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="p-2 border rounded">
                                                    <div class="form-check mb-0">
                                                        <input class="form-check-input" type="radio"
                                                            name="flexRadioDefault" id="flexRadioDefault2">
                                                        <label class="form-check-label fs-12" for="flexRadioDefault2">
                                                            Paypal
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="p-2 border rounded">
                                                    <div class="form-check mb-0">
                                                        <input class="form-check-input" type="radio"
                                                            name="flexRadioDefault" id="flexRadioDefault3">
                                                        <label class="form-check-label fs-12" for="flexRadioDefault3">
                                                            Wallet
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-3 pt-1">
                                        <button type="button" class="btn btn-primary btn-wave btn-lg">BUY
                                            CRYPTO</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane border-0 p-0" id="sell-crypto" role="tabpanel"
                                aria-labelledby="sell-crypto">
                                <div class="tab-pane border-0 p-0" id="sell-crypto1" role="tabpanel"
                                    aria-labelledby="sell-crypto1">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control w-100" aria-label="crypto buy select"
                                            placeholder="Select Currency">
                                        @if (isRendered)
                                        {
                                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_options3" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                                        }
                                    </div>
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control w-100" aria-label="crypto buy select">
                                         @if (isRendered)
                                        {
                                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_options4" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                                        }
                                    </div>
                                    <div class="mb-3">
                                        <span class="form-label">Crypto Value :</span>
                                        <div class="position-relative">
                                            <div
                                                class="p-2 border rounded d-flex align-items-center flex-wrap justify-content-between gap-3 mt-1">
                                                <div class="gap-2 d-flex align-items-center">
                                                    <div class="lh-1">
                                                        <span class="avatar bg-light p-2">
                                                            <img src="../assets/images/crypto-currencies/regular/Bitcoin.svg"
                                                                alt="">
                                                        </span>
                                                    </div>
                                                    <div class="fw-medium">Bitcoin - BTC</div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="fw-medium d-block">0.374638535 BTC</span>
                                                    <span class="text-muted">$5,364.65</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <span class="form-label">Deposit To :</span>
                                        <div class="position-relative">
                                            <div
                                                class="p-2 border rounded d-flex align-items-center flex-wrap gap-2 mt-1">
                                                <div class="lh-1">
                                                    <span class="avatar bg-light p-2">
                                                        <i class="ri-bank-line text-info fs-20"></i>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="fw-medium d-block">Banking</span>
                                                    <span class="text-muted">Checking ...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="fs-14 py-2">
                                            <div class="d-inline-flex">
                                                <span class="fw-medium text-dark">Price:</span><span
                                                    class="text-muted ms-2 fs-14">6.003435</span>
                                            </div>
                                            <span class="text-dark fw-medium float-end">BTC</span>
                                        </div>
                                        <div class="fs-14 py-2">
                                            <div class="d-inline-flex">
                                                <span class="fw-medium text-dark">Amount:</span><span
                                                    class="text-muted ms-2 fs-14">2,34,4543.00</span>
                                            </div>
                                            <span class="text-dark fw-medium float-end">LTC</span>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-3">
                                        <button type="button" class="btn btn-danger btn-wave btn-lg">SELL
                                            CRYPTO</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Assets Overview
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div id="balanceAnalysis" class="p-3">
                        <ApexChart TItem="Radialbarmultiple" Options=RadarmultipleChartOptions Height="160">
                            <ApexPointSeries TItem="Radialbarmultiple" Items="Radialbarmultiples" SeriesType=SeriesType.RadialBar Name="Fruits" XValue="@(e => e.Fruits)" YAggregate="@(e => decimal.Round(e.Average(e => e.Value)))" /> 
                        </ApexChart>
                        </div>
                        <div class="border-top border-block-start-dashed p-3">
                            <div class="d-flex align-items-center gap-3 mb-3">
                                <div class="lh-1">
                                    <span class="avatar avatar-sm bg-primary">
                                        <i class="ri-wallet-3-line fs-16"></i>
                                    </span>
                                </div>
                                <div class="flex-fill">
                                    <div class="fw-medium text-muted">Funding</div>
                                    <h6 class="mb-0">$54,784 USD</h6>
                                </div>
                                <div class="text-end">
                                    <span class="d-block text-muted fs-12">This Year</span>
                                    <span class="fw-medium text-success">
                                        <i class="ri-arrow-down-s-fill me-1 align-middle"></i>1.05%
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center gap-3">
                                <div class="lh-1">
                                    <span class="avatar avatar-sm bg-secondary">
                                        <i class="ri-arrow-up-down-line fs-16"></i>
                                    </span>
                                </div>
                                <div class="flex-fill">
                                    <div class="fw-medium text-muted">Trading</div>
                                    <h6 class="mb-0">$23,489 USD</h6>
                                </div>
                                <div class="text-end">
                                    <span class="d-block text-muted fs-12">This Year</span>
                                    <span class="fw-medium text-danger">
                                        <i class="ri-arrow-down-s-fill me-1 align-middle"></i>1.05%
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Portfolio Overview
                </div>
                <div class="d-flex flex-wrap gap-2">
                    <div class="dropdown custom-invoice">
                        <a href="javascript:void(0);" class="btn btn-outline-light btn-wave waves-effect waves-light"
                            data-bs-toggle="dropdown" aria-expanded="false">Filters<i
                                class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">New</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li>
                        </ul>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Search Here"
                            aria-label=".form-control-sm example">
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th>Asset Type</th>
                                <th>Current Balance (Crypto)</th>
                                <th>Current Price (USD)</th>
                                <th>Total Value (USD)</th>
                                <th>24h Change</th>
                                <th>Total Gain/Loss (USD)</th>
                                <th>24h Volume (USD)</th>
                                <th class="text-center">Market Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in PortfolioOverviewData)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="lh-1">
                                            <span class="avatar avatar-sm avatar-rounded">
                                                <img src="@item.ImageUrl" alt="@item.CryptoName" />
                                            </span>
                                        </div>
                                        <div>@item.CryptoName</div>
                                    </div>
                                </td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                                <td>@item.Value</td>
                                <td><span class="badge bg-@(item.ChangePercentStatus == "loss"?"danger" : "success")">@item.ChangePercent</span></td>
                                <td>@item.ProfitLoss</td>
                                <td>@item.MarketCap</td>
                                <td class="text-center">@item.Rank</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer border-top-0">
                <div class="d-flex align-items-center flex-wrap">
                    <div> Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div>
                    <div class="ms-auto">
                        <nav aria-label="Page navigation" class="pagination-style-2">
                            <ul class="pagination mb-0 flex-wrap">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0);">
                                        Prev
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">17</a></li>
                                <li class="page-item">
                                    <a class="page-link text-primary" href="javascript:void(0);">
                                        next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-2 -->


<!-- Charts -->
@code{
    
    private TomSelect<SelectItem, string> _selectedValue = default!;
    
    private List<SelectItem>? _options1;    
    private List<SelectItem>? _options2;    
    private List<SelectItem>? _options3;    
    private List<SelectItem>? _options4;    
    
    private List<SelectItem> _selectedItems = new List<SelectItem>();     
    
    public class SelectItem
    {
        public string? Id { get; set; }
        public string? Name { get; set; }
        public bool Selected { get; set; }
    }      
    
    private readonly TomSelectConfiguration _configuration = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.DropdownInput, TomSelectPluginType.NoBackspaceDelete }
    };
    private readonly TomSelectConfiguration _configuration2 = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.RemoveButton, TomSelectPluginType.NoBackspaceDelete }
    };
    private bool isRendered = false;  
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isRendered = true;
            await Task.Delay(0);
            StateHasChanged(); 
        }
    }    
     // Crypto Candle Chart Start //
    private List<Candlestickbasicchart> Candlestickbasiccharts { get; set; } = CandlestickbasicchartData.GetCandlestickbasicData();
    private ApexChartOptions<Candlestickbasicchart> CandlestickbasicOptions { get; set; } = new ApexChartOptions<Candlestickbasicchart>
    {
        
        Chart = new () {
                Height = 400,
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
        },
        Tooltip=new ApexCharts.Tooltip {
                Enabled = true,
                Theme = ApexCharts.Mode.Dark,
        },
        PlotOptions = new PlotOptions {
                Candlestick = new PlotOptionsCandlestick  {
                    Colors = new () {
                        Upward = "rgb(50, 212, 132)",
                        Downward = "rgb(255, 103, 87)"
                    }
                 },
        },
        Grid = new Grid {
                BorderColor = "#f1f1f1",
                StrokeDashArray = 3,
        },
        Title = new Title{
                Align = ApexCharts.Align.Left,
        },
        Xaxis=new() {

            Labels = new XAxisLabels{
                Rotate = -90,
                Style = new AxisLabelStyle {
                    Colors = "rgb(107 ,114 ,128)",
                    FontSize = "12px",
                },
            },
        },
        Yaxis = new List<YAxis>() {
                new YAxis {
                    Tooltip=new ApexCharts.YAxisTooltip {
                        Enabled = true,
                       
                    },
                    Labels = new YAxisLabels
                    {
                        Style = new AxisLabelStyle()
                        {
                            Colors = "rgb(107 ,114 ,128)",
                            FontSize = "10px",
                        },
                        Formatter= @"function (e) {
                           return '$' + e;
                        }",
                },
           },
        },
    };
    public static class CandlestickbasicchartData
    {
        public static List<Candlestickbasicchart> GetCandlestickbasicData()
        {
            List<Candlestickbasicchart> CandlestickbasicData = new List<Candlestickbasicchart>
            {
                new Candlestickbasicchart { Date =new DateTime(1538778600000), Open = 6629.81M, High = 6650.5M, Low = 6623.04M, Close = 6633.33M },
                new Candlestickbasicchart { Date =new DateTime(1538780400000), Open = 6632.01M, High = 6643.59M, Low = 6620M, Close = 6630.11M },
                new Candlestickbasicchart { Date =new DateTime(1538782200000), Open = 6630.71M, High = 6648.95M, Low = 6623.34M, Close = 6635.65M },
                new Candlestickbasicchart { Date =new DateTime(1538784000000), Open = 6635.65M, High = 6651M, Low = 6629.67M, Close = 6638.24M },
                new Candlestickbasicchart { Date =new DateTime(1538785800000), Open = 6638.24M, High = 6640M, Low = 6620M, Close = 6624.47M },
                new Candlestickbasicchart { Date =new DateTime(1538787600000), Open = 6624.53M, High = 6636.03M, Low = 6621.68M, Close = 6624.31M },
                new Candlestickbasicchart { Date =new DateTime(1538789400000), Open = 6624.61M, High = 6632.2M, Low = 6617M, Close = 6626.02M },
                new Candlestickbasicchart { Date =new DateTime(1538791200000), Open = 6627M, High = 6627.62M, Low = 6584.22M, Close = 6603.02M },
                new Candlestickbasicchart { Date =new DateTime(1538793000000), Open = 6605M, High = 6608.03M, Low = 6598.95M, Close = 6604.01M },
                new Candlestickbasicchart { Date =new DateTime(1538794800000), Open = 6604.5M, High = 6614.4M, Low = 6602.26M, Close = 6608.02M },
                new Candlestickbasicchart { Date =new DateTime(1538796600000), Open = 6608.02M, High = 6610.68M, Low = 6601.99M, Close = 6608.91M },
                new Candlestickbasicchart { Date =new DateTime(1538798400000), Open = 6608.91M, High = 6618.99M, Low = 6608.01M, Close = 6612M },
                new Candlestickbasicchart { Date =new DateTime(1538800200000), Open = 6612M, High = 6615.13M, Low = 6605.09M, Close = 6612M },
                new Candlestickbasicchart { Date =new DateTime(1538802000000), Open = 6612M, High = 6624.12M, Low = 6608.43M, Close = 6622.95M },
                new Candlestickbasicchart { Date =new DateTime(1538803800000), Open = 6623.91M, High = 6623.91M, Low = 6615M, Close = 6615.67M },
                new Candlestickbasicchart { Date =new DateTime(1538805600000), Open = 6618.69M, High = 6618.74M, Low = 6610M, Close = 6610.4M },
                new Candlestickbasicchart { Date =new DateTime(1538807400000), Open = 6611M, High = 6622.78M, Low = 6610.4M, Close = 6614.9M },
                new Candlestickbasicchart { Date =new DateTime(1538809200000), Open = 6614.9M, High = 6626.2M, Low = 6613.33M, Close = 6623.45M },
                new Candlestickbasicchart { Date =new DateTime(1538811000000), Open = 6623.48M, High = 6627M, Low = 6618.38M, Close = 6620.35M },
                new Candlestickbasicchart { Date =new DateTime(1538812800000), Open = 6619.43M, High = 6620.35M, Low = 6610.05M, Close = 6615.53M },
                new Candlestickbasicchart { Date =new DateTime(1538814600000), Open = 6615.53M, High = 6617.93M, Low = 6610M, Close = 6615.19M },
                new Candlestickbasicchart { Date =new DateTime(1538816400000), Open = 6615.19M, High = 6621.6M, Low = 6608.2M, Close = 6620M },
                new Candlestickbasicchart { Date =new DateTime(1538818200000), Open = 6619.54M, High = 6625.17M, Low = 6614.15M, Close = 6620M },
                new Candlestickbasicchart { Date =new DateTime(1538820000000), Open = 6620.33M, High = 6634.15M, Low = 6617.24M, Close = 6624.61M },
                new Candlestickbasicchart { Date =new DateTime(1538821800000), Open = 6625.95M, High = 6626M, Low = 6611.66M, Close = 6617.58M },
                new Candlestickbasicchart { Date =new DateTime(1538823600000), Open = 6619M, High = 6625.97M, Low = 6595.27M, Close = 6598.86M },
                new Candlestickbasicchart { Date =new DateTime(1538825400000), Open = 6598.86M, High = 6598.88M, Low = 6570M, Close = 6587.16M },
                new Candlestickbasicchart { Date =new DateTime(1538827200000), Open = 6588.86M, High = 6600M, Low = 6580M, Close = 6593.4M },
                new Candlestickbasicchart { Date =new DateTime(1538829000000), Open = 6593.99M, High = 6598.89M, Low = 6585M, Close = 6587.81M },
                new Candlestickbasicchart { Date =new DateTime(1538830800000), Open = 6587.81M, High = 6592.73M, Low = 6567.14M, Close = 6578M },
                new Candlestickbasicchart { Date =new DateTime(1538832600000), Open = 6578.35M, High = 6581.72M, Low = 6567.39M, Close = 6579M },
                new Candlestickbasicchart { Date =new DateTime(1538834400000), Open = 6579.38M, High = 6580.92M, Low = 6566.77M, Close = 6575.96M },
                new Candlestickbasicchart { Date =new DateTime(1538836200000), Open = 6575.96M, High = 6589M, Low = 6571.77M, Close = 6588.92M },
                new Candlestickbasicchart { Date =new DateTime(1538838000000), Open = 6588.92M, High = 6594M, Low = 6577.55M, Close = 6589.22M },
                new Candlestickbasicchart { Date =new DateTime(1538839800000), Open = 6589.3M, High = 6598.89M, Low = 6589.1M, Close = 6596.08M },
                new Candlestickbasicchart { Date =new DateTime(1538841600000), Open = 6597.5M, High = 6600M, Low = 6588.39M, Close = 6596.25M },
                new Candlestickbasicchart { Date =new DateTime(1538843400000), Open = 6598.03M, High = 6600M, Low = 6588.73M, Close = 6595.97M },
                new Candlestickbasicchart { Date =new DateTime(1538845200000), Open = 6595.97M, High = 6602.01M, Low = 6588.17M, Close = 6602M },
                new Candlestickbasicchart { Date =new DateTime(1538847000000), Open = 6602M, High = 6607M, Low = 6596.51M, Close = 6599.95M },
                new Candlestickbasicchart { Date =new DateTime(1538848800000), Open = 6600.63M, High = 6601.21M, Low = 6590.39M, Close = 6591.02M },
                new Candlestickbasicchart { Date =new DateTime(1538850600000), Open = 6591.02M, High = 6603.08M, Low = 6591M, Close = 6591M },
                new Candlestickbasicchart { Date =new DateTime(1538852400000), Open = 6591M, High = 6601.32M, Low = 6585M, Close = 6592M },
                new Candlestickbasicchart { Date =new DateTime(1538854200000), Open = 6593.13M, High = 6596.01M, Low = 6590M, Close = 6593.34M },
                new Candlestickbasicchart { Date =new DateTime(1538856000000), Open = 6593.34M, High = 6604.76M, Low = 6582.63M, Close = 6593.86M },
                new Candlestickbasicchart { Date =new DateTime(1538857800000), Open = 6593.86M, High = 6604.28M, Low = 6586.57M, Close = 6600.01M },
                new Candlestickbasicchart { Date =new DateTime(1538859600000), Open = 6601.81M, High = 6603.21M, Low = 6592.78M, Close = 6596.25M },
                new Candlestickbasicchart { Date =new DateTime(1538861400000), Open = 6596.25M, High = 6604.2M, Low = 6590M, Close = 6602.99M },
                new Candlestickbasicchart { Date =new DateTime(1538863200000), Open = 6602.99M, High = 6606M, Low = 6584.99M, Close = 6587.81M },
                new Candlestickbasicchart { Date =new DateTime(1538865000000), Open = 6587.81M, High = 6595M, Low = 6583.27M, Close = 6591.96M },
                new Candlestickbasicchart { Date =new DateTime(1538866800000), Open = 6591.97M, High = 6596.07M, Low = 6585M, Close = 6588.39M },
                new Candlestickbasicchart { Date =new DateTime(1538868600000), Open = 6587.6M, High = 6598.21M, Low = 6587.6M, Close = 6594.27M },
                new Candlestickbasicchart { Date =new DateTime(1538870400000), Open = 6596.44M, High = 6601M, Low = 6590M, Close = 6596.55M },
                new Candlestickbasicchart { Date =new DateTime(1538872200000), Open = 6598.91M, High = 6605M, Low = 6596.61M, Close = 6600.02M },
                new Candlestickbasicchart { Date =new DateTime(1538874000000), Open = 6600.55M, High = 6605M, Low = 6589.14M, Close = 6593.01M },
                new Candlestickbasicchart { Date =new DateTime(1538875800000), Open = 6593.15M, High = 6605M, Low = 6592M, Close = 6603.06M },
                new Candlestickbasicchart { Date =new DateTime(1538877600000), Open = 6603.07M, High = 6604.5M, Low = 6599.09M, Close =6603.89M },
                new Candlestickbasicchart { Date =new DateTime(1538879400000), Open = 6604.44M, High = 6604.44M, Low = 6600M, Close = 6603.5M },
                new Candlestickbasicchart { Date =new DateTime(1538881200000), Open = 6603.5M, High = 6603.99M, Low = 6597.5M, Close = 6603.86M },
                new Candlestickbasicchart { Date =new DateTime(1538883000000), Open = 6603.85M, High = 6605M, Low = 6600M, Close = 6604.07M },
                new Candlestickbasicchart { Date =new DateTime(1538884800000), Open = 6604.98M, High = 6606M, Low = 6604.07M, Close = 6606M },
            };
            return CandlestickbasicData;
        }
    }
    public class Candlestickbasicchart
    {
        public DateTime Date { get; set; }
        public decimal Open { get; set; }
        public decimal High { get; set; }
        public decimal Low { get; set; }
        public decimal Close { get; set; }
    }
    // Crypto Candle Chart End //

     // Assets Overview //
    private List<Radialbarmultiple> Radialbarmultiples { get; set; } = DataRadialbarmultiple.Radialbarmultiple();
    private ApexChartOptions<Radialbarmultiple> RadarmultipleChartOptions { get; set; } = new ApexChartOptions<Radialbarmultiple>
    {
        Chart = new () {
            Height = 170, 
        },
        PlotOptions = new PlotOptions{
            RadialBar = new PlotOptionsRadialBar{
                OffsetY = 0,
                StartAngle = 0,
                EndAngle = 360,
                Hollow =new() {
                    Margin = 5,
                    Size = "50%",
                    Background = "#000000",
                },
    
                DataLabels = new RadialBarDataLabels
                {
                    Name = new (){
                        Show = true,
                        FontSize = "20px",
                        FontFamily = "Poppins, sans-serif",
                        OffsetY = 0,
                    },

                    Value = new (){
                        Show = true,
                        FontSize = "22px",
                        Color = "undefined",
                        OffsetY = 12,
                        FontWeight= 600,
                        FontFamily = "Poppins, sans-serif",
                        Formatter = @"function (val) {
                            return val + '%';
                        }",
                    },
                    Total = new (){
                        Show = true,

                        Label = "Balance",
                        FontSize = "14px",
                        FontWeight = 400,
                        Formatter = @"function (w) {
                            return 252;
                        }",
                    },
                },
            }
        },
        Tooltip = new() {
                Enabled = true,
                Y = new() {
                    Formatter = @"function (val) {
                    return val + '%';
                   }",
                },
        },
        Stroke = new Stroke {
            LineCap = LineCap.Round,
        },
        Grid = new Grid {
                Padding = new() {
                    Top = -10,
                    Bottom = -10,
                },
        },
        Colors = new List<string> {"var(--primary-color)", "rgba(255, 73, 205, 1)" },
    };
    public static class DataRadialbarmultiple
    {
        public static List<Radialbarmultiple> Radialbarmultiple()
        {
            return new List<Radialbarmultiple>
            {
                new Radialbarmultiple { Fruits = "Funding", Value = 85},
                new Radialbarmultiple { Fruits = "Trading", Value = 75},
            };
        }
    }
    public class Radialbarmultiple
    {
        public string? Fruits { get; set; }
        public decimal Value { get; set; }
    }
    // Assets Overview //


    // btc-chart start//
    private List<BtcChart> btcChart { get; set; } = BtcChartData.GetData();
    private ApexChartOptions<BtcChart> BtcChartOptions { get; set; } = new ApexChartOptions<BtcChart>
    {
        Chart = new() {
            Height = 20,
            Width = 100,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new () {
                Enabled = true,
            },
        },
        Tooltip = new() {
            Enabled = true,
            Theme = ApexCharts.Mode.Dark,
            X = new() {
                Show = false
            },
            Y = new() {
                Title = new(){
                    Formatter = @"function (seriesName) {
                            return ''
                    }"

                },
            },
        },
        DataLabels = new DataLabels {
            Enabled = false,
        },
         Stroke = new Stroke {
            Curve = [Curve.Smooth],
            Width = [1.5],
        },
        Grid = new Grid {
            BorderColor = "#f1f1f1",
        },
         Xaxis =  new XAxis {
            Crosshairs = new (){
                    Show = false
                },
         },
        Colors = new List<string> {"var(--primary-color)"},
        Fill = new Fill {
            Type = new List<FillType> {FillType.Gradient},
            Gradient = new FillGradient {
                ShadeIntensity = 1,
                OpacityFrom = 0.4,
                OpacityTo = 0.1,
                Stops = [0, 90, 100],
                ColorStops = new List<FillGradientStops> {
                    new FillGradientStops { Offset = 0, Color = "var(--primary01)", Opacity = 1 },
                    new FillGradientStops { Offset = 75, Color = "var(--primary01)", Opacity = 1 },
                    new FillGradientStops { Offset = 100, Color = "var(--primary01)", Opacity = 1 },
                }
            },
        },  
    };

    public class BtcChart {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class BtcChartData {
        public static List<BtcChart> GetData() {
            return new List<BtcChart>
            {
                new BtcChart { Series = 1,  Value = 105 },
                new BtcChart { Series = 2,  Value = 112 },
                new BtcChart { Series = 3,  Value = 80 },
                new BtcChart { Series = 4,  Value = 145 },
                new BtcChart { Series = 5,  Value = 98 },
                new BtcChart { Series = 6,  Value = 148 },
                new BtcChart { Series = 7,  Value = 110 },
                new BtcChart { Series = 8,  Value = 87 },
                new BtcChart { Series = 9,  Value = 102 },

            };
        }
    }
    // btc-chart end//


    // eth-chart start//
    private List<EthChart> ethChart { get; set; } = EthChartData.GetData();

    private ApexChartOptions<EthChart> EthChartOptions { get; set; } = new ApexChartOptions<EthChart>
    {
        Chart = new()
        {
            Height = 20,
            Width = 100,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
        },
        Tooltip = new()
        {
            Enabled = true,
            Theme = ApexCharts.Mode.Dark,
            X = new()
            {
                Show = false
            },
            Y = new()
            {
                Title = new()
                {
                    Formatter = @"function (seriesName) {
                            return ''
                    }"
                },
            },
        },
        DataLabels = new DataLabels
        {
            Enabled = false,
        },
        Stroke = new Stroke
        {
            Curve = [Curve.Smooth],
            Width = [1.5],
        },
        Grid = new Grid
        {
            BorderColor = "transparent",
        },
        Xaxis = new XAxis
        {
            Crosshairs = new()
            {
                Show = false
            },
        },
        Colors = new List<string> { "rgb(255, 73, 205)" },
        Fill = new Fill
        {
            Type = new List<FillType> { FillType.Gradient },
            Gradient = new FillGradient
            {
                ShadeIntensity = 1,
                OpacityFrom = 0.4,
                OpacityTo = 0.1,
                Stops = [0, 90, 100],
                ColorStops = new List<FillGradientStops>
                {
                    new FillGradientStops { Offset = 0, Color ="rgba(255, 73, 205, 0.1)", Opacity = 1 },
                    new FillGradientStops { Offset = 75, Color ="rgba(255, 73, 205, 0.1)", Opacity = 1 },
                    new FillGradientStops { Offset = 100, Color ="rgba(255, 73, 205, 0.1)", Opacity = 1 },
                }
            },
        },
    };

    public class EthChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class EthChartData
    {
        public static List<EthChart> GetData()
        {
            return new List<EthChart>
            {
                new EthChart { Series = 1,  Value = 112 },
                new EthChart { Series = 2,  Value = 87 },
                new EthChart { Series = 3,  Value = 105 },
                new EthChart { Series = 4,  Value = 102 },
                new EthChart { Series = 5,  Value = 145 },
                new EthChart { Series = 6,  Value = 98 },
                new EthChart { Series = 7,  Value = 110 },
                new EthChart { Series = 8,  Value = 148 },
                new EthChart { Series = 9,  Value = 80 },
            };
        }
    }
    // eth-chart end//



    // usdt-chart start//
    private List<USDTChart> usdtChart { get; set; } = USDTChartData.GetData();

    private ApexChartOptions<USDTChart> USDTChartOptions { get; set; } = new ApexChartOptions<USDTChart>
    {
        Chart = new()
        {
            Height = 20,
            Width = 100,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
        },
        Tooltip = new()
        {
            Enabled = true,
            Theme = ApexCharts.Mode.Dark,
            X = new()
            {
                Show = false
            },
            Y = new()
            {
                Title = new()
                {
                    Formatter = @"function (seriesName) {
                            return ''
                    }"
                },
            },
        },
        DataLabels = new DataLabels
        {
            Enabled = false,
        },
        Stroke = new Stroke
        {
            Curve = [Curve.Smooth],
            Width = [1.5],
        },
        Grid = new Grid
        {
            BorderColor = "transparent",
        },
        Xaxis = new XAxis
        {
            Crosshairs = new()
            {
                Show = false
            },
        },
        Colors = new List<string> {"rgb(50, 212, 132)"},
        Fill = new Fill
        {
            Type = new List<FillType> { FillType.Gradient },
            Gradient = new FillGradient
            {
                ShadeIntensity = 1,
                OpacityFrom = 0.4,
                OpacityTo = 0.1,
                Stops = [0, 90, 100],
                ColorStops = new List<FillGradientStops>
                {
                    new FillGradientStops { Offset = 0, Color = "rgba(50, 212, 132, 0.1)", Opacity = 1 },
                    new FillGradientStops { Offset = 75, Color = "rgba(50, 212, 132, 0.1)", Opacity = 1 },
                    new FillGradientStops { Offset = 100, Color = "rgba(50, 212, 132, 0.1)", Opacity = 1 },
                }
            },
        },
    };

    public class USDTChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class USDTChartData
    {
        public static List<USDTChart> GetData()
        {
            return new List<USDTChart>
            {
                new USDTChart { Series = 1,  Value = 145 },
                new USDTChart { Series = 2,  Value = 110 },
                new USDTChart { Series = 3,  Value = 112 },
                new USDTChart { Series = 4,  Value = 87 },
                new USDTChart { Series = 5,  Value = 148 },
                new USDTChart { Series = 6,  Value = 102 },
                new USDTChart { Series = 7,  Value = 98 },
                new USDTChart { Series = 8,  Value = 105 },
                new USDTChart { Series = 9,  Value = 80 },
            };
        }
    }
    // usdt-chart end//

    // bnb-chart start//
    private List<BNBChart> bnbChart { get; set; } = BNBChartData.GetData();

    private ApexChartOptions<BNBChart> BNBChartOptions { get; set; } = new ApexChartOptions<BNBChart>
    {
        Chart = new()
        {
            Height = 20,
            Width = 100,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
        },
        Tooltip = new()
        {
            Enabled = true,
            Theme = ApexCharts.Mode.Dark,
            X = new()
            {
                Show = false
            },
            Y = new()
            {
                Title = new()
                {
                    Formatter = @"function (seriesName) {
                            return ''
                    }"
                },
            },
        },
        DataLabels = new DataLabels
        {
            Enabled = false,
        },
        Stroke = new Stroke
        {
            Curve = [Curve.Smooth],
            Width = [1.5],
        },
        Grid = new Grid
        {
            BorderColor = "transparent",
        },
        Xaxis = new XAxis
        {
            Crosshairs = new()
            {
                Show = false
            },
        },
        Colors = new List<string> { "rgb(253, 175, 34)" },
        Fill = new Fill
        {
            Type = new List<FillType> { FillType.Gradient },
            Gradient = new FillGradient
            {
                ShadeIntensity = 1,
                OpacityFrom = 0.4,
                OpacityTo = 0.1,
                Stops = [0, 90, 100],
                ColorStops = new List<FillGradientStops>
                {
                    new FillGradientStops { Offset = 0, Color = "rgba(253, 175, 34, 0.1)", Opacity = 1 },
                    new FillGradientStops { Offset = 75, Color = "rgba(253, 175, 34, 0.1)", Opacity = 1 },
                    new FillGradientStops { Offset = 100, Color = "rgba(253, 175, 34, 0.1)", Opacity = 1 },
                }
            },
        },
    };

    public class BNBChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class BNBChartData
    {
        public static List<BNBChart> GetData()
        {
            return new List<BNBChart>
            {
                new BNBChart { Series = 1,  Value = 105 },
                new BNBChart { Series = 2,  Value = 87 },
                new BNBChart { Series = 3,  Value = 148 },
                new BNBChart { Series = 4,  Value = 80 },
                new BNBChart { Series = 5,  Value = 110 },
                new BNBChart { Series = 6,  Value = 145 },
                new BNBChart { Series = 7,  Value = 112 },
                new BNBChart { Series = 8,  Value = 102 },
                new BNBChart { Series = 9,  Value = 98 },
            };
        }
    }
    // bnb-chart end//



    protected override void OnInitialized() {
        _options1 = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "BTC" },
            new SelectItem { Id = "1", Name = "ETH" },
            new SelectItem { Id = "2", Name = "XRP" },
            new SelectItem { Id = "3", Name = "DASH" },
            new SelectItem { Id = "4", Name = "NEO" },
            new SelectItem { Id = "5", Name = "LTC" },
            new SelectItem { Id = "6", Name = "BSD" },
        };
        _selectedItems = _options1.Take(1).ToList();  

        _options2 = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "AED" },
            new SelectItem { Id = "1", Name = "AUD" },
            new SelectItem { Id = "2", Name = "ARS" },
            new SelectItem { Id = "3", Name = "AZN" },
            new SelectItem { Id = "4", Name = "BGN" },
            new SelectItem { Id = "5", Name = "BRL" },
        };
        _selectedItems = _options2.Take(1).ToList(); 

        _options3 = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "BTC" },
            new SelectItem { Id = "1", Name = "ETH" },
            new SelectItem { Id = "2", Name = "XRP" },
            new SelectItem { Id = "3", Name = "DASH" },
            new SelectItem { Id = "4", Name = "NEO" },
            new SelectItem { Id = "5", Name = "LTC" },
            new SelectItem { Id = "6", Name = "BSD" },
        };
        _selectedItems = _options3.Take(1).ToList();  

        _options4 = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "AED" },
            new SelectItem { Id = "1", Name = "AUD" },
            new SelectItem { Id = "2", Name = "ARS" },
            new SelectItem { Id = "3", Name = "AZN" },
            new SelectItem { Id = "4", Name = "BGN" },
            new SelectItem { Id = "5", Name = "BRL" },
        };
        _selectedItems = _options4.Take(1).ToList();  
    }

}

@code{

    //Recent Activity start
    public class RecentActivity
    {
        public string? AvatarUrl { get; set; }
        public string? Name { get; set; }
        public string? Currency { get; set; }
        public string? Amount { get; set; }
        public string? Date { get; set; }
        public string? Time { get; set; }
        public string? Status { get; set; } // e.g., Sent, Received, Processing
    }
    List<RecentActivity> RecentActivityData = new()
    {
        new() { AvatarUrl = "../assets/images/faces/4.jpg", Name = "Emiley Jackson", Currency = "Bitcoin", Amount = "0.12", Date = "2025-02-10", Time = "04:24PM", Status = "Sent" },
        new() { AvatarUrl = "../assets/images/faces/15.jpg", Name = "Jackie Shraff", Currency = "Etherium", Amount = "9.20", Date = "2025-02-11", Time = "11:57PM", Status = "Received" },
        new() { AvatarUrl = "../assets/images/faces/11.jpg", Name = "Json Taylor", Currency = "Dash", Amount = "830.9", Date = "2025-02-12", Time = "02:28AM", Status = "Received" },
        new() { AvatarUrl = "../assets/images/faces/5.jpg", Name = "Jessica May", Currency = "Euro", Amount = "11.23", Date = "2025-02-13", Time = "10:08AM", Status = "Processing" },
        new() { AvatarUrl = "../assets/images/faces/14.jpg", Name = "Leo Phillip", Currency = "Bitcoin", Amount = "0.56", Date = "2025-02-12", Time = "02:34PM", Status = "Sent" },
        new() { AvatarUrl = "../assets/images/faces/12.jpg", Name = "Lieonel Marsi", Currency = "Litecoin", Amount = "125.65", Date = "2025-02-14", Time = "06:05PM", Status = "Received" }
    };

    //Recent Activity end

    //Portfolio Overview start
    public class PortfolioItem
    {
        public string? ImageUrl { get; set; }
        public string? CryptoName { get; set; }
        public string? Quantity { get; set; }
        public string? Price { get; set; }
        public string? Value { get; set; }
        public string? ChangePercent { get; set; }
        public string? ChangePercentStatus { get; set; }
        public string? ProfitLoss { get; set; }
        public string? MarketCap { get; set; }
        public string? Rank { get; set; }
    }
    List<PortfolioItem> PortfolioOverviewData = new()
    {
        new PortfolioItem { ImageUrl = "../assets/images/crypto-currencies/crypto-icons/bitcoin-btc-logo.svg", CryptoName = "Bitcoin (BTC)", Quantity = "2.5", Price = "$29,472.60", Value = "$73,681.50", ChangePercent = "+1.2%",ChangePercentStatus = "profit", ProfitLoss = "+$5,800.00", MarketCap = "$6.5 Billion", Rank = "#1" },
        new PortfolioItem { ImageUrl = "../assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg", CryptoName = "Ethereum (ETH)", Quantity = "15", Price = "$1,842.30", Value = "$27,634.50", ChangePercent = "+0.9%",ChangePercentStatus = "profit", ProfitLoss = "+$2,000.00", MarketCap = "$2.2 Billion", Rank = "#2" },
        new PortfolioItem { ImageUrl = "../assets/images/crypto-currencies/crypto-icons/dogecoin-doge-logo.svg", CryptoName = "Dogecoin (DOGE)", Quantity = "100,000", Price = "$0.075", Value = "$7,500.00", ChangePercent = "+4.5%",ChangePercentStatus = "profit", ProfitLoss = "+$320.00", MarketCap = "$1.8 Billion", Rank = "#9" },
        new PortfolioItem { ImageUrl = "../assets/images/crypto-currencies/crypto-icons/tether-usdt-logo.svg", CryptoName = "Tether (USDT)", Quantity = "10,000", Price = "$1.00", Value = "$10,000.00", ChangePercent = "0.0%",ChangePercentStatus = "no change", ProfitLoss = "$0.00", MarketCap = "$25 Billion", Rank = "#3" },
        new PortfolioItem { ImageUrl = "../assets/images/crypto-currencies/crypto-icons/xrp-xrp-logo.svg", CryptoName = "Ripple (XRP)", Quantity = "5,000", Price = "$0.75", Value = "$3,750.00", ChangePercent = "+2.5%",ChangePercentStatus = "profit", ProfitLoss = "+$500.00", MarketCap = "$1.5 Billion", Rank = "#6" },
        new PortfolioItem { ImageUrl = "../assets/images/crypto-currencies/crypto-icons/cardano-ada-logo.svg", CryptoName = "Cardano (ADA)", Quantity = "10,000", Price = "$0.35", Value = "$3,500.00", ChangePercent = "-0.8%",ChangePercentStatus = "loss", ProfitLoss = "-$100.00", MarketCap = "$350 Million", Rank = "#8" }
    };
    //Portfolio Overview end

    //Coin Price Statistics
    public class CoinPriceStatistic
    {
        public string Title { get; set; } = string.Empty;
        public string Value { get; set; } = string.Empty;
        public string BadgeText { get; set; } = string.Empty; // Optional
        public string BadgeClass { get; set; } = string.Empty;
        public string ValueClass { get; set; } = "text-dark"; // e.g., text-success, text-danger, etc.
        public string IconClass { get; set; } = string.Empty; // Optional icon for value (e.g., up/down arrow)
        public string Note { get; set; } = string.Empty;       // Optional (e.g., "today")
    }
    List<CoinPriceStatistic> CoinPriceStatisticsData = new()
    {
        new CoinPriceStatistic { Title = "Bitcoin value in USD", Value = "$97,133.00" },

        new CoinPriceStatistic {
            Title = "Price Change",
            Value = "+883.00(0.91%)",
            ValueClass = "text-success",
            BadgeText = "Increased",
            BadgeClass = "bg-primary-transparent text-primary",
            IconClass = "fa fa-arrow-up me-2",
            Note = "today"
        },

        new CoinPriceStatistic { Title = "Trade Value", Value = "$34.64 billion" },

        new CoinPriceStatistic {
            Title = "Market Rank",
            Value = "#1",
            BadgeText = "3 Years",
            BadgeClass = "bg-secondary-transparent"
        },

        new CoinPriceStatistic {
            Title = "This Week High",
            Value = "$97,253.24",
            ValueClass = "text-success"
        },

        new CoinPriceStatistic {
            Title = "This Week Low",
            Value = "$95,220.00",
            ValueClass = "text-danger"
        },

        new CoinPriceStatistic {
            Title = "Market Dominance",
            Value = "70%"
        },

        new CoinPriceStatistic {
            Title = "Alltime High",
            Value = "$109,358.01",
            ValueClass = "text-info"
        }
    }; 
}
