@page "/crypto/exchange"
@using ApexCharts
@using Soenneker.Blazor.TomSelect
@using Soenneker.Blazor.TomSelect.Configuration
@using Soenneker.Blazor.TomSelect.Enums

<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">Currency Exchange</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboards</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Crypto</a></li>
            <li class="breadcrumb-item active" aria-current="page">Currency Exchange</li>
        </ol>
    </div>
</div>
<!-- End::page-header -->

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card currency-exchange-card border-0">
            <div class="card-body p-sm-5 d-flex align-items-center justify-content-center">
                <div class="crypto-currency-exchange-background">
                    <img src="../assets/images/media/media-65.png" alt="">
                </div>
                <div class="container">
                    <h3 class="text-center">Buy and Sell Coins without additional fees</h3>
                    <span class="d-block fs-16 text-center text-muted mb-4">
                        Buy now and get +50% extra bonus Minimum pre-sale amount 100 Crypto Coin. We accept BTC
                        crypto-currency..
                    </span>
                    <div class="p-3 mb-4 rounded currency-exchange-area">
                        <div class="row gy-3">
                            <div class="col-xxl-3 col-12">
                                <input type="text" class="form-control" value="0.0453" placeholder="Enter Amount">
                            </div>
                            <div class="col-xxl-2 col-12">
                                <div>
                                    @if (isRendered)
                                    {
                                        <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_options1" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                                    }
                                </div>
                            </div>
                            <div class="col-xxl-2 col-12">
                                <div class="fs-2 text-fixed-white text-center op-8 lh-1 mt-1">
                                    =
                                </div>
                            </div>
                            <div class="col-xxl-3 col-12">
                                <input type="text" class="form-control" value="1350.93" placeholder="Exchange Amount">
                            </div>
                            <div class="col-xxl-2 col-12">
                                @if (isRendered)
                                {
                                    <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_options2" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-danger btn-wave">Exchange Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

<!-- Start:: row-2 -->
<div class="row justify-content-center">
    <div class="col-xl-3 col-lg-6">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="../assets/images/crypto-currencies/square-color/Bitcoin.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Bitcoin - BTC</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center">24.3% <span
                                class="fs-12 text-warning op-7 ms-2">+0.59<i
                                    class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span>
                            <!-- <span class="badge bg-success-transparent fs-10 ms-2">24H</span> -->
                        </span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-primary">0.00434</span>
                        <span class="d-block text-success fw-medium">$30.29</span>
                    </div>
                </div>
            </div>
            <div id="btc-currency-chart" class="mt-1 w-100">
            <ApexChart TItem="BTCCurrencyChart" Height="60" Options="BTCCurrencyChartOptions">
                <ApexPointSeries TItem="BTCCurrencyChart" Items="btcChart" SeriesType="@SeriesType.Area" Name=""
                    XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
            </ApexChart>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="../assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Etherium - ETH</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center">17.67% <span
                                class="fs-12 text-warning op-7 ms-2">+1.30<i
                                    class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-secondary">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="eth-currency-chart" class="mt-1 w-100">
            <ApexChart TItem="EthereumCurrencyChart" Height="60" Options="EthereumCurrencyChartOptions">
                <ApexPointSeries TItem="EthereumCurrencyChart" Items="ethChart" SeriesType="@SeriesType.Area" Name=""
                    XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
            </ApexChart>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="../assets/images/crypto-currencies/square-color/Dash.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Dash - DASH</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center">17.67% <span
                                class="fs-12 text-warning op-7 ms-2">+1.30<i
                                    class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-success">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="dash-currency-chart" class="mt-1 w-100">
            <ApexChart TItem="DashCurrencyChart" Height="60" Options="DashCurrencyChartOptions">
                <ApexPointSeries TItem="DashCurrencyChart" Items="dashChart" SeriesType="@SeriesType.Area" Name=""
                    XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
            </ApexChart>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="../assets/images/crypto-currencies/square-color/Litecoin.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Litecoin - LTC</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center">17.67% <span
                                class="fs-12 text-warning op-7 ms-2">+1.30<i
                                    class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-warning">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="ltc-currency-chart" class="mt-1 w-100">
            <ApexChart TItem="LitecoinCurrencyChart" Height="60" Options="LitecoinCurrencyChartOptions">
                <ApexPointSeries TItem="LitecoinCurrencyChart" Items="ltcChart" SeriesType="@SeriesType.Area" Name=""
                    XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
            </ApexChart>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="../assets/images/crypto-currencies/square-color/Ripple.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Ripple - XRS</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center">17.67% <span
                                class="fs-12 text-warning op-7 ms-2">+1.30<i
                                    class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-pink">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="xrs-currency-chart" class="mt-1 w-100">
            <ApexChart TItem="RippleCurrencyChart" Height="60" Options="RippleCurrencyChartOptions">
                <ApexPointSeries TItem="RippleCurrencyChart" Items="xrsChart" SeriesType="@SeriesType.Area" Name=""
                    XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
            </ApexChart>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="../assets/images/crypto-currencies/square-color/Golem.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Golem - GLM</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center">17.67% <span
                                class="fs-12 text-warning op-7 ms-2">+1.30<i
                                    class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-purple">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="glm-currency-chart" class="mt-1 w-100">
            <ApexChart TItem="GolemCurrencyChart" Height="60" Options="GolemCurrencyChartOptions">
                <ApexPointSeries TItem="GolemCurrencyChart" Items="glmChart" SeriesType="@SeriesType.Area" Name=""
                    XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
            </ApexChart>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="../assets/images/crypto-currencies/square-color/Monero.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">Monero</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center">17.67% <span
                                class="fs-12 text-warning op-7 ms-2">+1.30<i
                                    class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-danger">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="monero-currency-chart" class="mt-1 w-100">
            <ApexChart TItem="MoneroCurrencyChart" Height="60" Options="MoneroCurrencyChartOptions">
                <ApexPointSeries TItem="MoneroCurrencyChart" Items="xmrChart" SeriesType="@SeriesType.Area" Name=""
                    XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
            </ApexChart>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card custom-card overflow-hidden">
            <div class="card-body mb-3">
                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-3">
                            <div class="lh-1">
                                <span class="avatar avatar-rounded avatar-xs">
                                    <img src="../assets/images/crypto-currencies/square-color/EOS.svg" alt="">
                                </span>
                            </div>
                            <h6 class="fw-medium mb-0">EOS</h6>
                        </div>
                        <span class="fs-25 d-flex align-items-center">17.67% <span
                                class="fs-12 text-warning op-7 ms-2">+1.30<i
                                    class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                    </div>
                    <div class="text-end">
                        <span class="d-block fs-14 mb-1 text-info">1.2923</span>
                        <span class="d-block text-success fw-medium">$2,283.73</span>
                    </div>
                </div>
            </div>
            <div id="eos-currency-chart" class="mt-1 w-100">
            <ApexChart TItem="EOSCurrencyChart" Height="60" Options="EOSCurrencyChartOptions">
                <ApexPointSeries TItem="EOSCurrencyChart" Items="eosChart" SeriesType="@SeriesType.Area" Name=""
                    XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.Value))" />
            </ApexChart>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="text-center my-4">
            <button class="btn btn-primary-light" type="button" disabled>
                <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </div>
</div>
<!-- End:: row-2 -->


@code{

    private TomSelect<SelectItem, string> _selectedValue = default!;
    
    private List<SelectItem>? _options1;    
    private List<SelectItem>? _options2;       
   
    
    private List<SelectItem> _selectedItems = new List<SelectItem>();     
    
    public class SelectItem
    {
        public string? Id { get; set; }
        public string? Name { get; set; }
        public bool Selected { get; set; }
    }      
    
    private readonly TomSelectConfiguration _configuration = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.DropdownInput, TomSelectPluginType.NoBackspaceDelete }
    };
    private readonly TomSelectConfiguration _configuration2 = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.RemoveButton, TomSelectPluginType.NoBackspaceDelete }
    };
    private bool isRendered = false;  
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isRendered = true;
            await Task.Delay(0);
            StateHasChanged(); 
        }
    }

    // btc-currency-chart start //
    private List<BTCCurrencyChart> btcChart { get; set; } = BTCCurrencyChartData.GetData();

    private ApexChartOptions<BTCCurrencyChart> BTCCurrencyChartOptions { get; set; } = new ApexChartOptions<BTCCurrencyChart>
    {
        Chart = new()
        {
            Height = 60,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
            DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Color = "#fff",
                    Opacity = 0.05
                },
        },
        Stroke = new Stroke
        {
            Show = true,
            Curve = [Curve.Smooth],
            LineCap = ApexCharts.LineCap.Butt,
            Width = 1,
            DashArray = 0
        },
        Yaxis = new List<YAxis>() {
            new YAxis {
                Min = 0,
                Show = false,
                AxisBorder = new AxisBorder {
                  Show = false,
                },
            },
           
        },
        Xaxis = new XAxis
        {
            AxisBorder = new AxisBorder{
                Show = false
            }
        },
        Colors = new List<string> { "rgba(152, 95, 253, 0.5)" },
        Tooltip = new()
        {
            Enabled = false,
        },
        
    };

    public class BTCCurrencyChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class BTCCurrencyChartData
    {
        public static List<BTCCurrencyChart> GetData()
        {
            return new List<BTCCurrencyChart>
            {
                new BTCCurrencyChart { Series = 1,  Value = 60 },
                new BTCCurrencyChart { Series = 2,  Value = 10 },
                new BTCCurrencyChart { Series = 3,  Value = 15 },
                new BTCCurrencyChart { Series = 4,  Value = 38 },
                new BTCCurrencyChart { Series = 5,  Value = 55 },
                new BTCCurrencyChart { Series = 6,  Value = 10 },
                new BTCCurrencyChart { Series = 7,  Value = 32 },
                new BTCCurrencyChart { Series = 8,  Value = 31 },
                new BTCCurrencyChart { Series = 9,  Value = 37 },
                new BTCCurrencyChart { Series = 1,  Value = 39 },
                new BTCCurrencyChart { Series = 2,  Value = 62 },
                new BTCCurrencyChart { Series = 3,  Value = 51 },
                new BTCCurrencyChart { Series = 4,  Value = 35 },
                new BTCCurrencyChart { Series = 5,  Value = 41 },
                new BTCCurrencyChart { Series = 6,  Value = 35 },
                new BTCCurrencyChart { Series = 7,  Value = 27 },
                new BTCCurrencyChart { Series = 8,  Value = 93 },
                new BTCCurrencyChart { Series = 9,  Value = 53 },
                new BTCCurrencyChart { Series = 4,  Value = 61 },
                new BTCCurrencyChart { Series = 5,  Value = 27 },
                new BTCCurrencyChart { Series = 6,  Value = 54 },
                new BTCCurrencyChart { Series = 7,  Value = 43 },
                new BTCCurrencyChart { Series = 8,  Value = 19 },
                new BTCCurrencyChart { Series = 9,  Value = 46 },
            };
        }
    }
    // btc-currency-chart end //

    // ethereum-currency-chart start //
    private List<EthereumCurrencyChart> ethChart { get; set; } = EthereumCurrencyChartData.GetData();

    private ApexChartOptions<EthereumCurrencyChart> EthereumCurrencyChartOptions { get; set; } = new ApexChartOptions<EthereumCurrencyChart>
    {
        Chart = new()
        {
            Height = 60,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
            DropShadow = new ApexCharts.DropShadow {
                Enabled = true,
                Top = 0,
                Left = 0,
                Blur = 1,
                Color = "#fff",
                Opacity = 0.05
            },
        },
        Stroke = new Stroke
        {
            Show = true,
            Curve = [Curve.Smooth],
            LineCap = ApexCharts.LineCap.Butt,
            Width = 1,
            DashArray = 0
        },
        Yaxis = new List<YAxis>
        {
            new YAxis {
                Min = 0,
                Show = false,
                AxisBorder = new AxisBorder { Show = false },
            }
        },
        Xaxis = new XAxis
        {
            AxisBorder = new AxisBorder { Show = false }
        },
        Colors = new List<string> { "rgba(255, 73, 205,0.5)"},
        Tooltip = new()
        {
            Enabled = false,
        },
    };

    public class EthereumCurrencyChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class EthereumCurrencyChartData
    {
        public static List<EthereumCurrencyChart> GetData()
        {
            return new List<EthereumCurrencyChart>
            {
                new EthereumCurrencyChart { Series = 1,  Value = 60 },
                new EthereumCurrencyChart { Series = 2,  Value = 10 },
                new EthereumCurrencyChart { Series = 3,  Value = 15 },
                new EthereumCurrencyChart { Series = 4,  Value = 38 },
                new EthereumCurrencyChart { Series = 5,  Value = 55 },
                new EthereumCurrencyChart { Series = 6,  Value = 10 },
                new EthereumCurrencyChart { Series = 7,  Value = 32 },
                new EthereumCurrencyChart { Series = 8,  Value = 31 },
                new EthereumCurrencyChart { Series = 9,  Value = 37 },
                new EthereumCurrencyChart { Series = 1,  Value = 39 },
                new EthereumCurrencyChart { Series = 2,  Value = 62 },
                new EthereumCurrencyChart { Series = 3,  Value = 51 },
                new EthereumCurrencyChart { Series = 4,  Value = 35 },
                new EthereumCurrencyChart { Series = 5,  Value = 41 },
                new EthereumCurrencyChart { Series = 6,  Value = 35 },
                new EthereumCurrencyChart { Series = 7,  Value = 27 },
                new EthereumCurrencyChart { Series = 8,  Value = 93 },
                new EthereumCurrencyChart { Series = 9,  Value = 53 },
                new EthereumCurrencyChart { Series = 4,  Value = 61 },
                new EthereumCurrencyChart { Series = 5,  Value = 27 },
                new EthereumCurrencyChart { Series = 6,  Value = 54 },
                new EthereumCurrencyChart { Series = 7,  Value = 43 },
                new EthereumCurrencyChart { Series = 8,  Value = 19 },
                new EthereumCurrencyChart { Series = 9,  Value = 46 },
            };
        }
    }
    // ethereum-currency-chart end //

    // dash-currency-chart start //
    private List<DashCurrencyChart> dashChart { get; set; } = DashCurrencyChartData.GetData();

    private ApexChartOptions<DashCurrencyChart> DashCurrencyChartOptions { get; set; } = new ApexChartOptions<DashCurrencyChart>
    {
        Chart = new()
        {
            Height = 60,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
            DropShadow = new ApexCharts.DropShadow
            {
                Enabled = true,
                Top = 0,
                Left = 0,
                Blur = 1,
                Color = "#fff",
                Opacity = 0.05
            },
        },
        Stroke = new Stroke
        {
            Show = true,
            Curve = [Curve.Smooth],
            LineCap = ApexCharts.LineCap.Butt,
            Width = 1,
            DashArray = 0
        },
        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Min = 0,
                Show = false,
                AxisBorder = new AxisBorder { Show = false },
            }
        },
        Xaxis = new XAxis
        {
            AxisBorder = new AxisBorder { Show = false }
        },
        Colors = new List<string> { "rgba(253, 175, 34,0.5)"},
        Tooltip = new()
        {
            Enabled = false,
        },
    };

    public class DashCurrencyChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class DashCurrencyChartData
    {
        public static List<DashCurrencyChart> GetData()
        {
            return new List<DashCurrencyChart>
            {
                new DashCurrencyChart { Series = 1,  Value = 60 },
                new DashCurrencyChart { Series = 2,  Value = 10 },
                new DashCurrencyChart { Series = 3,  Value = 15 },
                new DashCurrencyChart { Series = 4,  Value = 38 },
                new DashCurrencyChart { Series = 5,  Value = 55 },
                new DashCurrencyChart { Series = 6,  Value = 10 },
                new DashCurrencyChart { Series = 7,  Value = 32 },
                new DashCurrencyChart { Series = 8,  Value = 31 },
                new DashCurrencyChart { Series = 9,  Value = 37 },
                new DashCurrencyChart { Series = 1,  Value = 39 },
                new DashCurrencyChart { Series = 2,  Value = 62 },
                new DashCurrencyChart { Series = 3,  Value = 51 },
                new DashCurrencyChart { Series = 4,  Value = 35 },
                new DashCurrencyChart { Series = 5,  Value = 41 },
                new DashCurrencyChart { Series = 6,  Value = 35 },
                new DashCurrencyChart { Series = 7,  Value = 27 },
                new DashCurrencyChart { Series = 8,  Value = 93 },
                new DashCurrencyChart { Series = 9,  Value = 53 },
                new DashCurrencyChart { Series = 4,  Value = 61 },
                new DashCurrencyChart { Series = 5,  Value = 27 },
                new DashCurrencyChart { Series = 6,  Value = 54 },
                new DashCurrencyChart { Series = 7,  Value = 43 },
                new DashCurrencyChart { Series = 8,  Value = 19 },
                new DashCurrencyChart { Series = 9,  Value = 46 },
            };
        }
    }
    // dash-currency-chart end //


    // litecoin-currency-chart start //
    private List<LitecoinCurrencyChart> ltcChart { get; set; } = LitecoinCurrencyChartData.GetData();

    private ApexChartOptions<LitecoinCurrencyChart> LitecoinCurrencyChartOptions { get; set; } = new ApexChartOptions<LitecoinCurrencyChart>
    {
        Chart = new()
        {
            Height = 60,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
            DropShadow = new ApexCharts.DropShadow
            {
                Enabled = true,
                Top = 0,
                Left = 0,
                Blur = 1,
                Color = "#fff",
                Opacity = 0.05
            },
        },
        Stroke = new Stroke
        {
            Show = true,
            Curve = [Curve.Smooth],
            LineCap = ApexCharts.LineCap.Butt,
            Width = 1,
            DashArray = 0
        },
        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Min = 0,
                Show = false,
                AxisBorder = new AxisBorder { Show = false },
            }
        },
        Xaxis = new XAxis
        {
            AxisBorder = new AxisBorder { Show = false }
        },
        Colors = new List<string> { "rgba(0, 201, 255, 0.5)" },
        Tooltip = new()
        {
            Enabled = false,
        },
    };

    public class LitecoinCurrencyChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class LitecoinCurrencyChartData
    {
        public static List<LitecoinCurrencyChart> GetData()
        {
            return new List<LitecoinCurrencyChart>
            {
                new LitecoinCurrencyChart { Series = 1,  Value = 60 },
                new LitecoinCurrencyChart { Series = 2,  Value = 10 },
                new LitecoinCurrencyChart { Series = 3,  Value = 15 },
                new LitecoinCurrencyChart { Series = 4,  Value = 38 },
                new LitecoinCurrencyChart { Series = 5,  Value = 55 },
                new LitecoinCurrencyChart { Series = 6,  Value = 10 },
                new LitecoinCurrencyChart { Series = 7,  Value = 32 },
                new LitecoinCurrencyChart { Series = 8,  Value = 31 },
                new LitecoinCurrencyChart { Series = 9,  Value = 37 },
                new LitecoinCurrencyChart { Series = 1,  Value = 39 },
                new LitecoinCurrencyChart { Series = 2,  Value = 62 },
                new LitecoinCurrencyChart { Series = 3,  Value = 51 },
                new LitecoinCurrencyChart { Series = 4,  Value = 35 },
                new LitecoinCurrencyChart { Series = 5,  Value = 41 },
                new LitecoinCurrencyChart { Series = 6,  Value = 35 },
                new LitecoinCurrencyChart { Series = 7,  Value = 27 },
                new LitecoinCurrencyChart { Series = 8,  Value = 93 },
                new LitecoinCurrencyChart { Series = 9,  Value = 53 },
                new LitecoinCurrencyChart { Series = 4,  Value = 61 },
                new LitecoinCurrencyChart { Series = 5,  Value = 27 },
                new LitecoinCurrencyChart { Series = 6,  Value = 54 },
                new LitecoinCurrencyChart { Series = 7,  Value = 43 },
                new LitecoinCurrencyChart { Series = 8,  Value = 19 },
                new LitecoinCurrencyChart { Series = 9,  Value = 46 },
            };
        }
    }
    // litecoin-currency-chart end //


    // ripple-currency-chart start //
    private List<RippleCurrencyChart> xrsChart { get; set; } = RippleCurrencyChartData.GetData();

    private ApexChartOptions<RippleCurrencyChart> RippleCurrencyChartOptions { get; set; } = new ApexChartOptions<RippleCurrencyChart>
    {
        Chart = new()
        {
            Height = 60,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
            DropShadow = new ApexCharts.DropShadow
            {
                Enabled = true,
                Top = 0,
                Left = 0,
                Blur = 1,
                Color = "#fff",
                Opacity = 0.05
            },
        },
        Stroke = new Stroke
        {
            Show = true,
            Curve = [Curve.Smooth],
            LineCap = ApexCharts.LineCap.Butt,
            Width = 1,
            DashArray = 0
        },
        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Min = 0,
                Show = false,
                AxisBorder = new AxisBorder { Show = false },
            }
        },
        Xaxis = new XAxis
        {
            AxisBorder = new AxisBorder { Show = false }
        },
        Colors = new List<string> { "rgba(50, 212, 132, 0.5)" },
        Tooltip = new()
        {
            Enabled = false,
        },
    };

    public class RippleCurrencyChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class RippleCurrencyChartData
    {
        public static List<RippleCurrencyChart> GetData()
        {
            return new List<RippleCurrencyChart>
            {
                new RippleCurrencyChart { Series = 1,  Value = 60 },
                new RippleCurrencyChart { Series = 2,  Value = 10 },
                new RippleCurrencyChart { Series = 3,  Value = 15 },
                new RippleCurrencyChart { Series = 4,  Value = 38 },
                new RippleCurrencyChart { Series = 5,  Value = 55 },
                new RippleCurrencyChart { Series = 6,  Value = 10 },
                new RippleCurrencyChart { Series = 7,  Value = 32 },
                new RippleCurrencyChart { Series = 8,  Value = 31 },
                new RippleCurrencyChart { Series = 9,  Value = 37 },
                new RippleCurrencyChart { Series = 1,  Value = 39 },
                new RippleCurrencyChart { Series = 2,  Value = 62 },
                new RippleCurrencyChart { Series = 3,  Value = 51 },
                new RippleCurrencyChart { Series = 4,  Value = 35 },
                new RippleCurrencyChart { Series = 5,  Value = 41 },
                new RippleCurrencyChart { Series = 6,  Value = 35 },
                new RippleCurrencyChart { Series = 7,  Value = 27 },
                new RippleCurrencyChart { Series = 8,  Value = 93 },
                new RippleCurrencyChart { Series = 9,  Value = 53 },
                new RippleCurrencyChart { Series = 4,  Value = 61 },
                new RippleCurrencyChart { Series = 5,  Value = 27 },
                new RippleCurrencyChart { Series = 6,  Value = 54 },
                new RippleCurrencyChart { Series = 7,  Value = 43 },
                new RippleCurrencyChart { Series = 8,  Value = 19 },
                new RippleCurrencyChart { Series = 9,  Value = 46 },
            };
        }
    }
    // ripple-currency-chart end //

    // golem-currency-chart start //
    private List<GolemCurrencyChart> glmChart { get; set; } = GolemCurrencyChartData.GetData();

    private ApexChartOptions<GolemCurrencyChart> GolemCurrencyChartOptions { get; set; } = new ApexChartOptions<GolemCurrencyChart>
    {
        Chart = new()
        {
            Height = 60,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
            DropShadow = new ApexCharts.DropShadow
            {
                Enabled = true,
                Top = 0,
                Left = 0,
                Blur = 1,
                Color = "#fff",
                Opacity = 0.05
            },
        },
        Stroke = new Stroke
        {
            Show = true,
            Curve = [Curve.Smooth],
            LineCap = ApexCharts.LineCap.Butt,
            Width = 1,
            DashArray = 0
        },
        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Min = 0,
                Show = false,
                AxisBorder = new AxisBorder { Show = false },
            }
        },
        Xaxis = new XAxis
        {
            AxisBorder = new AxisBorder { Show = false }
        },
        Colors = new List<string> { "rgba(255, 103, 87, 0.5)" },
        Tooltip = new()
        {
            Enabled = false,
        },
    };

    public class GolemCurrencyChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class GolemCurrencyChartData
    {
        public static List<GolemCurrencyChart> GetData()
        {
            return new List<GolemCurrencyChart>
            {
                new GolemCurrencyChart { Series = 1,  Value = 60 },
                new GolemCurrencyChart { Series = 2,  Value = 10 },
                new GolemCurrencyChart { Series = 3,  Value = 15 },
                new GolemCurrencyChart { Series = 4,  Value = 38 },
                new GolemCurrencyChart { Series = 5,  Value = 55 },
                new GolemCurrencyChart { Series = 6,  Value = 10 },
                new GolemCurrencyChart { Series = 7,  Value = 32 },
                new GolemCurrencyChart { Series = 8,  Value = 31 },
                new GolemCurrencyChart { Series = 9,  Value = 37 },
                new GolemCurrencyChart { Series = 1,  Value = 39 },
                new GolemCurrencyChart { Series = 2,  Value = 62 },
                new GolemCurrencyChart { Series = 3,  Value = 51 },
                new GolemCurrencyChart { Series = 4,  Value = 35 },
                new GolemCurrencyChart { Series = 5,  Value = 41 },
                new GolemCurrencyChart { Series = 6,  Value = 35 },
                new GolemCurrencyChart { Series = 7,  Value = 27 },
                new GolemCurrencyChart { Series = 8,  Value = 93 },
                new GolemCurrencyChart { Series = 9,  Value = 53 },
                new GolemCurrencyChart { Series = 4,  Value = 61 },
                new GolemCurrencyChart { Series = 5,  Value = 27 },
                new GolemCurrencyChart { Series = 6,  Value = 54 },
                new GolemCurrencyChart { Series = 7,  Value = 43 },
                new GolemCurrencyChart { Series = 8,  Value = 19 },
                new GolemCurrencyChart { Series = 9,  Value = 46 },
            };
        }
    }
    // golem-currency-chart end //

    // monero-currency-chart start //
    private List<MoneroCurrencyChart> xmrChart { get; set; } = MoneroCurrencyChartData.GetData();

    private ApexChartOptions<MoneroCurrencyChart> MoneroCurrencyChartOptions { get; set; } = new ApexChartOptions<MoneroCurrencyChart>
    {
        Chart = new()
        {
            Height = 60,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
            DropShadow = new ApexCharts.DropShadow
            {
                Enabled = true,
                Top = 0,
                Left = 0,
                Blur = 1,
                Color = "#fff",
                Opacity = 0.05
            },
        },
        Stroke = new Stroke
        {
            Show = true,
            Curve = [Curve.Smooth],
            LineCap = ApexCharts.LineCap.Butt,
            Width = 1,
            DashArray = 0
        },
        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Min = 0,
                Show = false,
                AxisBorder = new AxisBorder { Show = false },
            }
        },
        Xaxis = new XAxis
        {
            AxisBorder = new AxisBorder { Show = false }
        },
        Colors = new List<string> { "rgba(53, 181, 170, 0.5)" },
        Tooltip = new()
        {
            Enabled = false,
        },
    };

    public class MoneroCurrencyChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class MoneroCurrencyChartData
    {
        public static List<MoneroCurrencyChart> GetData()
        {
            return new List<MoneroCurrencyChart>
            {
                new MoneroCurrencyChart { Series = 1,  Value = 60 },
                new MoneroCurrencyChart { Series = 2,  Value = 10 },
                new MoneroCurrencyChart { Series = 3,  Value = 15 },
                new MoneroCurrencyChart { Series = 4,  Value = 38 },
                new MoneroCurrencyChart { Series = 5,  Value = 55 },
                new MoneroCurrencyChart { Series = 6,  Value = 10 },
                new MoneroCurrencyChart { Series = 7,  Value = 32 },
                new MoneroCurrencyChart { Series = 8,  Value = 31 },
                new MoneroCurrencyChart { Series = 9,  Value = 37 },
                new MoneroCurrencyChart { Series = 1,  Value = 39 },
                new MoneroCurrencyChart { Series = 2,  Value = 62 },
                new MoneroCurrencyChart { Series = 3,  Value = 51 },
                new MoneroCurrencyChart { Series = 4,  Value = 35 },
                new MoneroCurrencyChart { Series = 5,  Value = 41 },
                new MoneroCurrencyChart { Series = 6,  Value = 35 },
                new MoneroCurrencyChart { Series = 7,  Value = 27 },
                new MoneroCurrencyChart { Series = 8,  Value = 93 },
                new MoneroCurrencyChart { Series = 9,  Value = 53 },
                new MoneroCurrencyChart { Series = 4,  Value = 61 },
                new MoneroCurrencyChart { Series = 5,  Value = 27 },
                new MoneroCurrencyChart { Series = 6,  Value = 54 },
                new MoneroCurrencyChart { Series = 7,  Value = 43 },
                new MoneroCurrencyChart { Series = 8,  Value = 19 },
                new MoneroCurrencyChart { Series = 9,  Value = 46 },
            };
        }
    }
    // monero-currency-chart end //


    // eos-currency-chart start //
    private List<EOSCurrencyChart> eosChart { get; set; } = EOSCurrencyChartData.GetData();

    private ApexChartOptions<EOSCurrencyChart> EOSCurrencyChartOptions { get; set; } = new ApexChartOptions<EOSCurrencyChart>
    {
        Chart = new()
        {
            Height = 60,
            Type = ChartType.Area,
            Toolbar = new ApexCharts.Toolbar
            {
                Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false, Pan = false, Reset = false, Download = false },
            },
            Sparkline = new()
            {
                Enabled = true,
            },
            DropShadow = new ApexCharts.DropShadow
            {
                Enabled = true,
                Top = 0,
                Left = 0,
                Blur = 1,
                Color = "#fff",
                Opacity = 0.05
            },
        },
        Stroke = new Stroke
        {
            Show = true,
            Curve = [Curve.Smooth],
            LineCap = ApexCharts.LineCap.Butt,
            Width = 1,
            DashArray = 0
        },
        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Min = 0,
                Show = false,
                AxisBorder = new AxisBorder { Show = false },
            }
        },
        Xaxis = new XAxis
        {
            AxisBorder = new AxisBorder { Show = false }
        },
        Colors = new List<string> {"rgba(190, 43, 235, 0.5)" },
        Tooltip = new()
        {
            Enabled = false,
        },
    };

    public class EOSCurrencyChart
    {
        public decimal Series { get; set; }
        public decimal Value { get; set; }
    };

    public static class EOSCurrencyChartData
    {
        public static List<EOSCurrencyChart> GetData()
        {
            return new List<EOSCurrencyChart>
            {
                new EOSCurrencyChart { Series = 1,  Value = 60 },
                new EOSCurrencyChart { Series = 2,  Value = 10 },
                new EOSCurrencyChart { Series = 3,  Value = 15 },
                new EOSCurrencyChart { Series = 4,  Value = 38 },
                new EOSCurrencyChart { Series = 5,  Value = 55 },
                new EOSCurrencyChart { Series = 6,  Value = 10 },
                new EOSCurrencyChart { Series = 7,  Value = 32 },
                new EOSCurrencyChart { Series = 8,  Value = 31 },
                new EOSCurrencyChart { Series = 9,  Value = 37 },
                new EOSCurrencyChart { Series = 1,  Value = 39 },
                new EOSCurrencyChart { Series = 2,  Value = 62 },
                new EOSCurrencyChart { Series = 3,  Value = 51 },
                new EOSCurrencyChart { Series = 4,  Value = 35 },
                new EOSCurrencyChart { Series = 5,  Value = 41 },
                new EOSCurrencyChart { Series = 6,  Value = 35 },
                new EOSCurrencyChart { Series = 7,  Value = 27 },
                new EOSCurrencyChart { Series = 8,  Value = 93 },
                new EOSCurrencyChart { Series = 9,  Value = 53 },
                new EOSCurrencyChart { Series = 4,  Value = 61 },
                new EOSCurrencyChart { Series = 5,  Value = 27 },
                new EOSCurrencyChart { Series = 6,  Value = 54 },
                new EOSCurrencyChart { Series = 7,  Value = 43 },
                new EOSCurrencyChart { Series = 8,  Value = 19 },
                new EOSCurrencyChart { Series = 9,  Value = 46 },
            };
        }
    }
    // eos-currency-chart end //

    protected override void OnInitialized() {
        _options1 = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "Bitcoin" },
            new SelectItem { Id = "1", Name = "Etherium" },
            new SelectItem { Id = "2", Name = "Litecoin" },
            new SelectItem { Id = "3", Name = "Ripple" },
            new SelectItem { Id = "4", Name = "Neo" },
            new SelectItem { Id = "5", Name = "Stellar" },
            new SelectItem { Id = "6", Name = "EOS" },
            new SelectItem { Id = "7", Name = "NEM" },
        };
        _selectedItems = _options1.Take(1).ToList();  

        _options2 = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "USD" },
            new SelectItem { Id = "1", Name = "Pound" },
            new SelectItem { Id = "2", Name = "Rupee" },
            new SelectItem { Id = "3", Name = "Euro" },
            new SelectItem { Id = "4", Name = "Won" },
            new SelectItem { Id = "5", Name = "Dinar" },
            new SelectItem { Id = "6", Name = "Rial" },
        };
        _selectedItems = _options2.Take(1).ToList(); 
    }


}
