@page "/jobs/jobpost"
@using Soenneker.Blazor.TomSelect
@using Soenneker.Blazor.TomSelect.Configuration
@using Soenneker.Blazor.TomSelect.Enums
@using FlatpickrBlazor
@using FlatpickrBlazor.Components

<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">Post Job</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboards</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Jobs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Post Job</li>
        </ol>
    </div>
</div>
<!-- End::page-header -->

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xxl-3 col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Assign To Employer</div>
            </div>
            <div class="card-body">
                <div class="col-xl-12">
                    <label class="form-label">Employer Name</label>
                     @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_employerNameOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                        }
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Company Details</div>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-12">
                        <label for="Company-Name" class="form-label">Company Name</label>
                        <input type="text" class="form-control" id="Company-Name" placeholder="Company Name"
                            value="Obligation Pvt.Ltd">
                    </div>
                    <div class="col-xl-12">
                        <label for="Company-Website" class="form-label">Company Website</label>
                        <input type="text" class="form-control" id="Company-Website" placeholder="Company Website"
                            value="http//www.obligationpvtltd.com">
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Country</label>
                         @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_countryOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                        }
                    </div>
                    <div class="col-xl-12">
                        <label for="Company-Address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="Company-Address" placeholder="Company Address"
                            value="USA">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-9 col-xl-8">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Post New Job
                </div>
            </div>
            <div class="card-body">
                <div class="row gy-4 mb-4">
                    <div class="col-xl-6">
                        <label for="job-title" class="form-label">Job Title</label>
                        <input type="text" class="form-control" id="job-title" placeholder="Job Title"
                            value="Web Developer">
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Job Category</label>
                         @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_jobCategoryOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                        }
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Working Experience</label>
                         @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_workExpirienceOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                        }
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Job Type</label>
                         @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_jobTypeOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                        }
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Priority</label>
                         @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_priorityOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                        }
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Vacancies</label>
                         @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_vacanciesOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                        }
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Salary</label>
                         @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_salaryOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                        }
                    </div>
                    <div class="col-xl-6 custom-job">
                        <label for="skills" class="form-label">Skills :</label>
                        @if (isRendered)
                        {
                            <TomSelect TItem="TagItem" Items="_tagItems" TType="string" Multiple="true" @bind-Value="_tagValue" Data="_skillsTagOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="" Configuration="_configuration2" />
                        }
                    </div>
                    <div class="col-xl-6">
                        <label for="job-deadline" class="form-label">Job Deadline</label>
                        <Flatpickr placeholder="Job Deadline" class="form-control breadcrumb-input" @ref="_datepicker" Options="@calendarOpts" />
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Gender Requirement</label>
                         @if (isRendered)
                        {
                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_genderOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Search" Configuration="_configuration" />
                        }
                    </div>
                    <div class="col-xl-6 custom-job">
                        <label for="language" class="form-label">Languages :</label>
                        @if (isRendered)
                        {
                            <TomSelect TItem="TagItem" Items="_tagItems" TType="string" Multiple="true" @bind-Value="_tagValue" Data="_languageTagOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="" Configuration="_configuration2" />
                        }
                    </div>
                    <div class="col-xl-6 custom-job">
                        <label for="qualification" class="form-label">Qualification :</label>
                        @if (isRendered)
                        {
                            <TomSelect TItem="TagItem" Items="_tagItems" TType="string" Multiple="true" @bind-Value="_tagValue" Data="_qualificationTagOptions" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="" Configuration="_configuration2" />
                        }
                    </div>
                    <div class="col-xl-12">
                        <label for="job-description" class="form-label">Job Description :</label>
                        <textarea class="form-control" id="job-description"
                            rows="4">Lorem ipsum dolor sit amet consectetur adipisicing elit. At sit impedit, officiis non minima saepe voluptates a magnam enim sequi porro veniam ea suscipit dolorum vel mollitia voluptate iste nemo!</textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <a href="javascript:void(0);" class="btn btn-primary btn-wave waves-effect waves-light">
                    <i class="bi bi-plus-circle"></i> Post Job
                </a>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->


@code{

    //FlatPicker
    private Flatpickr? _datepicker;
    private FlatpickrOptions calendarOpts = new FlatpickrOptions
    {
        Inline = false,
        Mode = FlatpickrOptionsMode.Range,
        DefaultDate = ["", ""]
    };

    private bool isRendered = false;  
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isRendered = true;
            await Task.Delay(0);
            StateHasChanged(); 
        }
    }

    private TomSelect<SelectItem, string> _selectedValue = default!;
    private List<SelectItem>? _genderOptions;            
    private List<SelectItem>? _countryOptions;      
    private List<SelectItem>? _jobCategoryOptions;      
    private List<SelectItem>? _workExpirienceOptions;      
    private List<SelectItem>? _jobTypeOptions;      
    private List<SelectItem>? _priorityOptions;      
    private List<SelectItem>? _vacanciesOptions;      
    private List<SelectItem>? _salaryOptions;      
    private List<SelectItem>? _employerNameOptions;      
    private List<SelectItem> _selectedItems = new List<SelectItem>();    
    public class SelectItem
    {
        public string? Id { get; set; }
        public string? Name { get; set; }
        public bool Selected { get; set; }
    }

    private TomSelect<TagItem, string> _tagValue = default!;
    private List<TagItem>? _skillsTagOptions; 
    private List<TagItem>? _languageTagOptions; 
    private List<TagItem>? _qualificationTagOptions; 
    private List<TagItem> _tagItems = new List<TagItem>();    
    public class TagItem
    {
        public string? Id { get; set; }
        public string? Name { get; set; }
        public bool Selected { get; set; }
    } 


    private readonly TomSelectConfiguration _configuration = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.DropdownInput, TomSelectPluginType.NoBackspaceDelete }
    };
    private readonly TomSelectConfiguration _configuration2 = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.RemoveButton, TomSelectPluginType.NoBackspaceDelete }
    };
    protected override void OnInitialized() {

        _genderOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "No Preferences" },
            new SelectItem { Id = "1", Name = "Male Only" },
            new SelectItem { Id = "2", Name = "Female Only" },
        };
        _selectedItems = _genderOptions.Take(1).ToList();  

        _countryOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "India" },
            new SelectItem { Id = "1", Name = "USA" },
            new SelectItem { Id = "2", Name = "Germany" },
            new SelectItem { Id = "3", Name = "Spain" },
            new SelectItem { Id = "4", Name = "Urgentina" },
        };
        _selectedItems = _countryOptions.Take(1).ToList(); 

        _jobCategoryOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "Development" },
            new SelectItem { Id = "1", Name = "Marketing" },
            new SelectItem { Id = "2", Name = "IT Software" },
        };
        _selectedItems = _jobCategoryOptions.Take(1).ToList(); 

        _workExpirienceOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "0 - 1 Years" },
            new SelectItem { Id = "1", Name = "1 - 3 Years" },
            new SelectItem { Id = "2", Name = "3 - 5 Years" },

        };
        _selectedItems = _workExpirienceOptions.Take(1).ToList(); 

        _jobTypeOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "Contract" },
            new SelectItem { Id = "1", Name = "Freelance" },
            new SelectItem { Id = "2", Name = "Full Time" },
            new SelectItem { Id = "3", Name = "Part Time" },
            new SelectItem { Id = "4", Name = "Internship" },

        };
        _selectedItems = _jobTypeOptions.Take(1).ToList(); 

        _priorityOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "Normal" },
            new SelectItem { Id = "1", Name = "Urgent" },

        };
        _selectedItems = _priorityOptions.Take(1).ToList(); 

        _vacanciesOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "10" },
            new SelectItem { Id = "1", Name = "20" },
            new SelectItem { Id = "2", Name = "30" },
            new SelectItem { Id = "3", Name = "40" },

        };
        _selectedItems = _vacanciesOptions.Take(1).ToList(); 

        _salaryOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "0 - $1,00,000 / Year" },
            new SelectItem { Id = "1", Name = "$1,00,000 - $3,00,000 / Year" },
            new SelectItem { Id = "2", Name = "$3,00,000 - $5,00,000 / Year" },

        };
        _selectedItems = _salaryOptions.Take(1).ToList(); 

        _employerNameOptions = new List<SelectItem>
        {
            new SelectItem { Id = "0", Name = "Obligation Pvt.Ltd" },
            new SelectItem { Id = "1", Name = "Voluptatem Pvt.Ltd" },
            new SelectItem { Id = "2", Name = "BloomTech.Inc" },
            new SelectItem { Id = "3", Name = "Spotech Technical Solutions" },

        };
        _selectedItems = _employerNameOptions.Take(1).ToList(); 


        _skillsTagOptions = new List<TagItem>
        {
            new TagItem { Id = "0", Name = "HTML" },
            new TagItem { Id = "1", Name = "CSS" },
            new TagItem { Id = "2", Name = "JavaScript" },
            new TagItem { Id = "3", Name = "React" },
        };
        _tagItems = _skillsTagOptions.Take(3).ToList();

        _languageTagOptions = new List<TagItem>
        {
            new TagItem { Id = "0", Name = "English" },
            new TagItem { Id = "1", Name = "French" },
            new TagItem { Id = "2", Name = "Arabic" },
            new TagItem { Id = "3", Name = "Hindi" },
        };
        _tagItems = _languageTagOptions.Take(3).ToList();

        _qualificationTagOptions = new List<TagItem>
        {
            new TagItem { Id = "0", Name = "Graduate" },
            new TagItem { Id = "1", Name = "Diploma" },
            new TagItem { Id = "2", Name = "MBA" },
            new TagItem { Id = "3", Name = "MCA" },
        };
        _tagItems = _qualificationTagOptions.Take(3).ToList();
    }
}
