---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
import {
    dashboardCards,
    ProjectsSummary,
    Recentupdates,
    TaskList,
    Transactions,
    UrgentTasks,
} from "../../../shared/data/dashboards/projects/projectdashboardata";
import SpkDashboardcard from "../../../shared/@spk-reusable-components/dashboards-reusable/projects/spk-dashboardcard.astro";
---

<Layout Seo="Projects-Dashboard">
    <Pageheader
        title="Dashboards"
        subtitle="Projects"
        currentpage="Dashboard"
        activepage="Projects"
    />
    <!-- Start:: row-1 -->
    <div class="row">
        <div class="col-xxl-9">
            <div class="row">
                {
                    dashboardCards.map((idx) => (
                        <div class="col-xl-3">
                            <SpkDashboardcard
                                cardClass={idx.cardClass}
                                project={idx}
                            />
                        </div>
                    ))
                }
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">Projects Overview</div>
                        </div>
                        <div class="card-body">
                            <div id="projects-overview"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="card custom-card overflow-hidden">
                <div class="card-header">
                    <div class="card-title">Task Activity</div>
                </div>
                <div class="card-body">
                    <div id="task-activity"></div>
                </div>
                <div class="card-footer p-0">
                    <ul
                        class="list-group list-group-flush project-task-activity-list"
                    >
                        {
                            TaskList.map((task) => (
                                <li class="list-group-item">
                                    <div class="d-flex align-items-start gap-2">
                                        <div class="flex-fill">
                                            <span
                                                class={`d-block fw-semibold task-type ${task.className}`}
                                            >
                                                {task.type}
                                            </span>
                                            <span class="fs-12 text-muted">
                                                {task.trend === "increase"
                                                    ? "Increased"
                                                    : "Decreased"}{" "}
                                                by{" "}
                                                <span
                                                    class={`mx-1 ${task.trend === "increase" ? "text-success" : "text-danger"}`}
                                                >
                                                    {task.percentage}
                                                </span>{" "}
                                                This year
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                            {task.count}
                                        </div>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-1 -->

    <!-- Start:: row-2 -->
    <div class="row">
        <div class="col-xxl-3">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Recent Activity</div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled projects-recent-activity-list">
                        {
                            Recentupdates.map((item) => (
                                <li>
                                    <div class="d-flex align-items-start gap-3">
                                        <div>
                                            <span
                                                class={`avatar avatar-md avatar-rounded ${item.status}`}
                                            >
                                                <Image
                                                    src={item.avatar}
                                                    alt={item.name}
                                                />
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <div class="d-flex align-items-start justify-content-between mb-1 flex-wrap">
                                                <div class="d-block fw-semibold">
                                                    {item.name}
                                                </div>
                                                <span class="badge bg-light text-muted border">
                                                    {item.date}
                                                </span>
                                            </div>
                                            <div
                                                class={`descrption ${item.file && "mb-1"} `}
                                            >
                                                {item.description}
                                            </div>
                                            {item.file && (
                                                <div class="p-1 border border-dotted rounded position-relative">
                                                    <a
                                                        href="javascript:void(0);"
                                                        class="stretched-link"
                                                    />
                                                    <div class="d-flex align-items-center gap-2">
                                                        <span class="badge bg-success">
                                                            {item.file.type}
                                                        </span>
                                                        <span class="fs-11">
                                                            {item.file.name}
                                                        </span>
                                                    </div>
                                                </div>
                                            )}
                                        </div>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="card custom-card overflow-hidden">
                <div class="card-header justify-content-between">
                    <div class="card-title">Urgent Tasks</div>
                    <div class="dropdown">
                        <a
                            href="javascript:void(0);"
                            class="p-2 fs-12 text-muted"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Today<i
                                class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"
                            ></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="javascript:void(0);">Week</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="javascript:void(0);">Month</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="javascript:void(0);">Year</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Deadline</th>
                                    <th>Assigned To</th>
                                    <th>Priority</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {
                                    UrgentTasks.map((task, index) => (
                                        <tr>
                                            <td
                                                class={
                                                    index ===
                                                    UrgentTasks.length - 1
                                                        ? "border-bottom-0"
                                                        : ""
                                                }
                                            >
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="form-check mb-0">
                                                        <input
                                                            class="form-check-input"
                                                            type="checkbox"
                                                            value=""
                                                            id="urgent-task1"
                                                        />
                                                    </div>
                                                    <a
                                                        href="javascript:void(0);"
                                                        class="urgent-task-title"
                                                    >
                                                        {task.title}
                                                    </a>
                                                </div>
                                            </td>
                                            <td
                                                class={
                                                    index ===
                                                    UrgentTasks.length - 1
                                                        ? "border-bottom-0"
                                                        : ""
                                                }
                                            >
                                                {" "}
                                                {task.dueDate}{" "}
                                            </td>
                                            <td
                                                class={
                                                    index ===
                                                    UrgentTasks.length - 1
                                                        ? "border-bottom-0"
                                                        : ""
                                                }
                                            >
                                                <div class="avatar-list-stacked">
                                                    {task.avatars.map(
                                                        (imgSrc) => (
                                                            <span class="avatar avatar-xs avatar-rounded">
                                                                <Image
                                                                    width={20}
                                                                    height={20}
                                                                    src={imgSrc}
                                                                    alt="img"
                                                                />
                                                            </span>
                                                        ),
                                                    )}
                                                </div>
                                            </td>
                                            <td
                                                class={
                                                    index ===
                                                    UrgentTasks.length - 1
                                                        ? "border-bottom-0"
                                                        : ""
                                                }
                                            >
                                                {" "}
                                                {task.priority}{" "}
                                            </td>
                                            <td
                                                class={
                                                    index ===
                                                    UrgentTasks.length - 1
                                                        ? "border-bottom-0"
                                                        : ""
                                                }
                                            >
                                                <span
                                                    class={`badge ${task.statusClass}`}
                                                >
                                                    {task.status}
                                                </span>
                                            </td>
                                        </tr>
                                    ))
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center">
                        <div>
                            Showing 6 Entries <i
                                class="bi bi-arrow-right ms-2 fw-semibold"></i>
                        </div>
                        <div class="ms-auto">
                            <nav
                                aria-label="Page navigation"
                                class="pagination-style-2"
                            >
                                <ul class="pagination mb-0 flex-wrap">
                                    <li class="page-item disabled">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);"
                                        >
                                            Prev
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);">1</a
                                        >
                                    </li>
                                    <li class="page-item active">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);">2</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);"
                                        >
                                            <i class="bi bi-three-dots"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);">17</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link text-primary"
                                            href="javascript:void(0);"
                                        >
                                            next
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="card custom-card overflow-hidden">
                <div class="card-header">
                    <div class="card-title">Recent Transactions</div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled projects-recent-transactions-list">
                        {
                            Transactions.map((tx) => (
                                <li>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="lh-1">
                                            <span
                                                class={`avatar avatar-md avatar-rounded bg-${tx.avatarColor}-transparent`}
                                            >
                                                {tx.name.charAt(0)}
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <span class="d-block fw-semibold">
                                                {tx.name}
                                            </span>
                                            <span class="fs-13 text-muted">
                                                {tx.dateTime}
                                            </span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-block fw-semibold">
                                                {tx.amount}
                                            </span>
                                            <span
                                                class={`fw-medium fs-13 ${tx.status === "Completed" ? "text-success" : tx.status === "Pending" ? "text-warning" : "text-danger"}`}
                                            >
                                                {tx.status}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-2 -->

    <!-- Start:: row-3 -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Projects Summary</div>
                    <div class="d-flex flex-wrap gap-2">
                        <div>
                            <input
                                class="form-control form-control-sm"
                                type="text"
                                placeholder="Search Here"
                                aria-label=".form-control-sm example"
                            />
                        </div>
                        <div class="dropdown">
                            <a
                                href="javascript:void(0);"
                                class="btn btn-primary btn-sm btn-wave waves-effect waves-light"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Sort By<i
                                    class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"
                                ></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">New</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">Popular</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:void(0);">Relevant</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col"
                                        ><input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="checkboxCheckAll"
                                            value=""
                                            aria-label="..."
                                        /></th
                                    >
                                    <th scope="col">Project Name</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Progress</th>
                                    <th scope="col">Team</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {
                                    ProjectsSummary.map((project) => (
                                        <tr>
                                            <td class={project.borderClass}>
                                                <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    id="checkbox1"
                                                    value=""
                                                    aria-label="..."
                                                />
                                            </td>
                                            <td class={project.borderClass}>{project.name}</td>
                                            <td class={project.borderClass}>{project.startDate}</td>
                                            <td class={project.borderClass}>{project.endDate}</td>
                                            <td class={project.borderClass}>
                                                <span
                                                    class={`badge bg-${project.status === "Completed" ? "success" : "primary"}-transparent`}
                                                >
                                                    {project.status}
                                                </span>
                                            </td>
                                            <td class={project.borderClass}>
                                                <div class="d-flex align-items-center">
                                                    <div
                                                        class="progress progress-animate progress-xs w-100"
                                                        role="progressbar"
                                                        aria-valuenow={
                                                            project.progress
                                                        }
                                                        aria-valuemin={0}
                                                        aria-valuemax={100}
                                                    >
                                                        <div
                                                            class={`progress-bar progress-bar-striped progress-bar-animated bg-${project.progressColor}`}
                                                            style={{
                                                                width: `${project.progress}%`,
                                                            }}
                                                        />
                                                    </div>
                                                    <div class="ms-2">
                                                        {project.progress}%
                                                    </div>
                                                </div>
                                            </td>
                                            <td class={project.borderClass}>
                                                <div class="avatar-list-stacked">
                                                    {project.avatars.map(
                                                        (avatar, i) => (
                                                            <span class="avatar avatar-xs avatar-rounded">
                                                                <Image
                                                                    class=""
                                                                    src={avatar}
                                                                    alt="avatar"
                                                                />
                                                            </span>
                                                        ),
                                                    )}
                                                    {project.moreAvatars && (
                                                        <a
                                                            class="avatar avatar-xs bg-primary avatar-rounded text-fixed-white"
                                                            href="javascript:void(0);"
                                                        >
                                                            +
                                                            {
                                                                project.moreAvatars
                                                            }
                                                        </a>
                                                    )}
                                                </div>
                                            </td>
                                            <td class={project.borderClass}> {project.amount} </td>
                                            <td class={project.borderClass}>
                                                <div class="btn-list">
                                                    <button class="btn btn-sm btn-icon btn-primary-light btn-wave">
                                                        <i class="ri-edit-line" />
                                                    </button>
                                                    <button class="btn btn-sm btn-icon btn-danger-light btn-wave">
                                                        <i class="ri-delete-bin-line" />
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    ))
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center">
                        <div>
                            Showing 6 Entries <i
                                class="bi bi-arrow-right ms-2 fw-semibold"></i>
                        </div>
                        <div class="ms-auto">
                            <nav
                                aria-label="Page navigation"
                                class="pagination-style-2"
                            >
                                <ul class="pagination mb-0 flex-wrap">
                                    <li class="page-item disabled">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);"
                                        >
                                            Prev
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);">1</a
                                        >
                                    </li>
                                    <li class="page-item active">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);">2</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);"
                                        >
                                            <i class="bi bi-three-dots"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="javascript:void(0);">17</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a
                                            class="page-link text-primary"
                                            href="javascript:void(0);"
                                        >
                                            next
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-3 -->
    <script>
        import "../../../scripts/js/custom.js";
        import "../../../scripts/js/projects-dashboard.js";
    </script>
</Layout>
