---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
import "../../../scripts/libs/dragula/dragula.min.css";
import {
    Badges,
    Filedocument,
    Tasks,
    TimelineMessages,
    TodoItems,
} from "../../../shared/data/dashboards/projects/projectoverviewdata";
import face2 from "../../../assets/images/faces/2.jpg";
import face5 from "../../../assets/images/faces/5.jpg";
import face8 from "../../../assets/images/faces/8.jpg";
import face10 from "../../../assets/images/faces/10.jpg";
import face11 from "../../../assets/images/faces/11.jpg";
import face15 from "../../../assets/images/faces/15.jpg";
const basePath = import.meta.env.BASE_URL;
---

<Layout Seo="Projects-Projects Overview">
    <Pageheader
        title="Dashboards"
        subtitle="Projects"
        currentpage="Projects Overview"
        activepage="Projects Overview"
    />
    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-xxl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Project Details</div>
                    <div class="btn-list">
                        <a
                            href={`${basePath}dashboards/projects/create-project`}
                            class="btn btn-sm btn-primary btn-wave"
                            ><i class="ri-add-line align-middle me-1 fw-medium"
                            ></i>Create Project</a
                        >
                        <a
                            href="javascript:void(0);"
                            class="btn btn-sm btn-secondary btn-wave"
                            ><i
                                class="ri-share-line align-middle fw-medium me-1"
                            ></i>Share</a
                        >
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4 gap-2 flex-wrap">
                        <div class="lh-1">
                            <span class="avatar avatar-lg me-1 bg-primary"
                                ><i class="ri-stack-line fs-24 lh-1"></i></span
                            >
                        </div>
                        <div>
                            <h6 class="fw-medium mb-2">E-commerce Platform</h6>
                            <span class="badge bg-success-transparent">
                                In progress</span
                            >
                            <span class="text-muted fs-12"
                                ><i
                                    class="ri-circle-fill text-success mx-2 fs-9"
                                ></i>Last Updated 1 Day Ago</span
                            >
                        </div>
                        <div class="ms-auto align-self-start">
                            <div class="dropdown">
                                <a
                                    aria-label="anchor"
                                    href="javascript:void(0);"
                                    class="btn btn-icon btn-sm btn-primary-light"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <i class="fe fe-more-vertical"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i
                                                class="ri-eye-line align-middle me-1 d-inline-block"
                                            ></i>View</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i
                                                class="ri-edit-line align-middle me-1 d-inline-block"
                                            ></i>Edit</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i
                                                class="ri-delete-bin-line me-1 align-middle d-inline-block"
                                            ></i>Delete</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fs-15 fw-medium mb-2">
                        Project Description :
                    </div>
                    <p class="text-muted mb-4">
                        The Customer Feedback Dashboard Development project aims
                        to create a comprehensive dashboard that aggregates and
                        visualizes customer feedback data. This will enable our
                        team to gain actionable insights and improve customer
                        satisfaction.
                    </p>
                    <div class="d-flex gap-5 mb-4 flex-wrap">
                        <div class="d-flex align-items-center gap-2 me-3">
                            <span
                                class="avatar avatar-md avatar-rounded me-1 bg-success"
                                ><i
                                    class="ri-calendar-event-line fs-18 lh-1 align-middle"
                                ></i></span
                            >
                            <div>
                                <div class="fw-medium mb-0">Start Date</div>
                                <span class="fs-12 text-muted"
                                    >March 1, 2025</span
                                >
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-2 me-3">
                            <span
                                class="avatar avatar-md avatar-rounded me-1 bg-info"
                                ><i class="ri-time-line fs-18 lh-1 align-middle"
                                ></i></span
                            >
                            <div>
                                <div class="fw-medium mb-0">End Date</div>
                                <span class="fs-12 text-muted"
                                    >July 15, 2025</span
                                >
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <span class="avatar avatar-md avatar-rounded me-1"
                                ><Image src={face11} alt="face11" /></span
                            >
                            <div>
                                <span class="d-block fs-14 fw-medium"
                                    >John Smith</span
                                >
                                <span class="fs-12 text-muted"
                                    >Project Manager</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="row gy-3">
                            <div class="col-xl-12">
                                <div class="fs-15 fw-medium mb-2">
                                    Key tasks :
                                </div>
                                <ul class="task-details-key-tasks mb-0">
                                    <li>
                                        Initial planning phase of the project
                                        including scoping and goal setting.
                                    </li>
                                    <li>
                                        Designing the product layout,
                                        wireframes, and UI elements.
                                    </li>
                                    <li>
                                        Coding and development of the website
                                        interface, functionality, and
                                        integration.
                                    </li>
                                    <li>
                                        Testing the product and website for bugs
                                        and quality assurance checks.
                                    </li>
                                    <li>
                                        Deploy the final product to the live
                                        server.
                                    </li>
                                    <li>
                                        Perform usability testing and iterate
                                        based on feedback.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-12">
                                <div
                                    class="d-flex align-items-center justify-content-between mb-2"
                                >
                                    <div class="fs-15 fw-medium">
                                        Sub Tasks :
                                    </div>
                                    <a
                                        href="javascript:void(0);"
                                        class="btn btn-primary-light btn-wave btn-sm"
                                        >See More</a
                                    >
                                </div>
                                <ul class="list-group">
                                    {
                                        Tasks.map((task) => (
                                            <li class="list-group-item">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2">
                                                        <i class="ri-link fs-15 lh-1 p-1 bg-primary-transparent rounded-circle" />
                                                    </div>
                                                    <div class="fw-medium">
                                                        {task.title}
                                                    </div>
                                                </div>
                                            </li>
                                        ))
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fs-15 fw-medium mb-2">Skills :</div>
                    <div class="d-flex gap-2 flex-wrap">
                        {
                            Badges.map((badge) => (
                                <span class={`badge ${badge.className}`}>
                                    {badge.label}
                                </span>
                            ))
                        }
                    </div>
                </div>
                <div class="card-footer">
                    <div
                        class="d-flex align-items-center justify-content-between gap-2 flex-wrap"
                    >
                        <div class="d-flex gap-3 align-items-center">
                            <span class="fs-12">Assigned To :</span>
                            <div class="avatar-list-stacked">
                                <span
                                    class="avatar avatar-sm avatar-rounded"
                                    data-bs-toggle="tooltip"
                                    data-bs-custom-class="tooltip-primary"
                                    data-bs-original-title="John"
                                >
                                    <Image src={face2} alt="img" />
                                </span>
                                <span
                                    class="avatar avatar-sm avatar-rounded"
                                    data-bs-toggle="tooltip"
                                    data-bs-custom-class="tooltip-primary"
                                    data-bs-original-title="Emily"
                                >
                                    <Image src={face8} alt="img" />
                                </span>
                                <span
                                    class="avatar avatar-sm avatar-rounded"
                                    data-bs-toggle="tooltip"
                                    data-bs-custom-class="tooltip-primary"
                                    data-bs-original-title="Liam"
                                >
                                    <Image src={face5} alt="img" />
                                </span>
                                <span
                                    class="avatar avatar-sm avatar-rounded"
                                    data-bs-toggle="tooltip"
                                    data-bs-custom-class="tooltip-primary"
                                    data-bs-original-title="Sophia"
                                >
                                    <Image src={face10} alt="img" />
                                </span>
                                <span
                                    class="avatar avatar-sm avatar-rounded"
                                    data-bs-toggle="tooltip"
                                    data-bs-custom-class="tooltip-primary"
                                    data-bs-original-title="Charlotte"
                                >
                                    <Image src={face15} alt="img" />
                                </span>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <span class="fs-12">Status :</span>
                            <span class="d-block"
                                ><span class="badge bg-info">On going</span
                                ></span
                            >
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <span class="fs-12">Priority :</span>
                            <span class="d-block fs-14 fw-medium"
                                ><span class="badge bg-secondary">Medium</span
                                ></span
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="card custom-card overflow-hidden">
                <div class="card-header justify-content-between">
                    <div class="card-title">Project Documents</div>
                    <div class="dropdown">
                        <div
                            class="btn btn-light btn-full btn-sm"
                            data-bs-toggle="dropdown"
                        >
                            View All<i class="ti ti-chevron-down ms-1"></i>
                        </div>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="javascript:void(0);">Download</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="javascript:void(0);">Import</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="javascript:void(0);">Export</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        {
                            Filedocument.map((file) => (
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                        <div class="lh-1">
                                            <span
                                                class={`avatar avatar-md avatar-rounded ${file.avatarClass} bg-light lh-1`}
                                            >
                                                <Image
                                                    src={file.img}
                                                    alt={file.name}
                                                />
                                            </span>
                                        </div>
                                        <div class="flex-fill">
                                            <a href="javascript:void(0);">
                                                <span class="d-block fw-medium">
                                                    {file.name}
                                                </span>
                                            </a>
                                            <span class="d-block text-muted fs-12 fw-normal">
                                                {file.size}
                                            </span>
                                        </div>
                                        <div class="btn-list">
                                            <button class="btn btn-sm btn-icon btn-info-light btn-wave">
                                                <i class="ri-edit-line" />
                                            </button>
                                            <button class="btn btn-sm btn-icon btn-danger-light btn-wave">
                                                <i class="ri-delete-bin-line" />
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="card custom-card justify-content-between">
                <div class="card-header">
                    <div class="card-title">Project Discussions</div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled project-timeline">
                        {
                            TimelineMessages.map((msg) => (
                                <li>
                                    <div>
                                        <span class="avatar avatar-sm avatar-rounded project-timeline-avatar">
                                            <Image
                                                width={28}
                                                height={28}
                                                src={msg.avatar}
                                                alt={msg.name}
                                            />
                                        </span>
                                        <div class="mb-2 d-flex align-items-start gap-2 flex-wrap">
                                            <div>
                                                <span class="fw-medium">{`${msg.name} (${msg.role})`}</span>
                                            </div>
                                            <span class="ms-auto bg-light text-default badge">
                                                {msg.time}
                                            </span>
                                        </div>
                                        <p class="text-muted mb-2">
                                            {msg.message}
                                        </p>
                                        {msg.attachment && (
                                            <p class="project-activity-media mb-0">
                                                <a href="javascript:void(0);">
                                                    <Image
                                                        width={64}
                                                        height={64}
                                                        src={msg.attachment.img}
                                                        alt="attachment"
                                                        class="img-fluid bg-light"
                                                    />
                                                </a>
                                                <span class="fs-11 text-muted">
                                                    {msg.attachment.size}
                                                </span>
                                            </p>
                                        )}
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="d-sm-flex align-items-center lh-1">
                        <div
                            class="me-sm-2 mb-2 mb-sm-0 p-1 rounded-circle bg-primary-transparent d-inline-block"
                        >
                            <Image
                                src={face5}
                                alt="face5"
                                class="avatar avatar-sm avatar-rounded"
                            />
                        </div>
                        <div class="flex-fill">
                            <div class="input-group flex-nowrap ">
                                <input
                                    type="text"
                                    class="form-control custom-projectsOverview-input border shadow-none"
                                    placeholder="Share your thoughts"
                                    aria-label="Recipient's username with two button addons"
                                />
                                <button
                                    class="btn btn-primary-light btn-sm btn-wave"
                                    type="button"
                                    ><i class="bi bi-emoji-smile"></i></button
                                >
                                <button
                                    class="btn btn-primary-light btn-sm btn-wave"
                                    type="button"
                                    ><i class="bi bi-paperclip"></i></button
                                >
                                <button
                                    class="btn btn-primary-light btn-sm btn-wave"
                                    type="button"
                                    ><i class="bi bi-camera"></i></button
                                >
                                <button
                                    class="btn btn-primary btn-wave text-nowrap"
                                    type="button">Post</button
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card custom-card overflow-hidden">
                <div class="card-header justify-content-between">
                    <div class="card-title">To Do Tasks</div>
                    <div class="btn btn-sm btn-primary-light btn-wave">
                        <i class="ri-add-line align-middle me-1 fw-medium"
                        ></i>Add Task
                    </div>
                </div>
                <div class="card-body p-0 position-relative" id="todo-content">
                    <div>
                        <div class="table-responsive">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <input
                                                class="form-check-input check-all"
                                                type="checkbox"
                                                id="all-tasks"
                                                value=""
                                                aria-label="..."
                                            />
                                        </th>
                                        <th class="todolist-handle-drag"> </th>
                                        <th scope="col">Task Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="todo-drag">
                                    {
                                        TodoItems.map((item, index) => (
                                            <tr class="todo-box">
                                                <td
                                                    class={`task-checkbox ${index === TodoItems.length - 1 ? "border-bottom-0" : ""}`}
                                                >
                                                    <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value=""
                                                        aria-label="..."
                                                        checked={item.checked}
                                                    />
                                                </td>
                                                <td
                                                    class={
                                                        index ===
                                                        TodoItems.length - 1
                                                            ? "border-bottom-0"
                                                            : ""
                                                    }
                                                >
                                                    <button class="btn btn-icon btn-sm btn-wave btn-light todo-handle">
                                                        : :
                                                    </button>
                                                </td>
                                                <td
                                                    class={
                                                        index ===
                                                        TodoItems.length - 1
                                                            ? "border-bottom-0"
                                                            : ""
                                                    }
                                                >
                                                    <div class="fw-medium todo-task-title">
                                                        {item.title}
                                                    </div>
                                                </td>
                                                <td
                                                    class={
                                                        index ===
                                                        TodoItems.length - 1
                                                            ? "border-bottom-0"
                                                            : ""
                                                    }
                                                >
                                                    <span
                                                        class={`badge ${item.badgeClass}`}
                                                    >
                                                        <i class="ri-circle-line fw-semibold fs-7 me-2 lh-1 align-middle" />
                                                        {item.status}
                                                    </span>
                                                </td>
                                                <td
                                                    class={
                                                        index ===
                                                        TodoItems.length - 1
                                                            ? "border-bottom-0"
                                                            : ""
                                                    }
                                                >
                                                    {" "}
                                                    {item.date}{" "}
                                                </td>
                                                <td
                                                    class={`text-end ${index === TodoItems.length - 1 ? "border-bottom-0" : ""}`}
                                                >
                                                    <div class="d-flex gap-2">
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-icon btn-sm btn-info-light btn-wave"
                                                        >
                                                            <i class="ri-edit-line" />
                                                        </a>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-icon btn-sm btn-danger-light btn-wave"
                                                        >
                                                            <i class="ri-delete-bin-line" />
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        ))
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->
    <script>
        import "../../../scripts/libs/dragula/dragula.min.js";
        import "../../../scripts/js/custom.js";
        import "../../../scripts/js/project-overview.js";
    </script>
</Layout>
