---
import Layout from "../../layouts/Layout.astro";
import Pageheader from "../../components/Pageheader.astro";
import { Image } from "astro:assets";
import "../../scripts/libs/swiper/swiper-bundle.min.css";
import {
    Reviews,
    CustomReviews,
    Testimonials3,
    Testimonialsdata,
} from "../../shared/data/pages/testimonialsdata";
import SpkTestimonialcard from "../../shared/@spk-reusable-components/reusable-pages/spk-testimonialcard.astro";
import SpkTeststylecard from "../../shared/@spk-reusable-components/reusable-pages/spk-teststylecard.astro";
---

<Layout Seo="Testimonials">
    <Pageheader
        title="Pages"
        currentpage="Testimonials"
        activepage="Testimonials"
    />
    <!-- Start::row-1 -->
    <div class="row gy-5">
        <div class="col-xl-12">
            <div class="testimonials-heading-section text-center mb-5">
                <span class="badge bg-primary-transparent rounded-pill">
                    Testimonials Style 1
                </span>
                <h2 class="fw-semibold mt-2 mb-1">What Our Clients Say</h2>
                <span class="d-block text-muted fs-16 mb-3"
                    >Real feedback from customers who trust our services.</span
                >
            </div>
            <div class="swiper testimonialSwiperService1 testimonial-style1">
                <div class="swiper-wrapper">
                    {
                        Reviews.map((review) => (
                            <div class="swiper-slide">
                                <SpkTestimonialcard test={review} />
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="testimonials-heading-section text-center mb-5">
                <span class="badge bg-primary-transparent rounded-pill">
                    Testimonials Style 2
                </span>
                <h2 class="fw-semibold mt-2 mb-1">Customer Testimonials</h2>
                <span class="d-block text-muted fs-16 mb-3"
                    >Hear how we've made a difference in our clients’ lives.</span
                >
            </div>
            <div
                class="swiper pagination-dynamic testimonialSwiperService testimonials-swiper-2"
            >
                <div class="swiper-wrapper">
                    {
                        CustomReviews.map((review) => (
                            <div class="swiper-slide">
                                <SpkTeststylecard
                                    cardClass={review.color}
                                    style={review}
                                />
                            </div>
                        ))
                    }
                </div>
                <div
                    class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
                >
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="testimonials-heading-section text-center mb-5">
                <span class="badge bg-primary-transparent rounded-pill">
                    Testimonials Style 3
                </span>
                <h2 class="fw-semibold mt-2 mb-1">Client Feedback</h2>
                <span class="d-block text-muted fs-16 mb-3"
                    >Discover why our clients choose us time and again.</span
                >
            </div>
            <div class="swiper testimonialSwiper3">
                <div class="swiper-wrapper">
                    {
                        Testimonials3.map((testimonial) => (
                            <div class="swiper-slide">
                                <div class="card custom-card">
                                    <div class="card-body text-center p-5">
                                        <div class="testimonaial-3-quote">
                                            <i class="bx bxs-quote-alt-left" />
                                        </div>
                                        <div class="lh-1 mb-4">
                                            <span class="avatar avatar-xl avatar-rounded">
                                                <Image
                                                    src={testimonial.image}
                                                    alt="img"
                                                />
                                            </span>
                                        </div>
                                        <div class="mb-2 text-warning fs-15">
                                            {[...Array(5)].map((_, index) => (
                                                <i
                                                    class={`me-1 ri-star-fill ${index < Math.floor(testimonial.rating) ? "" : "ri-star-half-line"}`}
                                                />
                                            ))}
                                        </div>
                                        <p>{testimonial.text}</p>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="flex-grow-1">
                                                <h6 class="mb-1">
                                                    {testimonial.name}
                                                </h6>
                                                <span class="fs-14 fw-normal text-muted">
                                                    {testimonial.role}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="testimonials-heading-section text-center mb-5">
                <span class="badge bg-primary-transparent rounded-pill">
                    Testimonials Style 4
                </span>
                <h2 class="fw-semibold mt-2 mb-1">
                    Real Stories from Real Clients
                </h2>
                <span class="d-block text-muted fs-16 mb-3"
                    >Authentic testimonials from customers sharing their
                    success.</span
                >
            </div>
            <div class="swiper testimonialSwiper1 testimonial-style4">
                <div class="swiper-wrapper">
                    {
                        Testimonialsdata.map((testimonial) => (
                            <div class="swiper-slide">
                                <div
                                    class={`card custom-card ${testimonial.cardClass}`}
                                >
                                    <div class="card-body p-5">
                                        <div class="lh-1">
                                            <span class="avatar avatar-xxl avatar-rounded">
                                                <Image
                                                    width={80}
                                                    height={80}
                                                    src={testimonial.image}
                                                    alt={testimonial.name}
                                                />
                                            </span>
                                        </div>
                                        <div>
                                            <div class="main-content">
                                                <div class="mb-2 text-warning fs-15">
                                                    {[...Array(5)].map(
                                                        (_, index) => (
                                                            <i
                                                                
                                                                class={`me-1 ri-star-fill ${index < Math.floor(testimonial.rating) ? "" : "ri-star-half-line"}`}
                                                            />
                                                        ),
                                                    )}
                                                </div>
                                                <p class="text-muted mb-3">
                                                    {testimonial.text}
                                                </p>
                                                <div>
                                                    <span class="d-block fw-semibold">
                                                        {testimonial.name}
                                                    </span>
                                                    <span class="fs-13 text-muted">
                                                        {testimonial.role}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->
    <script>
        import "../../scripts/js/custom.js";
        import "../../scripts/js/reviews.js";
    </script>
</Layout>
