@page "/apexcharts/timelinecharts"
@using ApexCharts

<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
<div class="d-flex align-center justify-content-between flex-wrap">
    <h1 class="page-title fw-medium fs-18 mb-0">Timeline Charts</h1>
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                Charts
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                Apex Charts
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Timeline Charts</li>
    </ol>
</div>
</div>
<!-- End::page-header -->

<!-- Start::row-1 -->
<div class="row">
<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Basic Timeline Chart</div>
        </div>
        <div class="card-body">
            <div id="timeline-basic">
                <ApexChart TItem="BasicTImeline" Height="320" Options=BasicTImelineoptions XAxisType="XAxisType.Datetime">
                    <ApexRangeSeries TItem="BasicTImeline" Items="BasicTImelineChart" XValue="@(e => e.Name)" YMinValue="@(e =>e.StartDate.ToUnixTimeMilliseconds())" YMaxValue="@(e =>e.EndDate.ToUnixTimeMilliseconds())" />
                </ApexChart>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Multiple Colored Timeline Chart</div>
        </div>
        <div class="card-body">
            <div id="timeline-colors">
            <ApexChart TItem="MultiColoredTImeline" Height="320" Options=MultiColoredTImelineoptions XAxisType="XAxisType.Datetime">
                <ApexRangeSeries TItem="MultiColoredTImeline" Items="MultiColoredTImelineChart" XValue="@(e => e.Name)" YMinValue="@(e =>e.StartDate.ToUnixTimeMilliseconds())" YMaxValue="@(e =>e.EndDate.ToUnixTimeMilliseconds())" PointColor="e=> e.PointColor" />
            </ApexChart>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Multi Series Timeline Chart</div>
        </div>
        <div class="card-body">
            <div id="timeline-multi">
                <ApexChart TItem="Activity" Height="320" Options=MultiseriesTImelineoptions XAxisType="XAxisType.Datetime">
                    @foreach (var personGroup in activities.GroupBy(e => e.Person))
                    {
                        <ApexRangeSeries TItem="Activity" Items="personGroup" XValue="@(e=> e.Name)" YMinValue="@(e=> e.Start.ToUnixTimeMilliseconds())" YMaxValue="@(e=> e.End.ToUnixTimeMilliseconds())" Name="@personGroup.Key" />
                    }
                </ApexChart>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Advanced Timeline Chart</div>
        </div>
        <div class="card-body">
            <div id="timeline-advanced">
                <ApexChart TItem="Activity2" Height="320" Options=AdvancedTImelineoptions XAxisType="XAxisType.Datetime">
                    @foreach (var personGroup2 in activities2.GroupBy(e => e.Person2))
                    {
                        <ApexRangeSeries TItem="Activity2" Items="personGroup2" XValue="@(e=> e.Name)" YMinValue="@(e=> e.Start.ToUnixTimeMilliseconds())" YMaxValue="@(e=> e.End.ToUnixTimeMilliseconds())" Name="@personGroup2.Key" />
                    }
                </ApexChart>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Timeline-Grouped Rows</div>
        </div>
        <div class="card-body">
            <div id="timeline-grouped">
                <ApexChart TItem="Activity3" Height="320" Options=GroupedTImelineoptions XAxisType="XAxisType.Datetime">
                    @foreach (var personGroup3 in activities3.GroupBy(e => e.Person3))
                    {
                        <ApexRangeSeries TItem="Activity3" Items="personGroup3" XValue="@(e=> e.Name)" YMinValue="@(e=> e.Start.ToUnixTimeMilliseconds())" YMaxValue="@(e=> e.End.ToUnixTimeMilliseconds())" Name="@personGroup3.Key" />
                    }
                </ApexChart>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Dumbbell Chart</div>
        </div>
        <div class="card-body">
            <div id="dumbbell-chart">
            <ApexChart TItem="DumbbellChartItem"
                    Height="320"
                    Options="DumbbellChartOptions"
                    XAxisType="XAxisType.Numeric">
                <ApexRangeSeries TItem="DumbbellChartItem"
                                Items="DumbbellChartData"
                                XValue="@(e => e.Department)"
                                YMinValue="@(e => e.Min)"
                                YMaxValue="@(e => e.Max)" /> 
            </ApexChart>
            </div>
        </div>
    </div>
</div>
</div>
<!--End::row-1 -->

<!-- Used For Multiple Colored TImeline Chart -->
<script src="../assets/libs/moment/moment.js"></script>

@code {

    // Basic TImeline Chart Start //
    private List<BasicTImeline> BasicTImelineChart { get; set; } = BasicTImelineData.GetBasicTImelines();
    private ApexChartOptions<BasicTImeline> BasicTImelineoptions { get; set; } = new();
    public class BasicTImeline
    {
        public string? Name { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
    }

    public static class BasicTImelineData
    {
        public static List<BasicTImeline> GetBasicTImelines()
        {
            return new List<BasicTImeline>
            {
                new BasicTImeline { Name = "Code", StartDate = new DateTime(2019, 3, 2), EndDate = new DateTime(2019, 3, 4) },
                new BasicTImeline { Name = "Test", StartDate = new DateTime(2019, 3, 4), EndDate = new DateTime(2019, 3, 8) },
                new BasicTImeline { Name = "Validation", StartDate = new DateTime(2019, 3, 8), EndDate = new DateTime(2019, 3, 12) },
                new BasicTImeline { Name = "Deployment", StartDate = new DateTime(2019, 3, 12), EndDate = new DateTime(2019, 3, 18) },
            };
        }
    }

    //  Basic TImeline Chart End //

    // MultiColored Timeline Chart Start
    private List<MultiColoredTImeline> MultiColoredTImelineChart { get; set; } = MultiColoredTImelineData.GetMultiColoredTImelines();

    private ApexChartOptions<MultiColoredTImeline> MultiColoredTImelineoptions { get; set; } = new();

    public class MultiColoredTImeline
    {
        public string? Name { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string? PointColor { get; set; }
    }

    public static class MultiColoredTImelineData
    {
        public static List<MultiColoredTImeline> GetMultiColoredTImelines()
        {
            return new List<MultiColoredTImeline>
            {
                new MultiColoredTImeline
                {
                    Name = "Analysis",
                    StartDate = new DateTime(2019, 2, 27),
                    EndDate = new DateTime(2019, 3, 4),
                    PointColor = "#985ffd"
                },
                new MultiColoredTImeline
                {
                    Name = "Design",
                    StartDate = new DateTime(2019, 3, 4),
                    EndDate = new DateTime(2019, 3, 8),
                    PointColor = "#ff49cd"
                },
                new MultiColoredTImeline
                {
                    Name = "Coding",
                    StartDate = new DateTime(2019, 3, 7),
                    EndDate = new DateTime(2019, 3, 10),
                    PointColor = "#fdaf22"
                },
                new MultiColoredTImeline
                {
                    Name = "Testing",
                    StartDate = new DateTime(2019, 3, 8),
                    EndDate = new DateTime(2019, 3, 12),
                    PointColor = "#32d484"
                },
                new MultiColoredTImeline
                {
                    Name = "Deployment",
                    StartDate = new DateTime(2019, 3, 12),
                    EndDate = new DateTime(2019, 3, 17),
                    PointColor = "#00c9ff"
                }
            };
        }
    }
    // MultiColored Timeline Chart End


    // Multiseries TImeline Chart Start //
    private List<Activity> activities { get; set; } = new();
    private ApexChartOptions<Activity> MultiseriesTImelineoptions { get; set; } = new();
    private class Activity
    {
        public string? Person { get; set; }
        public string? Name { get; set; }
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
    }
    //  Multiseries TImeline Chart End //

    // Advanced TImeline Chart Start //
    private List<Activity2> activities2 { get; set; } = new();
    private ApexChartOptions<Activity2> AdvancedTImelineoptions { get; set; } = new();
    private class Activity2
    {
        public string? Person2 { get; set; }
        public string? Name { get; set; }
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
    }
    //  Advanced TImeline Chart End //

    // Grouped TImeline Chart Start //
    private List<Activity3> activities3 { get; set; } = new();
    private ApexChartOptions<Activity3> GroupedTImelineoptions { get; set; } = new();
    private class Activity3
    {
        public string? Person3 { get; set; }
        public string? Name { get; set; }
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
    }
    //  Grouped TImeline Chart End //

     // Dumbbell chart
    public class DumbbellChartItem
    {
        public string Department { get; set; } = string.Empty;
        public decimal Min { get; set; }
        public decimal Max { get; set; }
    }
    private ApexChartOptions<DumbbellChartItem> DumbbellChartOptions { get; set; } = new();

    private List<DumbbellChartItem> DumbbellChartData { get; set; } = new()
    {
        new DumbbellChartItem { Department = "Operations", Min = 2800, Max = 4500 },
        new DumbbellChartItem { Department = "Customer Success", Min = 3200, Max = 4100 },
        new DumbbellChartItem { Department = "Engineering", Min = 2950, Max = 7800 },
        new DumbbellChartItem { Department = "Marketing", Min = 3000, Max = 4600 },
        new DumbbellChartItem { Department = "Product", Min = 3500, Max = 4100 },
        new DumbbellChartItem { Department = "Data Science", Min = 4500, Max = 6500 },
        new DumbbellChartItem { Department = "Sales", Min = 4100, Max = 5600 }
    };

     // Dumbbell chart End


    protected override void OnInitialized()
    {
        BasicTImelineoptions = new ApexChartOptions<BasicTImeline>
        {
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#985ffd" }),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true
                }
            },
            Tooltip = new ApexCharts.Tooltip
            {
                X = new TooltipX
                {
                    Format = "dd MMM yyyy HH:mm"
                }
            },
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    }, 
                }
            },
        };
        
        MultiColoredTImelineoptions = new ApexChartOptions<MultiColoredTImeline>
        {
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Distributed= true,
                    Horizontal = true,
                    DataLabels = new() {
                        HideOverflowingLabels = false
                    }
                }
            },
            DataLabels = new ApexCharts.DataLabels
            {
                Enabled = true,
                Formatter = @"
                    function (val, opts) {
                        var label = opts.w.globals.labels[opts.dataPointIndex];
                        var a = moment(val[0]);
                        var b = moment(val[1]);
                        var diff = b.diff(a, 'days');
                        return label + ': ' + diff + (diff > 1 ? ' days' : ' day');
                    }
                ",
                Style= new()
                {
                    Colors = ["#f3f4f5", "#fff"],
                    FontSize = "12px"
                }
            },
            Tooltip = new ApexCharts.Tooltip 
            {
                X = new TooltipX
                {
                    Format = "dd MMM yyyy HH:mm"
                }
            },
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis 
                {
                    Show = false, 
                }
            },
        };

        DumbbellChartOptions = new ApexChartOptions<DumbbellChartItem>
        {
             Chart = new Chart
            {
                Height = 320,
                Type = ChartType.RangeBar,
            },
            Colors = new Color(new List<string> { "#985ffd", "#ff49cd" }),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true,
                    IsDumbbell = true,
                }
            },
            Title = new Title
            {
                Text = "Paygap Disparity"
            },
            Legend = new Legend
            {
                Show = true,
                ShowForSingleSeries = true,
                Position = LegendPosition.Top,
                HorizontalAlign = Align.Left,
                CustomLegendItems = new List<string> { "Female", "Male" }
            },
            Fill = new Fill
            {
                Type = FillType.Gradient,
                Gradient = new FillGradient
                {
                    GradientToColors = new List<string> { "#ff49cd" },
                    InverseColors = false,
                }
            },
        };

        activities.Add(new Activity { Person = "Bob", Name = "Design", Start = new DateTime(2019, 3, 5), End = new DateTime(2019, 3, 8) });
        activities.Add(new Activity { Person = "Bob", Name = "Code", Start = new DateTime(2019, 3, 8), End = new DateTime(2019, 3, 11) });
        activities.Add(new Activity { Person = "Bob", Name = "Test", Start = new DateTime(2019, 3, 11), End = new DateTime(2019, 3, 16) });
        activities.Add(new Activity { Person = "Joe", Name = "Design", Start = new DateTime(2019, 3, 2), End = new DateTime(2019, 3, 5) });
        activities.Add(new Activity { Person = "Joe", Name = "Code", Start = new DateTime(2019, 3, 6), End = new DateTime(2019, 3, 9) });
        activities.Add(new Activity { Person = "Joe", Name = "Test", Start = new DateTime(2019, 3, 10), End = new DateTime(2019, 3, 19) });

        MultiseriesTImelineoptions = new ApexChartOptions<Activity>
        {
            Colors = new Color(new List<string> { "#985ffd","#ff49cd" }),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true,
                }
            },
            DataLabels = new ApexCharts.DataLabels {
                Enabled = true,
                Formatter = "function(val) { return 'Label'; }"

            }, 
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
                Gradient = new ApexCharts.FillGradient {
                    ShadeIntensity = 0.25,
                    Shade = ApexCharts.GradientShade.Light,
                    Type = ApexCharts.GradientType.Vertical,
                    OpacityFrom = 1,
                    OpacityTo = 1,
                    Stops = [50, 0, 100, 100],
                }
            },
        };

        var date2 = DateTime.Now;
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Design", Start = new DateTime(2019, 3, 5), End = new DateTime(2019, 3, 8) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Code", Start = new DateTime(2019, 3, 2), End = new DateTime(2019, 3, 5) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Code", Start = new DateTime(2019, 3, 5), End = new DateTime(2019, 3, 7) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Test", Start = new DateTime(2019, 3, 3), End = new DateTime(2019, 3, 9) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Test", Start = new DateTime(2019, 3, 8), End = new DateTime(2019, 3, 11) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Validation", Start = new DateTime(2019, 3, 11), End = new DateTime(2019, 3, 16) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Design", Start = new DateTime(2019, 3, 1), End = new DateTime(2019, 3, 3) });

        activities2.Add(new Activity2 { Person2 = "Joe", Name = "Design", Start = new DateTime(2019, 3, 2), End = new DateTime(2019, 3, 5) });
        activities2.Add(new Activity2 { Person2 = "Joe", Name = "Code", Start = new DateTime(2019, 3, 3), End = new DateTime(2019, 3, 7) });
        activities2.Add(new Activity2 { Person2 = "Joe", Name = "Test", Start = new DateTime(2019, 3, 6), End = new DateTime(2019, 3, 10) });
        activities2.Add(new Activity2 { Person2 = "Joe", Name = "Test", Start = new DateTime(2019, 3, 10), End = new DateTime(2019, 3, 16) });
        activities2.Add(new Activity2 { Person2 = "Joe", Name = "Deployment", Start = new DateTime(2019, 3, 20), End = new DateTime(2019, 3, 22) });

        activities2.Add(new Activity2 { Person2 = "Dan", Name = "Code", Start = new DateTime(2019, 3, 10), End = new DateTime(2019, 3, 17) });
        activities2.Add(new Activity2 { Person2 = "Dan", Name = "Validation", Start = new DateTime(2019, 3, 5), End = new DateTime(2019, 3, 7) });
        activities2.Add(new Activity2 { Person2 = "Dan", Name = "Validation", Start = new DateTime(2019, 3, 7), End = new DateTime(2019, 3, 9) });



        AdvancedTImelineoptions = new ApexChartOptions<Activity2>
        {
            Colors = new Color(new List<string> { "#985ffd", "#ff49cd", "#fdaf22"}),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true,
                    RangeBarOverlap = true,
                    BarHeight = "80%"
                }
            },
            DataLabels = new ApexCharts.DataLabels {
                Enabled = true,
                Formatter = @"function (val) {
                    var a = moment(val[0])
                    var b = moment(val[1])
                    var diff = b.diff(a, 'days')
                    return diff + (diff > 1 ? ' days' : ' day')
                }",
            }, 
            Stroke = new Stroke { 
                Width = 1,
            }, 
            Fill = new Fill {
                Type = new List<FillType> { FillType.Solid},
                Opacity= 0.6
            },
            Legend = new Legend  { 
                Show=true,
                Position = LegendPosition.Top,
                HorizontalAlign = Align.Center,
            }, 
        };
        var date3 = DateTime.Now;
        activities3.Add(new Activity3 { Person3 = "George Washington", Name = "President", Start = date3.AddDays(-40), End = date3.AddDays(-30) });
        activities3.Add(new Activity3 { Person3 = "John Adams", Name = "President", Start = date3.AddDays(-30), End = date3.AddDays(-25) });
        activities3.Add(new Activity3 { Person3 = "Thomas Jefferson", Name = "President", Start = date3.AddDays(-25), End = date3.AddDays(-15) });

        activities3.Add(new Activity3 { Person3 = "John Adams", Name = "Vice President", Start = date3.AddDays(-40), End = date3.AddDays(-30) });
        activities3.Add(new Activity3 { Person3 = "Thomas Jefferson", Name = "Vice President", Start = date3.AddDays(-30), End = date3.AddDays(-25) });
        activities3.Add(new Activity3 { Person3 = "Aaron Burr", Name = "Vice President", Start = date3.AddDays(-25), End = date3.AddDays(-20) });
        activities3.Add(new Activity3 { Person3 = "George Clinton", Name = "Vice President", Start = date3.AddDays(-20), End = date3.AddDays(-10) });
        activities3.Add(new Activity3 { Person3 = "John Jay", Name = "Secretary of State", Start = date3.AddDays(-40), End = date3.AddDays(-38) });
        activities3.Add(new Activity3 { Person3 = "Thomas Jefferson", Name = "Secretary of State", Start = date3.AddDays(-38), End = date3.AddDays(-33) });
        activities3.Add(new Activity3 { Person3 = "Edmund Randolph", Name = "Secretary of State", Start = date3.AddDays(-33), End = date3.AddDays(-30) });
        activities3.Add(new Activity3 { Person3 = "Timothy Pickering", Name = "Secretary of State", Start = date3.AddDays(-30), End = date3.AddDays(-25) });
        activities3.Add(new Activity3 { Person3 = "Charles Lee", Name = "Secretary of State", Start = date3.AddDays(-25), End = date3.AddDays(-24) });
        activities3.Add(new Activity3 { Person3 = "John Marshall", Name = "Secretary of State", Start = date3.AddDays(-24), End = date3.AddDays(-21) });
        activities3.Add(new Activity3 { Person3 = "Levi Lincoln", Name = "Secretary of State", Start = date3.AddDays(-21), End = date3.AddDays(-20) });
        activities3.Add(new Activity3 { Person3 = "James Madison", Name = "Secretary of State", Start = date3.AddDays(-20), End = date3.AddDays(-10) });

        GroupedTImelineoptions = new ApexChartOptions<Activity3>
        {
            Colors = new Color(new List<string> {  "#985ffd", "#ff49cd", "#f4a742", "#fe5454", "#7b76fe",
            "#3F51B5", "#546E7A", "#D4526E", "#8D5B4C", "#F86624",
            "#D7263D", "#1B998B", "#2E294E", "#F46036", "#E2C044"}),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true,
                    RangeBarGroupRows = true,
                    RangeBarOverlap = true,
                    BarHeight = "50%"
                }
            },
            DataLabels = new ApexCharts.DataLabels {
                Enabled = true,
                Formatter = @"function (val) {
                    var a = moment(val[0])
                    var b = moment(val[1])
                    var diff = b.diff(a, 'days')
                    return diff + (diff > 1 ? ' days' : ' day')
                }",
            }, 
            Stroke = new Stroke { 
                Width = 1,
            }, 
            Legend = new Legend  { 
                Show=true,
                Position = LegendPosition.Right,
            }, 
        };
    }
}
