@page "/apexcharts/polarareacharts"
@using ApexCharts

<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">Apex Polar Area Charts</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">
                    Charts
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">
                    Apex Charts
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Apex Polar Area Charts</li>
        </ol>
    </div>
</div>
<!-- End::page-header -->


    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Basic Polar Area Chart</div>
                </div>
                <div class="card-body mx-auto mx-sm-0">
                    <div id="polararea-basic">
                        <ApexChart TItem="PolarAreachart" Height="300" Options=PolarAreaChartOptions>
                            <ApexPointSeries TItem="PolarAreachart" Items="PolarAreaItems"
                                SeriesType="SeriesType.PolarArea" XValue="@(e => e.SeriesData)"
                                YAggregate="@(e => e.Sum(e => e.SeriesValue))"
                                Stroke="@(new ApexCharts.SeriesStroke {Color = "#fff", Width = 2 })" />
                        </ApexChart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Polar Area Monochrome Chart</div>
                </div>
                <div class="card-body">
                    <div id="polararea-monochrome">
                        <ApexChart TItem="MonochromePolarAreachart" Height="300" Options=MonochromePolarAreaChartOptions>
                            <ApexPointSeries TItem="MonochromePolarAreachart" Items="MonochromePolarAreaItems"
                                SeriesType="SeriesType.PolarArea" XValue="@(e => e.MonochromeSeriesData)"
                                YAggregate="@(e => e.Sum(e => e.MonochromeSeriesValue))"
                                Stroke="@(new ApexCharts.SeriesStroke {Width = 1 })" />
                        </ApexChart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->

@code {
    // PolarAreaItems Start //
    private List<PolarAreachart> PolarAreaItems { get; set; } = DataPolarAreachart.PolarAreaItems();
    private ApexChartOptions<PolarAreachart> PolarAreaChartOptions { get; set; } = new();
    public static class DataPolarAreachart
    {
        public static List<PolarAreachart> PolarAreaItems()
        {
            List<PolarAreachart> PolarAreaItems = new List<PolarAreachart>
            {
                new PolarAreachart { SeriesValue = 14, SeriesData = "Series 1" },
                new PolarAreachart { SeriesValue = 23, SeriesData = "Series 2" },
                new PolarAreachart { SeriesValue = 21, SeriesData = "Series 3" },
                new PolarAreachart { SeriesValue = 17, SeriesData = "Series 4" },
                new PolarAreachart { SeriesValue = 15, SeriesData = "Series 5" },
                new PolarAreachart { SeriesValue = 10, SeriesData = "Series 6" },
                new PolarAreachart { SeriesValue = 12, SeriesData = "Series 7" },
                new PolarAreachart { SeriesValue = 17, SeriesData = "Series 8" },
                new PolarAreachart { SeriesValue = 21, SeriesData = "Series 9" },
            };
            return PolarAreaItems;
        }
    }
    public class PolarAreachart
    {
        public string? SeriesData { get; set; }
        public int SeriesValue { get; set; }
    }
    // PolarAreaItems End //

    // MonochromePolarAreaItems Start //
    private List<MonochromePolarAreachart> MonochromePolarAreaItems { get; set; } = DataMonochromePolarAreachart.MonochromePolarAreaItems();
    private ApexChartOptions<MonochromePolarAreachart> MonochromePolarAreaChartOptions { get; set; } = new();
    public static class DataMonochromePolarAreachart
    {
        public static List<MonochromePolarAreachart> MonochromePolarAreaItems()
        {
            List<MonochromePolarAreachart> MonochromePolarAreaItems = new List<MonochromePolarAreachart>
            {
                    new MonochromePolarAreachart { MonochromeSeriesValue = 42, MonochromeSeriesData = "Rose A" },
                    new MonochromePolarAreachart { MonochromeSeriesValue = 47, MonochromeSeriesData = "Rose B" },
                    new MonochromePolarAreachart { MonochromeSeriesValue = 52, MonochromeSeriesData = "Rose C" },
                    new MonochromePolarAreachart { MonochromeSeriesValue = 58, MonochromeSeriesData = "Rose D" },
                new MonochromePolarAreachart { MonochromeSeriesValue = 65, MonochromeSeriesData = "Rose E" },
            };
            return MonochromePolarAreaItems;
        }
    }
    public class MonochromePolarAreachart
    {
        public string? MonochromeSeriesData { get; set; }
        public int MonochromeSeriesValue { get; set; }
    }
    // MonochromePolarAreaItems End //
    
    protected override void OnInitialized() {
        PolarAreaChartOptions = new ApexChartOptions<PolarAreachart>
        {
            Colors = new Color(new List<string> { "var(--primary-color)", "#ff49cd", "#fdaf22", "#32d484", "#00c9ff", "#ff6757", "rgba(53, 181, 170,1)", "rgb(190, 43, 235)" }),

            Legend = new Legend
            {
                Position = LegendPosition.Bottom,
            },
            Grid = new Grid {
                Padding= new () {
                    Top = 20,
                    Bottom = 20
                }
            },

        };
        MonochromePolarAreaChartOptions = new ApexChartOptions<MonochromePolarAreachart>
        {
            Legend = new Legend
            {
                Position = LegendPosition.Bottom
            },
            Fill = new Fill {
                Opacity = 1
            },
            PlotOptions = new PlotOptions 
            {
                PolarArea = new PlotOptionsPolarArea 
                { 
                    Rings = new ()
                    {
                        StrokeWidth = 0
                    },
                    Spokes = new ()
                    {
                        StrokeWidth = 0
                    }
                }
            },
            Theme = new Theme {
                Monochrome = new ThemeMonochrome  {
                    Enabled= true,
                    ShadeIntensity = 0.6,
                    Color= "#985ffd",
                }
            }
        };
    }
}
