---
const { analytic, cardClass, bodyClass } = Astro.props;
---

<div class={`card custom-card ${cardClass}`}>
    <div class={`card-body ${bodyClass}`}>
        <div class="d-flex align-items-start gap-3">
            <div>
                <span
                    class={`avatar avatar-md bg-${analytic.svgColor} svg-white`}
                    set:html={analytic.svgIcon}
                />
            </div>
            <div>
                <span class="d-block text-muted">{analytic.title}</span>
                <h5 class="fw-semibold mb-1">{analytic.value}</h5>
                <div class="text-muted fs-12">
                    <span class={`text-${analytic.iconColor}`}
                        ><i class={analytic.icon}></i>{analytic.percent}</span
                    >
                    {analytic.year}
                </div>
            </div>
        </div>
    </div>
</div>
